.familyDetails .badge-count {
  position: absolute;
  bottom: 0px;
  right: 3px;
  background: #4fae50;
  border-radius: 20px;
  width: 20px;
  height: 20px; 
  color: #fff;
  z-index: 99;
  padding: 3px 7px;
}

.familyDetails .f-float, .familyDetails .f-event-details, .familyDetails .f-head, .familyDetails .f-sect, .familyDetails .f-poster, .familyDetails .f-poster-default, .familyDetails .f-page-overview, .familyDetails .f-page-overview .f-head h3, .familyDetails .f-page-overview .f-head h5, .familyDetails .f-page-overview .f-head span, .familyDetails .f-event-contents, .familyDetails .f-event-contents .f-switch-content, .familyDetails .f-event-contents .f-switch-content .f-title, .familyDetails .f-event-contents .f-switch-content .f-content, .familyDetails .f-event-contents .f-posts-filters, .familyDetails .f-event-contents .f-posts-filters .f-tab-ui, .familyDetails .f-event-contents .f-posts-filters .f-tab-ui .ant-radio-group {
  float: left;
  width: 100%;
}

.familyDetails .f-listland-card .ant-card-body .f-sect {
  padding-top: 15px;
}

.familyDetails .f-sect {
  padding-top: 30px;
}

.familyDetails .f-events-main {
  width: 100%;
  max-width: 720px;
  float: right;
  padding-left: 25px;
}

.familyDetails .f-poster {
  position: relative;
  min-height: 200px;
  background-color: #000;
}

.familyDetails .f-poster img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.familyDetails .f-poster .f-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 18px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, transparent 35%, transparent 70%, rgba(0, 0, 0, 0.4) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, transparent 35%, transparent 70%, rgba(0, 0, 0, 0.4) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, transparent 35%, transparent 70%, rgba(0, 0, 0, 0.4) 100%);
}

.familyDetails .f-poster .f-edit-poster-pic {
  position: absolute;
  right: 15px;
  z-index: 20;
  bottom: 15px;
  background-color: var(--green);
  height: 30px;
  width: 30px;
  border: none;
  color: #FFF;
  font-size: 1.1rem;
  padding: 0;
  box-shadow: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.familyDetails .f-poster .f-edit-poster-pic:hover {
  background-color: #FFF;
  color: var(--primary);
}

.familyDetails .f-poster .f-edit-pro-pic {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 20;
  width: 35px;
  height: 35px;
  line-height: 1;
  border-radius: 7px 0 0;
  padding: 0;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: #FFF;
}

.familyDetails .f-poster .f-edit-pro-pic:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFF;
}

.familyDetails .f-poster-default {
  display: flex;
  flex-direction: column;
  height: 350px;
  background-color: #000;
  align-items: center;
  justify-content: center;
}

.familyDetails .f-poster-default img {
  width: unset;
  max-width: 92px;
}

.familyDetails .f-poster-default h4, .familyDetails .f-poster-default p {
  color: #d0d0d0;
}

.familyDetails .f-poster-default h4 {
  font-size: 1.3rem;
  line-height: 1;
  margin: 20px 0 15px 0;
  font-weight: 500;
}

.familyDetails .f-poster-default p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

.familyDetails .f-poster-default + .f-overlay {
  display: none;
}

.familyDetails .f-page-overview {
  padding: 15px;
  border-radius: 0 0 5px 5px;
  background-color: #FFF;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.familyDetails .f-page-overview .f-display-pic {
  flex: 0 0 120px;
  height: 120px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 25px rgba(40, 53, 86, 0.1);
  margin-top: -40px;
  z-index: 30;
  background-color: #9a9a9a;
  overflow: hidden;
  margin-left: 5px;
  cursor: pointer;
}

.familyDetails .f-page-overview .f-display-pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.familyDetails .f-page-overview .f-logo-default {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.familyDetails .f-page-overview .f-logo-default img {
  width: 50px;
}

.familyDetails .f-page-overview .f-logo-default h4 {
  margin: 9px 0 3px;
  color: #d0d0d0;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1;
}

.familyDetails .f-page-overview .f-logo-default p {
  margin: 0;
  color: #d0d0d0;
  font-size: 0.7rem;
  line-height: 1;
}

.familyDetails .f-page-overview .f-head {
  padding: 0 15px 0 20px;
}

.familyDetails .f-page-overview .f-head h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0 0 5px;
  color: var(--primary);
}

.familyDetails .f-page-overview .f-head h5 {
  font-weight: 500;
  line-height: 1.2;
  background-repeat: no-repeat;
  font-size: 0.9rem;
  color: var(--heading);
  margin: 0 0 5px;
}

.familyDetails .f-page-overview .f-head h5.f-time {
  background-image: url(../../../assets/images/icon/timer.png);
  background-position: left top 4px;
}

.familyDetails .f-page-overview .f-head h5.f-location {
  background-image: url(../../../assets/images/icon/location.png);
  background-position: left 0px top 1px;
  padding: 2px 0 2px 23px;
  margin: 3px 0 0;
  min-height: 21px;
}

.familyDetails .f-page-overview .f-head h5 em {
  font-weight: 400;
  font-style: normal;
  color: var(--text);
}

.familyDetails .f-page-overview .f-head span {
  display: flex;
  color: var(--text);
  font-size: 0.85rem;
  line-height: 1;
  margin: 15px 0 5px;
}

.familyDetails .f-page-overview .f-head span strong {
  color: var(--green);
  padding-right: 5px;
}

.familyDetails .f-page-overview .f-head span strong + strong {
  margin-left: 25px;
}

.familyDetails .f-edit-family {
  border: 1px solid #d6d6d6;
  background-color: #f4f4f4;
  border-radius: 5px;
  color: #626262;
  padding: 0;
  flex: 0 0 35px;
  height: 35px;
  line-height: 1;
  font-size: 1.1rem;
  margin-top: auto;
  min-width: 35px;
}

.familyDetails .f-edit-family.f-alt-ef1 {
  flex: 0 0 70px;
  font-size: 0.85rem;
  background-color: var(--button);
  color: #FFF;
  border: none;
}

.familyDetails .f-event-contents {
  border: 1px solid #eaeaea;
  float: left;
  background-color: #FFF;
  padding: 15px;
  border-radius: 5px;
}

.familyDetails .f-event-contents.f-blanco {
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.familyDetails .f-event-contents .f-head {
  border-bottom: 1px solid #eff0f1;
  padding-bottom: 20px;
}

.familyDetails .f-event-contents .f-about-carousel {
  float: left;
  width: 210px;
  position: relative;
  max-width: 100%;
  margin: 7px 10px 0 0;
}

.familyDetails .f-event-contents .f-about-carousel .slick-slide > div {
  float: left;
  width: 100%;
  text-align: center;
}

.familyDetails .f-event-contents .f-about-carousel .slick-slide img {
  display: inline-block !important;
  vertical-align: text-bottom;
}

.familyDetails .f-event-contents .f-about-carousel .ant-carousel .slick-dots {
  position: relative;
  bottom: unset;
  float: left;
  width: 100%;
  height: 12px;
  margin-top: 10px;
}

.familyDetails .f-event-contents .f-about-carousel .ant-carousel .slick-dots li button {
  width: 10px;
  height: 10px;
  background-color: #dbdbdb;
  border-radius: 50%;
  margin: 0 2px;
  opacity: 1;
}

.familyDetails .f-event-contents .f-about-carousel .ant-carousel .slick-dots li.slick-active button {
  width: 10px;
  background: var(--green);
  opacity: 1;
}

.familyDetails .f-event-contents .f-switch-content {
  margin-top: 5px;
  overflow-wrap: break-word;
}

.familyDetails .f-event-contents .f-switch-content .f-title {
  margin-bottom: 5px;
}

.familyDetails .f-event-contents .f-switch-content .f-title h3 {
  float: left;
  width: 100%;
  font-size: 1.15rem;
  font-weight: 600;
  margin: 0;
  line-height: 1;
  color: var(--heading);
  display: flex;
  align-items: center;
}

.familyDetails .f-event-contents .f-switch-content .f-title .f-title-edit {
  height: 20px;
  line-height: 1;
  padding: 0;
  background-image: url(../../../assets/images/icon/edit_g.png);
  background-color: transparent !important;
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-left: 20px;
}

.familyDetails .f-event-contents .f-switch-content .f-content p {
  margin: 0;
  color: #53585c;
  font-size: 0.9rem;
  line-height: 1.75;
}

.familyDetails .f-event-contents .f-switch-content .f-content p + p {
  margin-top: 20px;
}

.familyDetails .f-event-contents .f-switch-content .f-content + .f-title {
  margin-top: 20px;
}

.familyDetails .f-event-contents .f-posts-filters {
  margin-bottom: 20px;
}

.familyDetails .f-event-contents .f-posts-filters .f-tab-ui {
  margin-bottom: 0;
  background-color: #FFF;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 0 15px;
}

.familyDetails .f-event-contents .f-posts-filters .f-tab-ui .ant-radio-group {
  display: flex;
  justify-content: space-around;
}

.familyDetails .f-event-contents .f-posts-filters .f-tab-ui .ant-radio-group .ant-radio {
  display: none;
}

.familyDetails .f-event-contents .f-posts-filters .f-tab-ui .ant-radio-group .ant-radio + span {
  padding: 0;
  user-select: none;
}

.familyDetails .f-event-contents .f-posts-filters .f-tab-ui .ant-radio-group .ant-radio-wrapper {
  margin: 0;
  padding: 18px 15px;
  font-weight: 400;
  color: var(--text);
  line-height: 1;
}

.familyDetails .f-event-contents .f-posts-filters .f-tab-ui .ant-radio-group .ant-radio-wrapper:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  margin: 0 auto;
  height: 2px;
  background-color: transparent;
  transition: all ease-in-out 0.2s;
}

.familyDetails .f-event-contents .f-posts-filters .f-tab-ui .ant-radio-group .ant-radio-wrapper-checked {
  font-weight: 600;
  color: var(--green);
}

.familyDetails .f-event-contents .f-posts-filters .f-tab-ui .ant-radio-group .ant-radio-wrapper-checked:after {
  background-color: var(--green);
  width: 100%;
}

.familyDetails .f-familhy-unfold {
  background-color: transparent !important;
  border: none;
  padding: 0 0 0 6px;
  box-shadow: none;
  height: 50px;
  width: 45px;
  font-size: 1.5rem;
  float: left;
  color: var(--primary) !important;
  text-align: left;
}

.f-invite-other {
  float: left;
  width: 100%;
}

.f-invite-other .f-inv-title {
  float: left;
  width: 100%;
  text-align: center;
}

.f-invite-other .f-inv-title img {
  width: 100%;
  max-width: 200px;
}

.f-invite-other .f-inv-title h4 {
  float: left;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1;
  margin: 20px 0 5px;
}

.f-invite-other .f-inv-title p {
  float: left;
  width: 100%;
}

.f-invite-other .f-inv-left {
  float: left;
  margin-bottom: 30px;
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.f-invite-other .f-inv-left .f-button {
  min-width: 120px;
}

.f-invite-other .f-inv-left .f-form-control {
  max-width: 450px;
}

@media only screen and (min-width: 1040px) {
  .familyDetails .f-famil-calendar .f-boxed-calendar .f-calendar-search {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1040px) {
  .familyDetails .f-events-main {
    max-width: 100%;
    padding-left: 0;
  }
  .familyDetails .f-poster {
    min-height: 175px;
  }
  .familyDetails .f-poster .f-display-pic {
    right: 0;
    margin: auto;
    left: 0;
  }
  .familyDetails .f-familhy-unfold {
    display: inline-block !important;
  }
  .familyDetails .f-sect {
    padding-top: 15px;
  }
  .familyDetails .f-close-familhy-sidebar {
    position: fixed;
    left: -1000px;
    width: calc(100% - 320px);
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.1s;
    z-index: 999;
  }
}

@media only screen and (max-width: 992px) {
  .familyDetails .f-famil-calendar .f-boxed-calendar .f-calendar-search {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .familyDetails .f-member-listing-cards .f-member-cardx {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 640px) {
  .familyDetails .f-event-contents .f-head h3 {
    font-size: 1rem !important;
    margin: 0 0 2px !important;
  }
  .familyDetails .f-event-contents .f-switch-content .f-title h3 {
    font-size: 0.9rem !important;
  }
  .familyDetails .f-event-contents .f-content p {
    font-size: 0.8rem !important;
    line-height: 1.6 !important;
  }
  .familyDetails .f-page-overview {
    flex-direction: column;
  }
  .familyDetails .f-page-overview .f-head {
    padding: 0;
  }
  .familyDetails .f-page-overview .f-display-pic {
    width: 120px;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 520px) {
  .familyDetails .f-poster-default h4 {
    padding: 0 15px;
    text-align: center;
    font-size: 1rem !important;
    margin: 10px 0 !important;
  }
  .familyDetails .f-poster-default p {
    font-size: 0.75rem;
    padding: 0 15px;
    text-align: center;
  }
}
