.familyDetails{
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
    }
    .badge-count{
        position: absolute;
    bottom: 0px;
    right: 3px;
    background: #4fae50;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    color: #fff;
    z-index: 99;
    padding: 3px 7px;
    }
    .f-float{
        float: left;
        width: 100%;
    }
    .f-event-details{
        @extend .f-float;
    }
    .f-head{
        @extend .f-float;
    }
    .f-listland-card{
        .ant-card-body{
            .f-sect{
                padding-top: 15px;
            }
        }
    }
    .f-sect{
        @extend .f-float;
        padding-top: 30px;
    }
    .f-events-main {
        width: 100%;
        max-width: 720px;
        float: right;
        padding-left: 25px;
    }
    .f-poster{
        @extend .f-float;
        position: relative;
        min-height: 200px;
        background-color: #000;
        img{
            width: 100%;
            position: relative;
            max-height: 400px;
            object-fit: contain;
            object-position: center;
            z-index: 1;
        }
        .f-overlay{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 25px 18px;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.4) 100%);
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.4) 100%);
            background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.4) 100%);
        }
        // .f-display-pic {
        //     position: absolute;
        //     z-index: 100;
        //     width: 125px;
        //     height: 125px;
        //     left: 97px;
        //     bottom: -20px;
        //     border: 2px solid #FFF;
        //     border-radius: 10px;
        //     background-color: #666;
        //     overflow: hidden;
        //     img{
        //         height: 100%;
        //         object-fit: cover;
        //         object-position: center;
        //     }
        // }
        .f-edit-poster-pic {
            position: absolute;
            right: 15px;
            z-index: 20;
            bottom: 15px;
            background-color: var(--green);
            height: 30px;
            width: 30px;
            border: none;
            color: #FFF;
            font-size: 1.1rem;
            padding: 0;
            box-shadow: none;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            border-radius: 5px;
            &:hover{
                background-color: #FFF;
                color: var(--primary);
            }
        }
        .f-edit-pro-pic {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 20;
            width: 35px;
            height: 35px;
            line-height: 1;
            border-radius: 7px 0 0;
            padding: 0;
            font-size: 1rem;
            background-color: rgba(0, 0, 0, 0.4);
            border: none;
            color: #FFF;
            &:hover{
                background-color: rgba(0, 0, 0, 0.75);
                color: #FFF;
            }
        }
    }
    .f-poster-default {
        display: flex;
        flex-direction: column;
        height: 350px;
        background-color: #000;
        align-items: center;
        justify-content: center;
        @extend .f-float;
        img{
            width: unset;
            max-width: 92px;
        }
        h4, p{
            color: #d0d0d0;
        }
        h4{
            font-size: 1.3rem;
            line-height: 1;
            margin: 20px 0 15px 0;
            font-weight: 500;
        }
        p{
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 400;
            margin: 0;
        }
        &+.f-overlay{
            display: none;
        }
    }
    .f-page-overview {
        @extend .f-float;
        padding: 15px;
        border-radius: 0 0 5px 5px;
        background-color: #FFF;
        position: relative;
        display: flex;
        align-items: flex-start;
        .f-display-pic {
            flex: 0 0 120px;
            height: 120px;
            border-radius: 15px;
            border: 2px solid #ffffff;
            box-shadow: 0 1px 25px rgba(40, 53, 86, 0.1);
            margin-top: -40px;
            z-index: 30;
            background-color: #9a9a9a;
            overflow: hidden;
            margin-left: 5px;
            cursor: pointer;
            position: relative;
            &>img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .f-edit-pro-pic.f-yfix {
                z-index: 12;
                position: absolute;
                bottom: 5px;
                right: 5px;
                background-color: rgba(0, 0, 0, 0.4) !important;
                height: 30px;
                width: 30px;
                border: none;
                color: #FFF !important;
                font-size: 1.1rem;
                padding: 0;
                box-shadow: none !important;
                border-radius: 0;
            }
        }
        .f-logo-default {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            // img{
            //     width: 50px;
            // }
            h4{
                margin: 9px 0 3px;
                color: #d0d0d0;
                font-weight: 500;
                font-size: 0.8rem;
                line-height: 1;
            }
            p{
                margin: 0;
                color: #d0d0d0;
                font-size: 0.7rem;
                line-height: 1;
            }
        }
        .f-head{
            padding: 0 15px 0 20px;
            h3, h5{
                @extend .f-float;
            }
            h3{
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 1.3;
                margin: 0 0 5px;
                color: var(--primary);
            }
            h5{
                font-weight: 500;
                line-height: 1.2;
                background-repeat: no-repeat;
                font-size: 0.9rem;
                color: var(--heading);
                margin: 0 0 5px;
                &.f-time{
                    background-image: url(../../../assets/images/icon/timer.png);
                    background-position: left top 4px;
                }
                &.f-location{
                    background-image: url(../../../assets/images/icon/location.png);
                    background-position: left 0px top 1px;
                    padding: 2px 0 2px 23px;
                    margin: 3px 0 0;
                    min-height: 21px;
                }
                em{
                    font-weight: 400;
                    font-style: normal;
                    color: var(--text);
                }
            }
            span{
                @extend .f-float;
                display: flex;
                color: var(--text);
                font-size: 0.85rem;
                line-height: 1;
                margin: 15px 0 5px;
                strong{
                    color: var(--green);
                    padding-right: 5px;
                    &+strong{
                        margin-left: 25px;
                    }
                }
            }
        }
    }
    .f-edit-family {
        border: 1px solid #d6d6d6;
        background-color: #f4f4f4;
        border-radius: 5px;
        color: #626262;
        padding: 0;
        flex: 0 0 35px;
        height: 35px;
        line-height: 1;
        font-size: 1.1rem;
        margin-top: auto;
        min-width: 35px;
        &.f-alt-ef1 {
            flex: 0 0 70px;
            font-size: 0.85rem;
            background-color: var(--button);
            color: #FFF;
            border: none;
        }
    }
    .f-event-contents {
        @extend .f-float;
        border: 1px solid #eaeaea;
        float: left;
        background-color: #FFF;
        padding: 15px;
        border-radius: 5px;
        &.f-blanco{
            border: none;
            background-color: transparent;
            padding: 0;
            border-radius: 0;
        }
        .f-head{
            border-bottom: 1px solid #eff0f1;
            padding-bottom: 20px;
        }
        .f-about-carousel {
            float: left;
            width: 210px;
            position: relative;
            max-width: 100%;
            margin: 7px 10px 0 0;
            .slick-slide{
                &>div{
                    float: left;
                    width: 100%;
                    text-align: center;
                }
                img {
                    display: inline-block !important;
                    vertical-align: text-bottom;
                }
            }
            .ant-carousel .slick-dots{
                position: relative;
                bottom: unset;
                float: left;
                width: 100%;
                height: 12px;
                margin-top: 10px;
                li {
                    button {
                        width: 10px;
                        height: 10px;
                        background-color: #dbdbdb;
                        border-radius: 50%;
                        margin: 0 2px;
                        opacity: 1;
                    }
                    &.slick-active button {
                        width: 10px;
                        background: var(--green);
                        opacity: 1;
                    }
                }
            }
        }
        .f-switch-content {
            @extend .f-float;
            margin-top: 5px;
            overflow-wrap: break-word;
            .f-title{
                @extend .f-float;
                margin-bottom: 5px;
                h3{
                    float: left;
                    width: 100%;
                    font-size: 1.15rem;
                    font-weight: 600;
                    margin: 0;
                    line-height: 1;
                    color: var(--heading);
                    display: flex;
                    align-items: center;
                }
                .f-title-edit{
                    height: 20px;
                    line-height: 1;
                    padding: 0;
                    background-image: url(../../../assets/images/icon/edit_g.png);
                    background-color: transparent !important;
                    background-position: center center;
                    background-repeat: no-repeat;
                    width: 20px;
                    border: none;
                    border-radius: 0;
                    box-shadow: none;
                    margin-left: 20px;
                }
            }
            .f-content{
                @extend .f-float;
                p{
                    margin: 0;
                    color: #53585c;
                    font-size: 0.9rem;
                    line-height: 1.75;
                    &+p{
                        margin-top: 20px;
                    }
                }
                &+.f-title{
                    margin-top: 20px;
                }
            }
        }
        .f-posts-filters{
            @extend .f-float;
            margin-bottom: 20px;
            .f-tab-ui{
                @extend .f-float;
                margin-bottom: 0;
                background-color: #FFF;
                border: 1px solid #eaeaea;
                border-radius: 5px;
                padding:0 15px;
                .ant-radio-group{
                    @extend .f-float;
                    display: flex;
                    justify-content: space-around;
                    .ant-radio{
                        display: none;
                        &+span{
                            padding: 0;
                            user-select:none;
                        }
                    }
                    .ant-radio-wrapper{
                        margin: 0;
                        padding: 18px 15px;
                        font-weight: 400;
                        color: var(--text);
                        line-height: 1;
                        &:after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 0%;
                            margin: 0 auto;
                            height: 2px;
                            background-color: transparent;
                            transition: all ease-in-out 0.2s;
                        }
                    }
                    .ant-radio-wrapper-checked{
                        font-weight: 600;
                        color: var(--green);
                        &:after{
                            background-color: var(--green);
                            width: 100%;
                        }
                    }
                }
            }
        }
        .f-filter-ui{
            @extend .f-float;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .ant-radio-group{
                @extend .f-float;
                display: flex;
                justify-content: flex-start;
                .ant-radio{
                    display: none;
                    &+span{
                        user-select: none;
                        margin: 0;
                        padding: 10px 15px;
                        font-weight: 400;
                        color: var(--text);
                        line-height: 1;
                        float: left;
                        border-radius: 50px;
                        font-size: 0.85rem;
                        min-width: 75px;
                        text-align: center;
                        margin-right: 20px;
                        background-color: #FFF;
                        border: 1px solid #ddd;
                        transition: all ease 0.2s;
                    }
                }
                .ant-radio-wrapper{
                    margin: 0;
                }
                .ant-radio-wrapper-checked{
                    .ant-radio{
                        &+span{
                            background-color: var(--text);
                            border-color: var(--text);
                            color: #FFF;
                        }
                    }   
                }
            }
            .ant-btn{
                background-color: transparent !important;
                background-image: url(../../../assets/images/icon/ellipse.png);
                background-position: center center;
                background-repeat: no-repeat;
                padding: 0;
                border: none;
                line-height: 1;
                width: 40px;
                height: 35px;
                outline: none;
                box-shadow: none;
            }
            &.f-filter-membership{
                .ant-radio-group .ant-radio-wrapper-checked .ant-radio + span {
                    background-color: #7E57C2;
                    border-color: #7E57C2;
                }
            }
        }
    }
    .f-familhy-unfold {
        background-color: transparent !important;
        border: none;
        padding: 0 0 0 6px;
        box-shadow: none;
        height: 50px;
        width: 45px;
        font-size: 1.5rem;
        float: left;
        color: var(--primary) !important;
        text-align: left;
    }
}
.f-invite-other {
    float: left;
    width: 100%;
    .f-inv-title {
        float: left;
        width: 100%;
        text-align: center;
        img{
            width: 100%;
            max-width: 200px;        
        }
        h4{
            float: left;
            width: 100%;
            font-size: 1.2rem;
            line-height: 1;
            margin: 20px 0 5px;
        }
        p{
            float: left;
            width: 100%;
        }
    }
    .f-inv-left {
        float: left;
        margin-bottom: 30px;
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        .f-button{
            min-width: 120px;
        }
        .f-form-control {
            max-width: 450px;
        }
    }
}
.f-membership-due {
    float: left;
    width: 100%;
    margin: 0 0 18px 0;
    p{
        float: left;
        width: 100%;
        font-size: 0.85rem;
        margin: 5px 0 6px;
    }
    strong{
        float: left;
        font-size: 1.2rem;
        line-height: 1;
        margin-top: 1px;
    }
}
.f-membership-dash {
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .f-single-membership {
        flex: 0 0 calc(50% - 15px);
        margin: 15px;
        background-color: #FFF;
        box-shadow: 0 0 10px rgba(0,0,0,0.20);
        border-radius: 7px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        transition: all ease 0.2s;
        &:hover{
            transform: scale(1.02);
        }
        &:nth-child(odd){
            margin-left: 0;
        }
        &:nth-child(even){
            margin-right: 0;
        }
        strong{
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1;
            margin-bottom: 5px;
        }
        p{
            color: #717679;
            margin: 0;
            font-size: 0.9rem;
            line-height: 1;
            float: left;
            width: 100%;
        }
    }
}
$chartColors: #9E88FF, #96DFD2, #F767F7, #F9AA7E, #bb61d6;
@for $i from 1 through length($chartColors) {
  $chartColors: append($chartColors, darken(nth($chartColors, $i), 25));
}
$chartColorsLength: length($chartColors);
.f-single-membership{
    @for $i from 1 through $chartColorsLength {
      &:nth-of-type(#{$chartColorsLength}n+#{$i}) {
        color: nth($chartColors, $i);
      }
    }  
}
.f-filter-membership {
    margin-bottom: 20px !important;
    font-family: sans-serif;
}
.f-membershi-dash-empty {
    float: left;
    width: 100%;
    padding: 40px 20px;
    text-align: center;
    border: 1px dashed #eee;
    p{
        float: left;
    width: 100%;
    font-weight: 500;
    margin: 0 0 15px;
    line-height: 1;
    }
    .f-btn {
        border-radius: 30px;
        height: 38px;
        border-color: var(--green);
        color: var(--green);
        margin-top: 20px;
        line-height: 1;
    }
}
.ant-form-item.f-membership-fix {
    margin-bottom: 20px !important;
    &+.ant-form-item{
        margin-top: 0 !important;
    }
}
.f-add-membership .f-create-form-back {
    height: 40px !important;
    width: 40px !important;
    padding: 0 !important;
    flex: 0 0 40px !important;
}
.f-membership-members {
    .f-member-listing-cards .f-member-cardx .f-start .f-right h6 i {
        color: red;
    }
    .f-member-listing .f-content-searchable {
        h4 {
            margin-right: auto !important;
            margin-left: 0;
            em{
                font-family: sans-serif;
            }
        }
        .ant-input-search {
            max-width: 185px;
        }
    }
    .f-membership-members .f-create-form-back {
        height: 40px !important;
        width: 40px !important;
    }
    .ant-btn.f-create-form-back {
        height: 40px !important;
        width: 40px;
    }
}
.f-switch-membership {
    float: left;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    clear: both;
}
span.ant-tag.f-membership-tag {
    float: left;
    width: auto !important;
    margin: 10px 0 0 !important;
    border-radius: 40px !important;
    padding: 4px 10px;
    font-size: 0.7rem !important;
    background-color: #545454;
    border: none;
    color: #e6e6e6 !important;
    font-weight: 300;
}
// Mobile
@media only screen and (min-width:1040px){
    .familyDetails .f-famil-calendar .f-boxed-calendar .f-calendar-search {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:1040px){
    .familyDetails {
        .f-events-main {
            max-width: 100%;
            padding-left: 0;
        }
        .f-poster {
            min-height: 175px;
            .f-display-pic {
                right: 0;
                margin: auto;
                left: 0;
            }
        }
        .f-familhy-unfold {
            display: inline-block !important;
        }
        .f-sect {
            padding-top: 15px;
        }
        .f-close-familhy-sidebar {
            position: fixed;
            left: -1000px;
            width: calc(100% - 320px);
            top: 0;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            transition: all ease-in-out 0.1s;
            z-index: 999;
        }
    }
}
@media only screen and (max-width:992px){
    .familyDetails .f-famil-calendar .f-boxed-calendar .f-calendar-search{width: 100%;}
}
@media only screen and (max-width:767px){
    .familyDetails {
        .f-member-listing-cards {
            .f-member-cardx{
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}
@media only screen and (max-width:640px){
    .familyDetails {
        .f-event-contents {
            .f-head {
                h3 {
                    font-size: 1rem !important;
                    margin: 0 0 2px !important;
                }
            }
            .f-switch-content {
                .f-title h3 {
                    font-size: 0.9rem !important;
                }
            }
            .f-content p {
                font-size: 0.8rem !important;
                line-height: 1.6!important;
            }
        }
        .f-page-overview {
            flex-direction: column;
            .f-head{
                padding: 0;
            }
            .f-display-pic {
                width: 120px;
                margin-left: 0;
                margin-bottom: 10px;
            }
        }
    }
}
@media only screen and (max-width:520px){
    .familyDetails .f-poster-default {
        h4 {
            padding: 0 15px;
            text-align: center;
            font-size: 1rem !important;
            margin: 10px 0 !important;
        }
        p {
            font-size: 0.75rem;
            padding: 0 15px;
            text-align: center;
        }
    }
}