.myFamily{
    .f-float{
        float: left;
        width: 100%;
    }
    .f-body{
        margin-top: 35px;
    }
    .f-post-listing {
        @extend .f-float;
        position: relative;
    }
    .f-posts-main {
        width: 100%;
        max-width: 720px;
        float: right;
        padding-left: 25px;
    }
    .f-posts-filters {
        @extend .f-float;
        margin-bottom: 12px;
    }
    .f-family-list {
        @extend .f-float;
        display: flex;
        flex-wrap: wrap;
        .f-family-card {
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            border-radius: 5px;
            padding: 15px;
            width: calc(50% - 7px);
            box-shadow: 0 1px 25px rgba(40, 53, 86, 0.1);
            margin: 0 7px 15px 7px;
            cursor: pointer;
            &:nth-child(odd){
                margin-left: 0;
            }
            &:nth-child(even){
                margin-right: 0;
            }
            .f-start{
                @extend .f-float;
                display: flex;
                .f-left{
                    padding-right: 12px;
                    flex: 0 0 92px;
                    img{
                        border-radius: 5px;
                        width: 100%;
                    }
                }
                .f-right{
                    flex: 1 1 0;
                    h4,h5,h6{
                        @extend .f-float;
                    }
                    h4{
                        color: #202020;
                        font-size: 1rem;
                        margin: 0 0 5px 0;
                        line-height: 1;
                        font-weight: 600;
                    }
                    h5, h6{
                        color: var(--text);
                    }
                    h5{
                        font-weight: 300;
                        margin: 0 0 7px;
                        strong{
                            font-weight: 500;
                        }
                    }
                    h6{
                        font-weight: 400;
                        font-size: 0.8rem;
                        line-height: 1;
                        margin: 0;
                        &+h6{
                            margin: 7px 0 0;
                        }
                        &.f-pin{
                            background-image: url(../../../assets/images/icon/location.png);
                            background-position: left top;
                            background-size: auto 12px;
                            background-repeat: no-repeat;
                            padding-left: 15px;
                        }
                    }
                }
            }
            .f-stop{
                @extend .f-float;
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h5{
                    font-size: 0.85rem;
                    margin: 0;
                    color: var(--text);
                    font-weight: 400;
                    line-height: 1;
                    strong{
                        color: var(--green);
                        font-weight: 500;
                    }
                }
            }
            .f-right-combo {
                @extend .f-float;
                display: flex;
                align-items: center;
                margin-top: 3px;
                .ant-btn {
                  background-color: var(--green);
                  color: #fff;
                  border-color: var(--green);
                  height: 25px;
                  line-height: 1;
                  padding: 0 10px;
                  font-size: 0.75rem;
                  border-radius: 5px;
                  &:hover {
                    background-color: var(--primary);
                    border-color: var(--primary);
                  }
                  & + .f-line {
                    margin-left: 10px;
                  }
                  &.f-line {
                    background-color: #fff;
                    color: var(--green);
                    &:hover {
                      border-color: var(--primary);
                      color: var(--primary);
                    }
                  }
                }
              }
        }
    }
    .f-posts-create{
        @extend .f-float;
        margin-bottom: 20px;
        .ant-btn{
            @extend .f-float;
            border: 1px solid var(--primary);
            color: var(--primary);
            background-color: #FFF;
            box-shadow: none;
            height: 50px;
            padding: 0;
            line-height: 1;
            font-size: 1.05rem;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                margin-left: 10px;
                height: 16px;
            }
            &:hover{
                background-color: var(--primary);
                color: #FFF;
                img{
                    filter: grayscale(1) invert(1);
                }
            }
        }
    }
    .f-postside-unfold {
        background-color: transparent !important;
        border: none;
        padding: 0 0 0 6px;
        box-shadow: none;
        height: 50px;
        width: 45px;
        font-size: 1.5rem;
        float: left;
        color: var(--primary) !important;
        text-align: left;
    }
    .f-close-myfamily-sidebar {
        position: fixed;
        left: -1000px;
        width: calc(100% - 320px);
        top: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all ease-in-out 0.1s;
        z-index: 999;
    }
    .loaderDiv{
        display: flex;
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }
}
// Mobile
@media only screen and (max-width:1020px){
    .myFamily {
        .f-posts-main{
            padding-left: 0;
            max-width: 100%;
        }
        .f-body {
            margin-top: 15px;
        }
        .f-postside-unfold{
            display: inline-block !important;
        }
        .f-close-myfamily-sidebar{
            display: block !important;
        }
    }
}
@media only screen and (max-width:640px){
    .myFamily {
        .f-family-list {
            .f-family-card {
                margin: 0 0 15px !important;
                width: 100%;
            }
        }
    }
}