.eventListing{
    .f-float{
        float: left;
        width: 100%;
    }
    .f-body{
        margin-top: 35px;
    }
    .f-event-listing {
        @extend .f-float;
        position: relative;
    }
    .f-events-main {
        width: 100%;
        max-width: 720px;
        float: right;
        padding-left: 25px;
    }
    .f-events-filters {
        @extend .f-float;
        margin-bottom: 25px;
    }
    .f-event-feed {
        @extend .f-float;
    }
    .f-posts-create{
        @extend .f-float;
        margin-bottom: 20px;
        .ant-btn{
            @extend .f-float;
            border: 1px solid var(--primary);
            color: var(--primary);
            background-color: #FFF;
            box-shadow: none;
            height: 50px;
            padding: 0;
            line-height: 1;
            font-size: 1.05rem;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                margin-left: 10px;
                height: 16px;
            }
            &:hover{
                background-color: var(--primary);
                color: #FFF;
                img{
                    filter: grayscale(1) invert(1);
                }
            }
        }
    }
    .f-tab-ui{
        @extend .f-float;
        margin-bottom: 25px;
        background-color: #FFF;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding:0 15px;
        .ant-radio-group{
            @extend .f-float;
            display: flex;
            justify-content: space-between;
            .ant-radio{
                display: none;
                &+span{
                    padding: 0;
                    user-select:none;
                }
            }
            .ant-radio-wrapper{
                margin: 0;
                padding: 18px 15px;
                font-weight: 400;
                color: var(--text);
                line-height: 1;
                &:after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0%;
                    margin: 0 auto;
                    height: 2px;
                    background-color: transparent;
                    transition: all ease-in-out 0.2s;
                }
            }
            .ant-radio-wrapper-checked{
                font-weight: 600;
                color: var(--green);
                &:after{
                    background-color: var(--green);
                    width: 100%;
                }
            }
        }
    }
    .f-filter-ui{
        @extend .f-float;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ant-radio-group{
            @extend .f-float;
            display: flex;
            justify-content: flex-start;
            .ant-radio{
                display: none;
                &+span{
                    user-select: none;
                    margin: 0;
                    padding: 10px 15px;
                    font-weight: 400;
                    color: var(--text);
                    line-height: 1;
                    float: left;
                    border-radius: 50px;
                    font-size: 0.85rem;
                    min-width: 75px;
                    text-align: center;
                    margin-right: 20px;
                    background-color: #FFF;
                    border: 1px solid #ddd;
                    transition: all ease 0.2s;
                }
            }
            .ant-radio-wrapper{
                margin: 0;
            }
            .ant-radio-wrapper-checked{
                .ant-radio{
                    &+span{
                        background-color: var(--text);
                        border-color: var(--text);
                        color: #FFF;
                    }
                }   
            }
        }
        .ant-btn{
            background-color: transparent !important;
            background-image: url(../../../assets/images/icon/ellipse.png);
            background-position: center center;
            background-repeat: no-repeat;
            padding: 0;
            border: none;
            line-height: 1;
            width: 40px;
            height: 35px;
            outline: none;
            box-shadow: none;
        }
    }
    .f-eventside-unfold {
        background-color: transparent !important;
        border: none;
        padding: 0 0 0 6px;
        box-shadow: none;
        height: 50px;
        width: 45px;
        font-size: 1.5rem;
        float: left;
        color: var(--primary) !important;
        text-align: left;
    }
    .f-close-event-sidebar {
        position: fixed;
        left: -1000px;
        width: calc(100% - 320px);
        top: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all ease-in-out 0.1s;
        z-index: 999;
    }
    .f-close-post-sidebar {
        position: fixed;
        left: -1000px;
        width: calc(100% - 320px);
        top: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all ease-in-out 0.1s;
        z-index: 999;
    }
}
// Mobile
@media only screen and (max-width:1040px){
    .eventListing {
        .f-events-main{
            max-width: 655px;
        }
        .f-events-filters{
            position: sticky;
            top: 65px;
            z-index: 100;
            border-radius: 0;
            .f-tab-ui{
                border-radius: 0;
                margin-bottom: 10px;
                border-left: none;
            border-right: none;
            }
            .f-filter-ui{
                padding-left: 5px;
            }
            .f-posts-filters-device {
                display: inline-block !important;
            }
        }
        .f-boxed{
            padding: 0;
        }
    }
    .f-sticky .eventListing .f-events-filters{
        top: 49px;
        border: none;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        background-color: #FFF;
        padding-bottom: 10px;
    }
}
@media only screen and (max-width:1024px){
    .eventListing .f-events-main{
        padding-left: 0;
        max-width: 100%;
    }
}
@media only screen and (max-width:1020px){
    .eventListing {
        .f-body {
            margin-top: 15px;
        }
        .f-tab-ui{
            // max-width: calc(100% - 50px);
            float: right !important;
        }
        .f-eventside-unfold{
            display: inline-block !important;
        }
        .f-close-event-sidebar{
            display: block !important;
        }
    }
}
@media only screen and (max-width:640px){
    .eventListing {
        .f-filter-ui {
            .ant-radio-group {
                .ant-radio {
                    &+ span{
                        padding: 9px 10px;
                        font-size: 0.75rem;
                        min-width: 55px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .f-tab-ui {
            margin-bottom: 20px;
            .ant-radio-group .ant-radio-wrapper {
                padding: 15px 5px;
                font-size: 0.8rem;
            }
        }
        .f-events-filters {
            margin-bottom: 20px;
        }
    }
}
@media only screen and (max-width:490px){
    .eventListing {
        .f-filter-ui {
            display: inline-block;
            white-space: nowrap;
            overflow-y: auto;
            .ant-btn {
                height: 32px;
            }
            .ant-radio-group {
                width: auto;
            }
        }
        .f-tab-ui{
            padding: 0 5px;
            .ant-radio-group .ant-radio-wrapper {
                font-size: 0.75rem;
            }
        }
    }
}