.RequestList {
    .f-float{
        float: left;
        width: 100%;
    }
    .f-post-listing {
        @extend .f-float;
        position: relative;
    }
    .f-request-details-wrap{
        width: 100%;
        max-width: 720px;
        float: right;
        padding-left: 25px;
    }
    .f-boxed {
        // max-width: 740px;
        margin: 30px auto;

        .f-posts-create{
            @extend .f-float;
            margin-bottom: 20px;
            .ant-btn{
                @extend .f-float;
                border: 1px solid var(--primary);
                color: var(--primary);
                background-color: #FFF;
                box-shadow: none;
                height: 50px;
                padding: 0;
                line-height: 1;
                font-size: 1.05rem;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    margin-left: 10px;
                    height: 16px;
                }
                &:hover{
                    background-color: var(--primary);
                    color: #FFF;
                    img{
                        filter: grayscale(1) invert(1);
                    }
                }
            }
        }

    }
    .hide {
        display: none;
    }
    .f-req-details-header {
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 15px;
        .ant-input-search {
            max-width: 215px;
            width: 100%;
            .ant-input {
                border: none;
                background-color: #e9e9e9;
                border-radius: 5px;
                box-shadow: none;
                outline: none;
                height: 40px;
                color: #444;
                font-size: 0.85rem;
            }
        }
        .f-left {
            float: left;
            margin-right: 15px;
            h4 {
                font-size: 1.2rem;
                margin: 0;
                line-height: 1;
                float: left;
                color: #464647;
            }
            h5 {
                float: left;
                color: #9a9a9a;
                clear: left;
                margin: 6px 0 0;
                font-weight: 400;
                font-size: 0.9rem;
                em {
                    color: #464647;
                    font-style: normal;
                }
            }
        }
    }
    .f-req-author-card {
        float: left;
        width: 100%;
        margin-bottom: 30px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding: 20px;
        .f-req-author-card-header {
            display: flex;
            float: left;
            width: 100%;
            .f-left {
                flex: 0 0 60px;
                margin-right: 15px;
                float: left;
                img {
                    width: 100%;
                    max-width: 60px;
                    border-radius: 5px;
                }
            }
            .f-right {
                flex: 1 1 0px;
                float: left;
                h2 {
                    float: left;
                    color: var(--primary);
                    width: 100%;
                    font-weight: 600;
                    font-size: 1.1rem;
                    line-height: 1;
                    margin: 0 0 6px;
                }
                h3 {
                    float: left;
                    width: 100%;
                    color: #626262;
                    line-height: 1;
                    font-size: 0.87rem;
                    font-weight: 500;
                    margin: 0 0 7px;
                }
                h4 {
                    float: left;
                    width: 100%;
                    color: #717579;
                    line-height: 1;
                    font-size: 0.8rem;
                    font-weight: 400;
                    margin: 0;
                }
            }
            .f-more {
                flex: 0 0 30px;
                margin-left: 10px;
                .ant-btn {
                    background-color: transparent !important;
                    background-image: url(../../assets/images/icon/ellipse.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    padding: 0;
                    border: none;
                    line-height: 1;
                    width: 30px;
                    height: 30px;
                    outline: none;
                    box-shadow: none;
                    background-size: auto 15px;
                }
            }
        }
        .f-req-author-card-body {
            float: left;
            width: 100%;
            margin: 25px 0 15px;
            .f-more {
                margin-top: 15px;
                text-align: center;
                .f-btn {
                    height: auto;
                    line-height: 1;
                    border: none;
                    box-shadow: none;
                    outline: none;
                    color: var(--green) !important;
                    padding: 5px;
                    font-size: 0.85rem;
                }
            }
        }
        .f-req-author-items-list {
            float: left;
            width: 100%;
            margin: 0;
            list-style: none;
            padding: 0;
            li {
                float: left;
                width: 100%;
                display: flex;
                justify-content: space-between;
                & + li {
                    margin-top: 15px;
                }
                .f-left {
                    flex: 1 1 0px;
                    margin-right: 15px;
                    h4 {
                        float: left;
                        color: var(--primary);
                        clear: both;
                        font-weight: 600;
                        font-size: 1rem;
                        line-height: 1;
                        margin: 0 0 6px;
                    }
                    p {
                        float: left;
                        clear: both;
                        color: #626262;
                        line-height: 1.1;
                        font-size: 0.87rem;
                        font-weight: 400;
                        margin: 0 0 7px;
                        white-space: nowrap;
                        max-width: 320px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                .f-right {
                    float: right;
                    strong {
                        color: #202020;
                        float: left;
                        font-size: 1.1rem;
                        font-weight: 500;
                        line-height: 1;
                        em {
                            font-style: normal;
                            font-size: 1.2rem;
                            color: var(--green);
                        }
                    }
                    p {
                        margin: 4px 0 0;
                        line-height: 1;
                        clear: both;
                        font-size: 0.85rem;
                        float: left;
                        color: #898989;
                    }
                }
            }
        }
        .f-req-author-card-footer {
            border-top: 1px solid #dedede;
            padding-top: 15px;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            float: left;
            width: 100%;
            .f-left {
                flex: 1 1 0px;
                float: left;
                margin: 0 15px 0 0;
                em {
                    float: left;
                    clear: both;
                    color: #a0a0a0;
                    font-size: 0.85rem;
                    background-repeat: no-repeat;
                    background-position: left top;
                    line-height: 1.5;
                    background-size: auto 15px;
                    font-weight: 400;
                    font-style: normal;
                    &.f-tm {
                        background-image: url(../../assets/images/icon/timer.png);
                        padding-left: 27px;
                        padding-right: 10px;
                    }
                    &.f-lc {
                        padding-left: 25px;
                        background-image: url(../../assets/images/icon/location.png);
                        background-position: left 2px top;
                    }
                    &+em{
                        margin-top: 5px;
                    }
                }
            }
            .f-right {
                float: right;
                strong {
                    color: #202020;
                    float: left;
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 1;
                }
                p {
                    margin: 4px 0 0;
                    line-height: 1;
                    clear: both;
                    font-size: 0.85rem;
                    float: left;
                    color: #898989;
                }
            }
        }
    }
}
@media only screen and (max-width: 520px) {
    .RequestList {
        .f-boxed {
            flex-direction: column;
            position: relative;
            .f-create-form-head {
                padding-left: 55px !important;
            }
            .f-create-form-back {
                margin: 0;
                padding: 0;
                width: 50px;
                position: absolute;
                top: 5px;
                left: 16px;
                border: none !important;
                background-color: none !important;
            }
        }
        .f-req-author-card .f-req-author-items-list li .f-left p {
            white-space: unset;
            max-width: 100%;
            text-overflow: unset;
            overflow: unset;
        }
        .f-req-details-header {
            flex-direction: column;
            align-items: flex-start;
            .f-left {
                padding-left: 60px;
                margin-right: 0;
                width: 100%;
                margin-bottom: 30px;
                margin-top: 10px;
            }
            .ant-input-search {
                max-width: 100%;
            }
        }
    }
}
