.ContributorsList {
    .f-gobck{
        float: left;
        width: 40px;
        height: 40px !important;
    }
    .f-float{
        float: left;
        width: 100%;
    }
    .f-boxed {
        // max-width: 740px;
        margin: 30px auto;
    }
    .f-post-listing {
        @extend .f-float;
        position: relative;
    }
    .f-request-details-wrap{
        width: 100%;
        max-width: 720px;
        float: right;
        padding-left: 25px;
    }
    .hide {
        display: none;
    }
    .f-req-details-header{
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
        margin-top: 15px;
        .ant-input-search {
            max-width: 180px;
            width: 100%;
            margin-left: auto;
            .ant-input {
                border: none;
                background-color: #e9e9e9;
                border-radius: 5px;
                box-shadow: none;
                outline: none;
                height: 40px;
                color: #444;
                font-size: 0.85rem;
            }
        }
        .f-left {
            float: left;
            margin-right: 15px;
            .mr-top{
                margin-top:5%
            }
            h4{
                font-size: 1.2rem;
                margin: 0;
                line-height: 1;
                float: left;
                color: #464647;
            }
            h5{
                float: left;
                color: #9a9a9a;
                clear: left;
                margin: 6px 0 0;
                font-weight: 400;
                font-size: 0.9rem;
                em{
                    color: #464647;
                    font-style: normal;
                }
            }
        }
        .f-right {
            float: right;
            padding-left: 15px;
            strong{
                color: #202020;
                float: left;
                font-size: 0.95rem;
                font-weight: 500;
                line-height: 1;
                em{
                    font-style: normal;
                    font-size: 1.1rem;
                    color: var(--green);
                }
            }
            p{
                margin: 4px 0 0;
                line-height: 1;
                clear: both;
                font-size: 0.8rem;
                float: left;
                color: #898989;
            }
        }
        &.f-top{
            margin-bottom: 0;
            .f-left{
                flex: 1 1 0;
                display: flex;
                align-items: flex-start;
                h4{
                    margin: 8px 0 0;
                }
            }
        }
        &.f-bot{
            align-items: center;
            .f-left {
                h5{
                    margin-top: 0;
                }
            }
            .f-right {
                display: flex;
                align-items: center;
                p{
                    clear: none;
                    margin: 0 0 0 6px;
                }
            }
        }
    }
    .f-contrib-list{
        float: left;
        width: 100%;
    }
    .f-req-author-card{
        float: left;
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding: 15px;
        position: relative;
        overflow: hidden;
        .f-req-badge {
            position: absolute;
            width: 60px;
            height: 12px;
            top: 0;
            right: 0;
            transform: rotate(45deg);
            transform-origin: 23px 27px;
        }
        .f-left {
            flex: 0 0 90px;
            margin-right: 12px;
            float: left;
            img {
                width: 100%;
                max-width: 90px;
                border-radius: 5px;
            }
        }
        .f-mid{
            flex: 1 1 0px;
            float: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            h2{
                float: left;
                color: var(--primary);
                width: 100%;
                font-weight: 600;
                font-size: 1.05rem;
                line-height: 1;
                margin: 0 0 8px;
            }
            h3{
                float: left;
                width: 100%;
                color: #242424;
                line-height: 1;
                font-size: 0.8rem;
                font-weight: 500;
                margin: 0 0 7px;
            }
            span{
                float: left;
                width: 100%;
                display: flex;
                margin: 4px 0 0;
                em{
                    flex: 0 0 100%;
                    color: #a0a0a0;
                    font-size: 0.85rem;
                    background-repeat: no-repeat;
                    background-position: left top;
                    line-height: 1.5;
                    background-size: auto 19px;
                    font-weight: 400;
                    font-style: normal;
                    padding-left: 25px;
                    background-image: url(../../assets/images/icon/location.png);
                }
                &.f-phone{
                    margin-top: 1px;
                    em{
                        background: none;
                        padding-left: 0;
                        .anticon{
                            width: 21px;
                            text-align: left;
                            font-size: 1rem;
                            margin: 0;
                        }
                    }
                }
            }
        }
        .f-right {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex: 0 0 125px;
            // padding-left: 15px;
            float: right;
            .ant-btn{
                width: 100%;
                height: 35px;
                i{
                    background-image: url(../../assets/images/icon/call.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    display: inline-block;
                    vertical-align: top;
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    margin-right: 5px;
                }
            }
            h4{
                width: 100%;
                float: left;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 500;
                margin: 0 0 10px;
                line-height: 1;
                em{
                    font-weight: 400;
                    font-size: 0.9rem;
                    color: #898989;
                }
            }
        }
    }
    .ant-btn.f-btn-green {
        background-color: var(--green);
        border: 1px solid var(--green);
        height: 32px;
        color: #FFF;
        &:hover{
            border: 1px solid var(--green);
            color: #FFF;
        }
        &.f-line {
            background-color: #fff;
            border: 1px solid var(--green);
            color: var(--green);
            &:hover{
                background-color: var(--green);
                color: #fff;
            }
        }
        &+.f-btn-green{
            margin-left: 15px;
        }
    }
    .f-mark-received {
        float: right;
        // width: 100%;
        text-align: center;
        input[type="checkbox"]{
            display: none;
            &:checked{
                &+label{
                    background-color: var(--green) !important;
                    color: #FFF;
                }
            }
        }
        label {
            display: flex;
            align-items: center;
            font-size: 0.7rem;
            color: var(--green);
            border: 1px solid var(--green);
            padding: 5px;
            border-radius: 4px;
            cursor: pointer;
            float: left;
            width: 100%;
            text-align: left;
            justify-content: center;
            .anticon {
                font-size: 1.2rem;
                margin-right: 7px;
                margin-left: 3px;
            }
        }
    }
}
.f-thanks-images {
    display: flex;
    float: left;
    width: 100%;
    margin: 0;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    li {
        margin: 5px;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    input[type='radio']{
        display: none;
        &:checked{
            &+label{
                border-color: var(--green);
            }
        }
    }
    label{
        margin: 0;
        border: 3px solid #eee;
        padding: 0px;
        border-radius: 3px;
        cursor: pointer;
        &:hover{
            border-color: #efefef;
        }
    }
}
@media only screen and (max-width: 520px) {
    .ContributorsList {
        .f-boxed {
            flex-direction: column;
            position: relative;
            .f-create-form-head {
                padding-left: 55px !important;
            }
            .f-create-form-back {
                margin: 0;
                padding: 0;
                width: 50px;
                position: absolute;
                top: 5px;
                left: 16px;
                border: none !important;
                background-color: none !important;
            }
        }
    }
}