.userDetails{
    .f-float{
        float: left;
        width: 100%;
    }
    .f-event-details{
        @extend .f-float;
    }
    .f-head{
        @extend .f-float;
    }
    .f-sect{
        @extend .f-float;
    }
    .postsCard .f-sect {
        padding-top: 15px;
    }
    .f-events-main {
        width: 100%;
        max-width: 720px;
        float: right;
        padding-left: 25px;
    }
    .f-poster{
        @extend .f-float;
        position: relative;
        min-height: 200px;
        background-color: #000;
        img{
            width: 100%;
            position: relative;
            z-index: 1;
            max-height: 400px;
            object-fit: contain;
            object-position: center;
        }
        .f-overlay{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 18px;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.4) 100%);
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.4) 100%);
            background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.4) 100%);
            .f-head{
                padding-left: 190px;
                h3, h5{
                    @extend .f-float;
                    color: #FFF;
                }
                h3{
                    font-weight: 600;
                    font-size: 1.3rem;
                    line-height: 1;
                    margin: 0 0 6px;
                }
                h5{
                    font-weight: 400;
                    margin: 2px 0 0;
                    line-height: 1.2;
                    padding: 0 0 0 22px;
                    background-repeat: no-repeat;
                    font-size: 0.85rem;
                    color: rgba(255, 255, 255, 0.65);
                    &.f-location{
                        background-image: url(../../../assets/images/icon/location_w.png);
                        background-position: left center;
                    }
                }
            }
        }
        .f-display-pic {
            position: absolute;
            z-index: 100;
            width: 130px;
            height: 130px;
            left: 45px;
            bottom: -60px;
            border-radius: 10px;
            background-color: #666;
            overflow: hidden;
            img{
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .f-poster-default {
            display: flex;
            flex-direction: column;
            height: 350px;
            background-color: #000;
            align-items: center;
            justify-content: center;
            @extend .f-float;
            img{
                width: unset;
                max-width: 92px;
            }
            h4, p{
                color: #d0d0d0;
            }
            h4{
                font-size: 1.3rem;
                line-height: 1;
                margin: 20px 0 15px 0;
                font-weight: 500;
            }
            p{
                font-size: 1rem;
                line-height: 1.5;
                font-weight: 400;
                margin: 0;
            }
            // &+.f-overlay{
            //     display: none;
            // }
        }
    }
    .f-logo-default {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        img{
            width: 50px;
            height: unset !important;
        }
        h4{
            margin: 9px 0 3px;
            color: #d0d0d0;
            font-weight: 500;
            font-size: 0.8rem;
            line-height: 1;
        }
        p{
            margin: 0;
            color: #d0d0d0;
            font-size: 0.7rem;
            line-height: 1;
        }
    }
    .f-profile-meta{
        @extend .f-float;
        background-color: #FFF;
        border: 1px solid #eaeaea;
        border-radius: 0 0 5px 5px;
        padding: 20px 15px 20px 200px;
        ul{
            @extend .f-float;
            margin:0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            li{
                float: left;
                display: flex;
                flex-direction: column;
                padding: 0 10px;
                strong{
                    font-size: 1.5rem;
                    color: var(--heading);
                    line-height: 1.2;
                }
                i{
                    color: var(--text);
                    font-weight: 400;
                    font-size: 0.85rem;
                    padding-top: 1px;
                    line-height: 1.3;
                }
                .ant-btn{
                    background-image: url(../../../assets/images/icon/ellipse_h.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    padding: 0;
                    border: none;
                    line-height: 1;
                    width: 40px;
                    height: 35px;
                    outline: none;
                    box-shadow: none;
                    background-color: transparent !important;
                }
                &+li:not(.f-alt){
                    margin-left: 40px;
                }
                &.f-alt{
                    margin-left: auto;
                }
            }
        }
        .pd-l{
            img{
              width: 30px;
            }
        }
    }
    .f-event-contents {
        @extend .f-float;
        border: 1px solid #eaeaea;
        float: left;
        background-color: #FFF;
        padding: 15px;
        border-radius: 5px;
        &.f-blanco{
            border: none;
            background-color: transparent;
            padding: 0;
            border-radius: 0;
        }
        .f-head{
            border-bottom: 1px solid #eff0f1;
            padding-bottom: 20px;
        }
        .f-about-carousel {
            float: left;
            width: 210px;
            position: relative;
            max-width: 100%;
            margin: 7px 10px 0 0;
            .slick-slide{
                &>div{
                    float: left;
                    width: 100%;
                    text-align: center;
                }
                img {
                    display: inline-block !important;
                    vertical-align: text-bottom;
                }
            }
            .ant-carousel .slick-dots{
                position: relative;
                bottom: unset;
                float: left;
                width: 100%;
                height: 12px;
                margin-top: 10px;
                li {
                    button {
                        width: 10px;
                        height: 10px;
                        background-color: #dbdbdb;
                        border-radius: 50%;
                        margin: 0 2px;
                        opacity: 1;
                    }
                    &.slick-active button {
                        width: 10px;
                        background: var(--green);
                        opacity: 1;
                    }
                }
            }
        }
        .f-switch-content {
            @extend .f-float;
            margin-top: 5px;
            overflow-wrap: break-word;
            .f-title{
                @extend .f-float;
                margin-bottom: 5px;
                h3{
                    float: left;
                    width: 100%;
                    font-size: 1.15rem;
                    font-weight: 600;
                    margin: 0;
                    line-height: 1;
                    color: var(--heading);
                    display: flex;
                    align-items: center;
                }
                .f-title-edit{
                    height: 20px;
                    line-height: 1;
                    padding: 0;
                    background-image: url(../../../assets/images/icon/edit_g.png);
                    background-color: transparent !important;
                    background-position: center center;
                    background-repeat: no-repeat;
                    width: 20px;
                    border: none;
                    border-radius: 0;
                    box-shadow: none;
                    margin-left: 20px;
                }
            }
            .f-content{
                @extend .f-float;
                p{
                    margin: 0;
                    color: #53585c;
                    font-size: 0.9rem;
                    line-height: 1.75;
                    &+p{
                        margin-top: 20px;
                    }
                }
                &+.f-title{
                    margin-top: 20px;
                }
            }
        }
        .f-posts-filters{
            @extend .f-float;
            margin-bottom: 20px;
            .f-tab-ui{
                @extend .f-float;
                margin-bottom: 0;
                background-color: #FFF;
                border: 1px solid #eaeaea;
                border-radius: 5px;
                padding:0 15px;
                .ant-radio-group{
                    @extend .f-float;
                    display: flex;
                    justify-content: space-around;
                    .ant-radio{
                        display: none;
                        &+span{
                            padding: 0;
                            user-select:none;
                        }
                    }
                    .ant-radio-wrapper{
                        margin: 0;
                        padding: 18px 15px;
                        font-weight: 400;
                        color: var(--text);
                        line-height: 1;
                        &:after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 0%;
                            margin: 0 auto;
                            height: 2px;
                            background-color: transparent;
                            transition: all ease-in-out 0.2s;
                        }
                    }
                    .ant-radio-wrapper-checked{
                        font-weight: 600;
                        color: var(--green);
                        &:after{
                            background-color: var(--green);
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .f-family-list {
        @extend .f-float;
        display: flex;
        flex-wrap: wrap;
        .f-family-card {
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            border-radius: 5px;
            padding: 15px;
            width: calc(50% - 7px);
            box-shadow: 0 1px 25px rgba(40, 53, 86, 0.1);
            margin: 0 7px 15px 7px;
            &:nth-child(odd){
                margin-left: 0;
            }
            &:nth-child(even){
                margin-right: 0;
            }
            .f-start{
                @extend .f-float;
                display: flex;
                .f-left{
                    padding-right: 12px;
                    flex: 0 0 92px;
                    img{
                        border-radius: 5px;
                        width: 100%;
                    }
                }
                .f-right{
                    flex: 1 1 0;
                    h4,h5,h6{
                        @extend .f-float;
                    }
                    h4{
                        color: #202020;
                        font-size: 1rem;
                        margin: 0 0 5px 0;
                        line-height: 1;
                        font-weight: 600;
                    }
                    h5, h6{
                        color: var(--text);
                    }
                    h5{
                        font-weight: 300;
                        margin: 0 0 7px;
                        strong{
                            font-weight: 500;
                        }
                    }
                    h6{
                        font-weight: 400;
                        font-size: 0.8rem;
                        line-height: 1;
                        margin: 0;
                        &+h6{
                            margin: 7px 0 0;
                        }
                        &.f-pin{
                            background-image: url(../../../assets/images/icon/location.png);
                            background-position: left top;
                            background-size: auto 12px;
                            background-repeat: no-repeat;
                            padding-left: 15px;
                        }
                    }
                }
            }
            .f-stop{
                @extend .f-float;
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h5{
                    font-size: 0.85rem;
                    margin: 0;
                    color: var(--text);
                    font-weight: 400;
                    line-height: 1;
                    strong{
                        color: var(--green);
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .f-cursor-pointer{
        cursor: pointer;
    }
    .f-profile-cover-fix {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .f-edit-poster-pic {
            z-index: 1;
            background-color: var(--green);
            height: 30px;
            width: 30px;
            border: none;
            color: #FFF;
            font-size: 1.1rem;
            padding: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            &:hover {
                background-color: #FFF;
                color: var(--primary);
            }
        }
        .f-add-to-fam {
            background-color: var(--green);
            border: none;
            color: #FFF;
            font-size: 0.85rem;
            &:hover {
                background-color: var(--primary);
                color: #FFF;
            }
        }
    }
    .f-qfix.f-edit-poster-pic {
        z-index: 12;
        position: absolute;
        bottom: 15px;
        right: 15px;
        background-color: var(--green);
        height: 30px;
        width: 30px;
        border: none;
        color: #FFF;
        font-size: 1.1rem;
        padding: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        &:hover {
            background-color: #FFF;
            color: var(--primary);
        }
    }
    .f-qfix.f-edit-display-pic {
        z-index: 12;
        position: absolute;
        bottom: 5px;
        right: 5px;
        background-color: rgba(0, 0, 0, 0.2) !important;
        height: 30px;
        width: 30px;
        border: none;
        color: #FFF !important;
        font-size: 1.1rem;
        padding: 0;
        box-shadow: none !important;
        border-radius: 0;
    }
}
// Mobile
@media only screen and (max-width:1020px){
    .userDetails {
        .f-events-main {
            max-width: 100%;
            padding-left: 0;
        }
        .f-cursor-pointer{
            cursor: pointer;
        }
    }
}
@media only screen and (max-width:767px){
    .userDetails {
        .f-profile-meta {
            padding: 15px 10px;
        }
        .f-poster {
            min-height: 150px;
            &>img{
                min-height: 150px;
            }
            .f-overlay{
                padding: 15px;
            }
            .f-display-pic {
                width: 120px;
                height: 120px;
                left: 0;
                bottom: 0;
                top: 0;
                right: 0;
                margin: auto;
                border-radius: 50%;
                border: 3px solid rgba(255, 255, 255, 0.85);
                box-shadow: 0 0 10px rgba(0,0,0,0.5);
            }
            .f-head {
                padding-left: 135px !important;
                position: relative;
                bottom: 30px;
            }
        }
    }
}
@media only screen and (max-width:680px){
    .userDetails {
        .f-sect {
            padding-top: 20px;
        }
        .f-poster {
            min-height: 150px;
            // img {
            //     min-height: 150px;
            //     object-fit: cover;
            // }
            .f-overlay {
                padding: 15px;
                position: relative;
                background: #FFF;
                .f-head {
                    bottom: 0 !important;
                    padding: 0 !important;
                    h5{
                        color: var(--text) !important;
                        padding-left: 0 !important;
                        background: none;
                        font-size: 0.75rem;
                    }
                    h3{
                        color: var(--heading) !important;
                    }
                }
                .f-trace {
                    left: 15px;
                    top: 15px;
                }
            }
        }
        .f-member-cardx,.f-family-card{
            width: 100% !important;
            margin: 0 0 15px !important;
        }
        .f-content-searchable {
            flex-direction: column;
            align-items: flex-start !important;
            justify-content: flex-start !important;
            h4{
                margin-bottom: 10px;
            }
        }
        .f-profile-cover-fix .f-edit-poster-pic {
            margin-top: -130px;
        }
    }
}
@media only screen and (max-width:640px){
    .userDetails {
        .f-event-contents {
            .f-head {
                h3 {
                    font-size: 1rem !important;
                    margin: 0 0 2px !important;
                }
            }
            .f-switch-content {
                .f-title h3 {
                    font-size: 0.9rem !important;
                }
            }
            .f-content p {
                font-size: 0.8rem !important;
                line-height: 1.6!important;
            }
            ul{
                &.f-work {
                    flex-direction: column;
                    li{
                        width: 100%;
                        &:nth-child(odd){
                            padding-right: 0;
                        }
                        &+li{
                            margin-top: 15px;
                        }
                    }
                }
                &.f-connections, &.f-groups {
                    flex-direction: column;
                    li{
                        width: 100%;
                        margin: 0;
                        .ant-avatar{
                            width: 45px;
                            height: 45px;
                        }
                        &:nth-child(odd){
                            padding-right: 0;
                        }
                        &+li{
                            margin-top: 15px;
                        }
                        strong{
                            font-size: 0.85rem;
                            margin-top: 5px;
                        }
                        em{
                            font-size: 0.75rem;
                            margin-top: 4px;
                        }
                    }
                }
                &.f-album li {
                    width: 50%;
                    img{
                        width: 100%;
                    }
                }
            }
            .ant-btn-link {
                margin: 30px 0 5px;
            }
        }
        .f-poster {
            .f-display-pic {
                width: 90px;
                height: 90px;
            }
            .f-head {
                padding-left: 105px !important;
                bottom: 25px;
                h3 {
                    font-size: 1.2rem !important;
                }
            }
        }
        .f-profile-meta {
            ul {
                li {
                    strong {
                        font-size: 1.2rem;
                        line-height: 1.2;
                    }
                    i {
                        font-size: 0.75rem;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:520px){
    .userDetails .f-poster {
        .f-poster-default {
            h4 {
                padding: 0 15px;
                text-align: center;
                font-size: 1rem;
                margin: 10px 0;
            }
            p {
                font-size: 0.75rem;
                padding: 0 15px;
                text-align: center;
            }
        }
    }
}
@media only screen and (max-width:420px){
    .userDetails {
        .f-profile-meta {
            padding: 0 10px;
            ul {
                flex-direction: column;
                align-items: flex-start;
                position: relative;
                li {
                    padding: 10px 5px !important;
                    &.f-alt{
                        position: absolute;
                        right: 0;
                        top: 5px;
                        padding: 0 !important;
                        z-index: 1;
                    }
                    &+ li:not(.f-alt) {
                        margin-left: 0;
                    }
                }
            }
        }
        .f-event-contents {
            .f-switch-content {
                .f-title {
                    flex-direction: column;
                    .ant-input-search {
                        max-width: 100% !important;
                        margin-top: 15px;
                    }
                }
            }
            ul.f-album li img {
                height: 115px;
            }
        }
        .f-poster .f-display-pic {
            width: 75px;
            height: 75px;
        }
    }
}

@media only screen and (max-width:1040px){
    .userDetails{
        &.f-page{
            .userDetailsSidebar {
                max-width: 100%;
                .f-sider-block {
                    padding: 0 !important;
                    border: none !important;
                  }
                  .f-sider-menu-incl {
                    display: inline-block;
                    overflow-x: auto;
                    white-space: nowrap;
                  }
                  .f-sider-menu {
                    display: flex;
                    justify-content: flex-start;
                    li {
                      padding: 12px 15px !important;
                      height: unset !important;
                      line-height: unset !important;
                      border: none !important;
                      justify-content: center;
                      img {
                        display: none;
                      }
                      span {
                        float: left;
                        padding: 0 !important;
                        line-height: 1;
                      }
                      &.ant-menu-item-active, &.ant-menu-item-selected {
                        &:after {
                          background-color: var(--green);
                        }
                      }
                      &:after {
                        left: 0;
                        top: unset !important;
                        bottom: 0 !important;
                        border: none;
                        width: 100%;
                        height: 2px;
                      }
                    }
                  }
            }
            .f-events-main{
                max-width: 100%;
                padding: 0;
            }
        }
    }
}