.li-item {
    border: 1px solid #dedada;
    border-radius: 7px;
    background: #f1ff18;
    padding: 4px 4px;
    color: #333;
    width: 90%;
    margin: 5px 0;
    text-transform: capitalize;
}
.align-right {
    float: right;
}
.align-left {
    float: left;
}
textarea{
    outline: none;
    border: 0px;
    border-bottom: 1px solid #ccc;  
}