.listLandingDetails{
    .f-boxed {
        max-width: 740px;
        margin: 30px auto;
    }
}
@media only screen and (max-width:390px){
    .listLandingDetails {
        .f-boxed {
            flex-direction: column;
            .f-create-form-back {
                height: 40px !important;
                margin: -15px 0 15px !important;
            }
        }
        .f-story-communication{
            padding: 10px;
        }
        .f-story-communications .f-communication-submit .f-send {
            .ant-input,.f-attach{
                height: 80px;
            }
            .f-attach{
                width: 45px;
            }
        }
    }
}