.f-head-skelton{
    float: left;
    width: 100%;
    border-bottom: 1px solid #dedfe0;
    padding: 10px 0;
    position: fixed;
    height: 66px;
    z-index: 900;
    top: 0;
    left: 0;
    background-color: #FFF;
    transition: all .2s ease-in-out;
    .f-head-dock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        float: left;
    }
    .f-brand{
        float: left;
        img{
            transition: all ease 0.2s;
        }
    }
    .f-control-center {
        float: right;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all ease-in-out 0.2s;
        .ant-btn{
            margin-right: 15px;
            border: none !important;
            background-color: transparent !important;
            box-shadow: none;
            outline: none;
            background-repeat: no-repeat !important;
            background-position: center center !important;
            width: 40px;
            height: 40px;
            line-height: 1!important;
            padding: 0;
        }
        .f-icon-bell{
            background-image: url(../../assets/images/icon/bell.png);
        }
        .f-icon-announce{
            background-image: url(../../assets/images/icon/announce.png);
        }
        .f-icon-search{
            background-image: url(../../assets/images/icon/search_icon.png);
        }
        .ant-avatar{
            margin: 0 10px 0 0px;
            overflow: visible;
            img{
                border-radius: 5px;
            }
            // &:after{
            //     content: "";
            //     width: 0;
            //     height: 0;
            //     border-style: solid;
            //     border-width: 7px 5px 0 5px;
            //     border-color: #444 transparent transparent transparent;
            //     position: absolute;
            //     right: -17px;
            //     bottom: 0;
            //     top: 0;
            //     margin: auto;
            // }
        }
        .ant-badge{
            .ant-scroll-number {
                right: 20px;
                top: 10px;
                background-color: var(--green);
            }
        }
    }
    .f-graph-search {
        flex: 1 1 0;
        padding: 0 15px;
        max-width: 500px;
        .ant-input {
            background-color: #f8f8f8;
            border-radius: 0;
            border: none;
            height: 40px;
            color: var(--heading);
            box-shadow: none;
            outline: none;
            font-size: 0.9rem;
            padding-left: 40px;
            padding-right: 10px;
            font-weight: 300;
            &::placeholder{
                color: #717579;
            }
        }
        .ant-input-suffix {
            right: unset !important;
            left: 11px!important;
            font-size: 1.1rem!important;
        }
    }
    .f-top-more{
        background-image: url(../../assets/images/icon/ellipse.png);
        width: 35px !important;
        background-size: auto 18px;
        margin-right: 0 !important;
    }
}
.f-show-search {
    .f-graph-search {
        display: block !important;
    }
}
#f-notification-popover .ant-popover-inner-content {
    max-height: 400px;
    overflow: auto;
    padding:0;
    background-color: #f0f0f5;
}
.f-notification-panel {
    display: inline-block;
    width: 100%;
    max-width: 270px;
    margin-bottom: 0;
    li {
        float: left;
        width: 100%;
        cursor: pointer;
        &:hover{
            opacity: 0.75;
        }
        div{
            display: flex;
            float: left;
            width: 100%;
            .ant-avatar {
                width: 35px !important;
                height: 35px !important;
                flex: 0 0 35px;
                margin-right: 10px;
            }
            p{
                margin: 0;
                font-size: 0.8rem;
                line-height: 1.3;
                b{
                    font-weight: 500;
                }
            }
        }
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        &:last-child{
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}
.f-mobile-app-bar {
    position: fixed;
    bottom: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.f-mob-only-menu{
    display: flex;
    justify-content: space-between;
    .ant-menu-overflowed-submenu{
        display: none;
    }
    .ant-menu-item {
        flex: 1 1 0;
        padding: 0;
        display: flex !important;
        align-items: center;
        justify-content: center !important;
        height: 50px;
        border: none !important;
        &.f-last:after{
            display:none;
        }
        &:after{
            content: "";
            width: 1px;
            height: 35px;
            background: -moz-linear-gradient(top,  rgba(201,201,201,0) 0%, rgba(201,201,201,0.65) 50%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(top,  rgba(201,201,201,0) 0%,rgba(201,201,201,0.65) 50%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to bottom,  rgba(201,201,201,0) 0%,rgba(201,201,201,0.65) 50%,rgba(0,0,0,0) 100%);
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            opacity: 0.4;
        }
        img{
            width: 25px;
            height: 25px;
            filter: grayscale(1);
            opacity: 0.9;
        }
        span{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &.ant-menu-item-selected{
            img{
                filter: grayscale(0);
                opacity: 1;
            }
        }
        .ant-dropdown-menu-item {
            padding: 10px 10px;
            border-bottom: 1px solid #f1f1f1;
            &:last-child{
                border-bottom: none;
            }
        }        
    }
    
}
.f-clear-button {
    padding: 0 !important;
    border: none !important;
    color: var(--link);
    font-size: 0.8rem;
    margin: 0 !important;
    height: 35px !important;
    box-shadow: none !important;
}
.f-notif-ttl{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
// .f-notif-badge > div {
//     right: 10px !important;
//     left: unset !important;
//     .ant-popover{
//         width: 250px !important;
//         .ant-popover-arrow {
//             left: unset !important;
//             right: 60px !important;
//         }
//     }
// }
#f-control-center{
    position: relative;
    &>div{
        width: 500px !important;
        top: 100% !important;
        left: unset !important;
        right: 45px !important;
        &>div{
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
    }
    .ant-popover {
        left: 0 !important;
        width: 100% !important;
        top: 10px !important;
        .ant-popover-inner-content{
            &::-webkit-scrollbar {
                width: 3px;
            }
            &::-webkit-scrollbar-track {
                background: transparent; 
            }
            &::-webkit-scrollbar-thumb {
                background: #777; 
            }
            &::-webkit-scrollbar-thumb:hover {
                background: var(--primary); 
            }
        }
    }
}

// Mobile
@media only screen and (max-width:1024px){
    .f-mobile-app-bar {
        display: inline-block !important;
    }
    .f-head-skelton .f-top-more{
        display: block !important;
    }
}
@media only screen and (max-width:1020px){
    .f-head-skelton {
        .f-control-center {
            .ant-avatar {
                width: 34px !important;
                height: 34px !important;
                line-height: 34px !important;
            }
            .ant-btn{
                margin-right: 5px;
            }
        }
        .f-boxed {
            height: 100%;
        }
    }
}
@media only screen and (max-width:767px){
    .fh-wrap {
        padding-bottom: 50px;
    }
}
@media only screen and (max-width:680px){
    .f-head-skelton {
        .f-graph-search {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #FFF;
            max-width: 100%;
            padding: 10px 15px;
            box-shadow: 0 6px 7px rgba(0,0,0,0.2);
        }
        // .f-control-center {
        //     .ant-btn{
        //         &.f-icon-search{
        //             display: inline-block !important;
        //         }
        //     }
        // }
    }
}
@media only screen and (max-width:420px){
    #f-notification-popover .ant-popover-inner-content {
        max-height: 300px;
    }
    #f-control-center > div {
        right: 0 !important;
        .ant-popover-arrow {
            right: 100px !important;
        }
    }
}