.RightSidebar {
  .ant-drawer-body{
    .crsr-pnt{ cursor: pointer !important; }
  }
  
}
// Mobile
@media only screen and (max-width: 640px) {
  .ant-drawer-body{
    .crsr-pnt{ cursor: pointer !important; }
  }
}
