.eventDetailsSidebar {
    .f-float{
        float: left;
        width: 100%;
    }
    float: left;
    width: 100%;
    max-width: 320px;
    position: relative;
    .f-sider-block {
        @extend .f-float;
        background-color: #FFF;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding: 15px;
        &+.f-sider-block {
            margin-top: 20px;
        }
        &:last-of-type {
            margin-bottom: 15px;
        }
        .f-admin{
            display: flex;
            align-items: center;
            float: left;
            cursor: pointer;
            span{
                &:not(.ant-avatar){
                    flex: 1 1 0;
                }
                &.ant-avatar{
                    width: 48px;
                    height: 48px;
                    margin-right: 15px;
                }
            }
            h5,h6{
                @extend .f-float;
                line-height: 1.2;
            }
            h5{
                color: var(--heading);
                font-size: 0.9rem;
                margin: 0 0 6px;
                font-weight: 600;
            }
            h6{
                color: var(--text);
                font-size: 0.775rem;
                margin: 0;
                font-weight: 300;
            }
        }
        &.f-hr {
            margin-bottom: 20px;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                bottom: -20px;
                height: 1px;
                width: 100%;
                left: 0;
                background-color: #e3e3e3;
            }
        }
        .f-action{
            @extend .f-float;
            display: flex;
            justify-content: space-between;
            .ant-checkbox-wrapper{
                float: left;
                // &+.ant-checkbox-wrapper{
                //     margin-left: 5px;
                // }
                .ant-checkbox{
                    display: none;
                    &+span{
                        background-color: #FFF;
                        color: var(--text);
                        border: 1px solid #CCC;
                        border-radius: 5px;
                        float: left;
                        padding: 12px 10px;
                        line-height: 1;
                        font-weight: 400;
                        font-size: 0.83rem;
                        text-align: center;
                    }
                }
                .ant-checkbox-checked+span{
                    background-color: var(--green);
                    border-color: var(--green);
                    color: #FFF;
                }
                .ant-checkbox-disabled+span{
                    background-color: #efefef;
                    border-color: #e8e8e8;
                    color: #9a9a9a;
                }
            }
        }
        &.f-alt {
            padding-left: 0;
        }
        .f-switch{
            @extend .f-float;
            .ant-radio-wrapper{
                @extend .f-float;
                .ant-radio{
                    display: none;
                }
                span{
                    @extend .f-float;
                    color: var(--text);
                    font-weight: 400;
                    font-size: 0.85rem;
                    padding: 10px 0 10px 12px;
                    line-height: 1;
                    border-left: 3px solid transparent;
                    transition: all ease 0.2s;
                    margin: 5px 0;
                    cursor: pointer;
                    &:hover{
                        color: var(--heading);
                    }
                }
                &.ant-radio-wrapper-checked{
                    span{
                        border-left-color: var(--green);
                        font-weight: 500;
                        color: var(--heading);
                        font-size: 0.9rem;
                    }
                }
            }
        }
        .f-btn-combo{
            @extend .f-float;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .ant-btn{
                background-repeat: no-repeat;
                border: none;
                height: 35px;
                color: var(--text);
                font-size: 0.85rem;
                line-height: 1;
                box-shadow: none;
                outline: none;
                background-position: left 5px center;
            }
            .f-btn-calendar{
                float: left;
                background-image: url(../../assets/images/icon/calendar.png);
                padding: 0 5px 0 40px;
                background-size: 25px auto;
            }
            .f-btn-share{
                float: left;
                background-image: url(../../assets/images/icon/share_filled.png);
                padding: 0 5px 0 27px;
            }
            i{
                width: 1px;
                height: 20px;
                background-color: #CCC;
            }
        }
        .f-meta{
            @extend .f-float;
            margin: 0;
            li {
                @extend .f-float;
                display: flex;
                justify-content: space-between;
                padding: 15px 5px;
                color: var(--text);
                font-size: 0.85rem;
                line-height: 1;
                &+li{
                    border-top: 1px solid #eee;
                }
            }
        }
        .f-action-btns{
            @extend .f-float;
            margin: 0;
            li {
                @extend .f-float;
                padding: 15px 5px;
                .ant-btn{
                    color: var(--text);
                    font-size: 0.9rem;
                    line-height: 1;
                    box-shadow: none;
                    outline: none;
                    height: 20px;
                    border: none;
                    padding: 0 0 0 25px;
                    float: left;
                    background-repeat: no-repeat;
                    background-position: left center;
                    &.f-btn-edit{
                        background-image: url(../../assets/images/icon/edit_g.png);
                    }
                    &.f-btn-delete{
                        background-image: url(../../assets/images/icon/trash_g.png);
                    }
                    &.f-btn-cancel{
                        background-image: url(../../assets/images/icon/cancel_g.png);
                    }
                    &.f-btn-settings{
                        background-image: url(../../assets/images/icon/settings_g.png);
                    }
                    &:hover{
                        opacity: 0.7;
                    }
                }
                &+li{
                    border-top: 1px solid #eee;
                }
            }
        }
    }
}
// Mobile
@media only screen and (max-width:1040px){
    .eventDetailsSidebar {
        .f-sider-block {
            .f-action {
                justify-content: flex-start;
            }
            &.f-ord2{
                background-color: transparent;
            }
        }
    }
}
@media only screen and (max-width:1020px){
    .eventDetailsSidebar {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        .f-sider-block{
            flex-basis: 100%;
            // &.f-ord1{
            //     order: 1;
            // }
            // &.f-ord2{
            //     order: 2;
            //     flex-basis: calc(50% - 10px);
            // }
            // &.f-ord3{
            //     order: 3;
            //     flex-basis: calc(50% - 10px);
            //     margin-left: auto;
            // }
            // &.f-ord4{
            //     order: 6;
            //     margin-bottom: 25px;
            // }
            // &.f-ord5{
            //     order: 4;
            //     flex-basis: calc(50% - 10px);
            // }
            // &.f-ord6{
            //     order: 5;
            //     flex-basis: calc(50% - 10px);
            //     margin-left: auto;
            //     margin-bottom: 0 !important;
            // }
            &.f-alt{
                padding: 0 15px !important;
            }
            .f-switch {
                display: flex;
                overflow-y: auto;
                .ant-radio-wrapper{
                    &.ant-radio-wrapper-checked {
                        span{
                            border-left: none;
                            border-bottom-color: var(--green) !important;
                        }
                    }
                    .ant-radio {
                        &+span{
                            text-align: center;
                            padding: 18px 6px 15px !important;
                            margin: 0 !important;
                            border-left: none !important;
                            border-bottom: 3px solid transparent;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:680px){
    .eventDetailsSidebar {
        .f-sider-block{
            &.f-ord2,&.f-ord3 {
                flex-basis: 100% !important;
            }
        }
    }
}
@media only screen and (max-width:480px){
    .eventDetailsSidebar {
        .f-sider-block{
            &.f-ord5,&.f-ord6 {
                flex-basis: 100% !important;
            }
            .f-action .ant-checkbox-wrapper .ant-checkbox + span {
                padding: 12px 7px;
                font-size: 0.8rem;
            }
        }
    }
}