.f-sticky .f-sider.AnnouncementSidebar {
    max-height: calc(100vh - 125px);
    height: auto;
}
.AnnouncementSidebar {
    height: auto;
  .f-float {
    float: left;
    width: 100%;
  }
  float: left;
  width: 100%;
  max-width: 320px;
  position: relative;
  border: 1px solid #eaeaea;
  background-color: #fff;
  border-radius: 5px;
  .f-announce-back {
    @extend .f-float;
    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
    display: flex;color: var(--text);
    align-items: center;font-size: 0.9rem;
    .ant-btn {
      float: left;
      border: none;
      color: var(--text);
      i {
        background-image: url(../../assets/images/icon/left.png);
        width: 15px;
        height: 15px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 15px;
        
      }
      font-size: 0.9rem;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      box-shadow: none;
      height: 60px;
    }
  }
  .f-announce-list {
    @extend .f-float;
  }
  .f-announce-all {
    @extend .f-float;
    padding: 20px 15px;
    .ant-btn {
        @extend .f-float;
        font-size: 0.85rem;
        height: 40px;
        line-height: 1;
        color: var(--text) !important;
        border: 1px solid #acacac !important;
    }
  }
  .f-announce-cards {
    @extend .f-float;
  }
  .f-announce-card {
    @extend .f-float;
    border-radius: 0;
    border-right: none;
    border-top: none;
    border-left: 2px solid transparent;
    cursor: pointer;
    &:hover {
      opacity: 0.85;
    }
    &.active {
      border-left-color: var(--green);
    }
    .ant-card-body {
      padding: 20px 15px;
      @extend .f-float;
      .f-start {
        @extend .f-float;
        display: flex;
        .f-left {
          flex: 0 0 56px;
          margin-right: 15px;
          img {
            border-radius: 5px;
            width: 100%;
          }
        }
        .f-right {
          flex: 1 1 0;
          h4 {
            color: #202020;
            font-size: 0.9rem;
            margin: 0 0 4px 0;
            line-height: 1;
            font-weight: 600;
            @extend .f-float;
          }
          h5 {
            font-weight: 300;
            margin: 0 0 5px;
            color: var(--text);
            @extend .f-float;
            font-size: 0.85rem;
          }
          h6 {
            color: var(--text);
            font-weight: 400;
            font-size: 0.75rem;
            line-height: 1;
            margin: 0;
            @extend .f-float;
          }
        }
        .ant-btn {
          background-color: transparent !important;
          background-image: url(../../assets/images/icon/ellipse.png);
          background-position: center center;
          background-repeat: no-repeat;
          padding: 0;
          border: none;
          line-height: 1;
          width: 20px;
          height: 20px;
          outline: none;
          box-shadow: none;
          background-size: auto 15px;
        }
      }
    }
  }
}
