.postsCard {
  float: left;
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  &.ant-card-loading {
    padding: 20px;
  }
  .f-float {
    float: left;
    width: 100%;
  }
  & + .postsCard {
    margin-top: 25px;
  }
  .ant-card-body {
    @extend .f-float;
    padding: 0;
    .ant-carousel {
      float: left;
      width: 100%;
      margin-bottom: 20px;
      .slick-slider {
        float: left;
        width: 100%;
        .slick-list {
          float: left;
          width: 100%;
        }
      }
      .slick-dots-bottom {
        bottom: -16px;
        li {
          button {
            width: 12px !important;
            height: 12px !important;
            border-radius: 50%;
            background-color: #959595;
            opacity: 1;
          }
          &.slick-active {
            button {
              background-color: var(--green);
            }
          }
        }
      }
    }
  }
  .f-head,
  .f-sect,
  .f-foot {
    @extend .f-float;
  }
  .f-head {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    padding: 15px;
    align-items: flex-start;
    .f-west {
      display: flex;
      // align-items: center;
      float: left;
      cursor: pointer;
      align-items: flex-start;
      span {
        &:not(.ant-avatar) {
          flex: 1 1 0;
        }
        &.ant-avatar {
          border-radius: 5px;
          width: 48px;
          height: 48px;
          margin-right: 15px;
        }
      }
      h5,
      h6 {
        @extend .f-float;
        line-height: 1.2;
      }
      h5 {
        color: var(--heading);
        font-size: 0.9rem;
        margin: 0 0 4px;
        font-weight: 600;
        i {
          font-weight: 400;
          color: #9a9a9a;
          font-style: normal;
        }
      }
      h6 {
        color: var(--text);
        font-size: 0.775rem;
        margin: 0;
        font-weight: 300;
        strong {
          font-weight: 500;
        }
        & + h6 {
          margin-top: 3px;
        }
      }
      

    }
    .f-east {
      float: right;
      .ant-btn {
        float: left;
        margin-left: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        line-height: 1;
        padding: 0;
        outline: none;
        box-shadow: none;
        border: none;
        &.f-btn-group {
          background-image: url(../../assets/images/icon/community.png);
        }
        &.f-btn-share {
          background-image: url(../../assets/images/icon/share.png);
        }
      }
    }
  }
  .f-sect {
    position: relative;
    .f-poster {
      @extend .f-float;
      position: relative;
      min-height: 200px;
      background-color: #fff;
      padding: 0 15px;
      img {
        width: 100%;
        position: relative;
        z-index: 1;
        border-radius: 5px;
        max-height: 498px;
      }
      .f-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px 18px;
        background: -moz-linear-gradient(
          top,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0) 35%,
          rgba(0, 0, 0, 0) 70%,
          rgba(0, 0, 0, 0.4) 100%
        );
        background: -webkit-linear-gradient(
          top,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0) 35%,
          rgba(0, 0, 0, 0) 70%,
          rgba(0, 0, 0, 0.4) 100%
        );
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0) 35%,
          rgba(0, 0, 0, 0) 70%,
          rgba(0, 0, 0, 0.4) 100%
        );
        ul {
          margin-right: auto;
          margin-bottom: 0;
          li {
            float: left;
            color: #fff;
            font-size: 0.85rem;
            text-shadow: 0 0 5px 0 0 5px rgba(0, 0, 0, 0.5);
            position: relative;
            & + li {
              padding-left: 15px;
              margin-left: 15px;
              &:before {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #fff;
                top: 0;
                bottom: 0;
                margin: auto 0 auto -4px;
                left: 0;
              }
            }
          }
        }
        .ant-tag {
          margin-left: auto;
          margin-right: 0;
          padding: 10px 9px;
          border-radius: 3px;
          line-height: 1;
          font-size: 0.82rem;
          color: var(--heading);
          font-weight: 400;
          text-transform: capitalize;
        }
      }
    }
    .f-poster-slide {
      @extend .f-float;
      padding: 10px 15px;
      margin-top: 5px;
      ul {
        @extend .f-float;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        li {
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background-color: #dbdbdb;
          margin: 3px 4px;
          cursor: pointer;
          &.f-active {
            background-color: var(--green);
          }
        }
      }
    }
    .f-post-description {
      @extend .f-float;
      padding: 0 15px;
      margin: 5px 0;
      p {
        @extend .f-float;
        margin: 0 0 15px;
        color: #202020;
        font-size: 0.9rem;
        line-height: 1.5;
        white-space: pre-wrap;
        .ant-btn {
          line-height: 1;
          height: unset;
          color: var(--green);
          box-shadow: none;
          outline: none;
          padding: 0;
        }
      }
    }
  }
  .f-shared-post {
    background-color: #f3f3f3;
    float: left;
    width: calc(100% - 30px);
    padding: 0;
    margin: 0 15px 15px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    .f-sect {
      .f-poster {
        background-color: transparent;
      }
    }
  }
  .f-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 15px;
      right: 15px;
      background-color: var(--pagebg);
      height: 1px;
      top: 0;
    }
    .f-west {
      ul {
        display: flex;
        align-content: center;
        margin: 0;
        li {
          float: left;
          & + li {
            margin-left: 25px;
          }
          span {
            float: left;
            background-repeat: no-repeat;
            background-position: left center;
            color: #1d1d1d;
            font-size: 0.95rem;
            height: 30px;
            padding-left: 34px;
            display: flex;
            align-items: center;
            line-height: 1;
            position: relative;
            cursor: pointer;
            &.f-comment {
              background-image: url(../../assets/images/icon/chat_d.svg);
              background-size: 27px auto;
            }
            &.f-share {
              background-image: url(../../assets/images/icon/network_d.svg);
              background-size: 26px auto;
            }
            &.f-viewed {
              background-image: url(../../assets/images/icon/visibility_d.svg);
              background-size: 28px auto;
            }
            &.crsr-nt{
              cursor: not-allowed !important; 
            }
            i {
              position: absolute;
              background-color: var(--green);
              width: 10px;
              height: 10px;
              border-radius: 50%;
              top: 1px;
              left: 23px;
            }
          }
        }
      }
    }
    .f-east {
      .ant-btn {
        background-color: transparent !important;
        background-image: url(../../assets/images/icon/ellipse.png);
        background-position: center center;
        background-repeat: no-repeat;
        padding: 0;
        border: none;
        line-height: 1;
        width: 30px;
        height: 30px;
        outline: none;
        box-shadow: none;
        background-size: auto 15px;
      }
      .f-docs {
        float: left;
        background-repeat: no-repeat;
        background-position: left center;
        color: #1d1d1d;
        font-size: 0.9rem;
        height: 30px;
        padding-left: 28px;
        display: flex;
        align-items: center;
        line-height: 1;
        position: relative;
        background-image: url(../../assets/images/icon/doc_b.png);
        margin-right: 20px;
      }
    }
  }
  .ant-carousel {
    .slick-slide {
      text-align: center;
      height: auto !important;
      .f-csl-in {
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        height: 100%;
        background-color: #fff;
        min-height: 175px;
    }
    .f-csl-react-play {
        width: 100% !important;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0 !important;
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    img{
        width: auto;
        max-width: 100%;
    }
      & > div {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      h3 {
        color: #fff;
      }
    }
    .slick-track {
      display: flex !important;
    }

    // .slick-slide {
    //   height: auto !important;
    // }
    
    
  }
}
.f-conversations{
  .f-csl-react-play {
    width: 100% !important;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0 !important;
    min-width: 445px;
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        outline: none;
    }
  }
  .f-conversation-action {
    float:right;
    padding-top:8px;
    .ant-btn {
      background-color: transparent !important;
      background-image: url(../../assets/images/icon/ellipse.png);
      background-position: center center;
      background-repeat: no-repeat;
      padding: 0;
      border: none;
      line-height: 1;
      width: 30px;
      height: 30px;
      outline: none;
      box-shadow: none;
      background-size: auto 15px;
    }
  }
}
.post-card-url {
  float: left;
  width: 100%;
  border: none;
  margin: 0;
  padding: 10px 15px;
  .ant-card-meta{
    margin: 0;
    display: flex;
  }
}
.f-post-description{
  .post-card-url {
    padding: 10px 0;
  }
}
.f-contribution-ty {
  float: left;
  width: 100%;
  .f-contr-header {
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .ant-tag {
      color: var(--button);
      background-color: transparent;
      border-radius: 10px;
      padding: 0;
      margin: 0 6px 5px 0;
      font-size: 0.75rem;
      cursor: pointer;
      border: none;
      line-height: 1.1;
    }
  }
  .f-contr-footr {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 2px;
    .ant-btn{
      color: var(--green);
      border: 1px solid var(--green);
      background-color: transparent;
      font-weight: 500;
      height: 35px;
      line-height: 1;
      font-size: 0.85rem;
      padding: 0;
      width: 115px;
      &:hover{
        background-color: var(--green);
        color: #FFF;
      }
    }
    h5 {
      color: var(--primary);
      margin: 0;
      font-size: 0.95rem;
      line-height: 1.2;
      flex: 1 1 0px;
      margin-right: 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
// Mobile
@media only screen and (max-width: 767px) {
  .f-conversations .f-csl-react-play{
    min-width: 350px;
  }
}
@media only screen and (max-width: 640px) {
  .PostsCard {
    .f-head {
      padding: 10px 15px;
      .f-west {
        h5 {
          font-size: 0.82rem;
          margin: 0 0 5px;
        }
        h6 {
          font-size: 0.65rem;
        }
        span {
          &.ant-avatar {
            width: 40px;
            height: 40px;
            margin-right: 10px;
          }
        }
      }
    }
    .f-sect {
      .f-poster {
        min-height: 125px;
        .f-overlay {
          padding: 15px;
          .ant-tag {
            padding: 6px 9px;
          }
        }
      }
    }
  }
  .f-conversations .f-csl-react-play {
    min-width: 270px;
  }
}
@media only screen and (max-width: 540px) {
  .f-conversations .f-csl-react-play {
    min-width: 180px;
  }
}
@media only screen and (max-width: 420px) {
  .f-story-communications .f-conversations .f-bubble {
    border-radius: 10px;
    padding: 10px 10px;
  }
  .f-conversations .f-csl-react-play {
    min-width: 100px;
  }
}