.border{
    border: 1px solid #ccc;
    margin-top: 100px;
    background: #000;

}
.white{
    background: #fff;
    height:2px;

}
.listAnnouncement{
    .f-float{
        float: left;
        width: 100%;
    }
    .f-body{
        margin-top: 35px;
    }
    .f-post-listing {
        @extend .f-float;
        position: relative;
    }
    .f-posts-main {
        width: 100%;
        max-width: 720px;
        float: right;
        padding-left: 25px;
        .f-story-wrap {
            background-color: #555555;
            float: left;
            width: 100%;
            padding: 30px;
            border-radius: 5px;
        }
        .f-story-wrap-progress {
            float: left;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .ant-progress-text{
                display: none;
            }
            .ant-progress-inner{
                background-color: #707070;
            }
            .ant-progress-success-bg, .ant-progress-bg{
                background-color: #FFF;
                height: 5px !important;
            }
            .ant-btn{
                background-image: url(../../../assets/images/icon/cls.png);
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent !important;
                border: none !important;
                padding: 0;
                width: 35px;
                height: 35px;
            }
        }
        .f-story-wrap-head {
            float: left;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0;
            .f-left{
                display: flex;
                align-items: flex-start;
                flex: 1 1 0;
                img{
                    border-radius: 5px;
                    width: 56px;
                    height: auto;
                    margin-right: 15px;
                }
                h4 {
                    color: #ffffff;
                    font-size: 0.9rem;
                    margin: 0 0 6px 0;
                    line-height: 1;
                    font-weight: 600;
                    @extend .f-float;
                  }
                  h5 {
                    font-weight: 300;
                    margin: 0 0 5px;
                    color: #e3e3e3;
                    @extend .f-float;
                    font-size: 0.8rem;
                  }
                  h6 {
                    color: #9e9e9e;
                    font-weight: 400;
                    font-size: 0.75rem;
                    line-height: 1;
                    margin: 0;
                    @extend .f-float;
                  }
            }
            .f-right{
                padding-left: 15px;
                display: flex;
                .ant-btn{
                    background-color: transparent !important;
                    border: none !important;
                    color: #cecece;
                    box-shadow: none !important;
                    font-weight: 400;
                    height: 30px;
                    line-height: 1;
                    display: flex;
                    align-items: center;
                    padding: 0;
                    i {
                        width: 15px;
                        height: 15px;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: auto 15px;
                    }
                    &.f-back{
                        i{

                            background-image: url(../../../assets/images/icon/left_g.png);
                            margin-right: 5px;
                        }
                    }
                    &.f-next{
                        margin-left: 15px;
                        i{
                            background-image: url(../../../assets/images/icon/right_g.png);
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        
        .f-story-wrap-body{
            float: left;
            width: 100%;
            .ant-carousel{
                float: left;
                width: 100%;
                margin-bottom: 35px;
                .slick-slider{
                    float: left;
                    width: 100%;
                    .slick-list{
                        float: left;
                    width: 100%;
                    }
                }
                .slick-dots-bottom {
                    bottom: -12px;
                    li {
                        button {
                            width: 12px !important;
                            height: 12px !important;
                            border-radius: 50%;
                            background-color: #959595;
                            opacity: 1;
                        }
                        &.slick-active{
                            button{
                                background-color: var(--green);
                            }
                        }
                    }
                }
            }
            .f-description{
                float: left;
                width: 100%;
                p{
                    color: #ddd;
                    margin: 0;
                    font-size: 0.85rem;
                    line-height: 1.4;
                    &+p{
                        margin-top: 12px;
                    }
                }
            }
        }
        .f-story-wrap-footer {
            float: left;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            .f-west {
                ul {
                    display: flex;
                    align-content: center;
                    margin: 0;
                    li {
                        float: left;
                        span {
                            float: left;
                            background-repeat: no-repeat;
                            background-position: left center;
                            color: #fff;
                            font-size: 0.95rem;
                            height: 30px;
                            padding-left: 34px;
                            display: flex;
                            align-items: center;
                            line-height: 1;
                            position: relative;
                            background-image:url(../../../assets/images/icon/chat_g.svg);
                            background-size: 24px auto;
                        }
                        i {
                            position: absolute;
                            background-color: var(--green);
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            top: 1px;
                            left: 17px;
                        }
                    }
                }
            }
            .f-east {
                .f-docs {
                    float: left;
                    background-repeat: no-repeat;
                    background-position: left center;
                    color: #fff;
                    font-size: 0.95rem;
                    height: 30px;
                    padding-left: 34px;
                    display: flex;
                    align-items: center;
                    line-height: 1;
                    position: relative;
                    background-image:url(../../../assets/images/icon/doc_w.png);
                    margin-right: 20px;
                }
                .ant-btn {
                    background-color: transparent !important;
                    background-image: url(../../../assets/images/icon/more_g.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    padding: 0;
                    border: none;
                    line-height: 1;
                    width: 30px;
                    height: 30px;
                    outline: none;
                    box-shadow: none;
                    background-size: auto 20px;
                  }
                  .share-ant-btn {
                    background-image: url(../../../assets/images/icon/share_white.svg) !important;
                  }
            }
        }
    } 
}

@media only screen and (max-width:1020px){
    .listAnnouncement {
        &.f-page{
            .f-post-listing{
                display: flex;
                flex-direction: column;
                .f-posts-main{
                    order: 1;
                    margin: 0 0 20px;
                    padding: 0;
                    max-width: 100%;
                    .f-story-wrap {
                        padding: 20px 15px !important;
                    }
                    .f-story-wrap-head {
                        flex-direction: column;
                        justify-content: flex-start;
                        .f-left {
                            width: 100%;
                        }
                        .f-right {
                            padding: 10px 0 0 !important;
                        }                        
                    }
                }
                .AnnouncementSidebar{
                    order: 2;
                    max-width: 100%;
                    max-height: unset;
                }
            }
        }
    }
}