.listMessages {
    
    .f-float {
        float: left;
        width: 100%;
    }
    .f-body {
        margin-top: 35px;
    }
    .f-post-listing {
        @extend .f-float;
        position: relative;
    }
    .f-posts-main {
        width: 100%;
        max-width: 720px;
        float: right;
        padding-left: 25px;
    }
    .f-req-details-header{
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 15px;
        .ant-input-search {
            max-width: 215px;
            width: 100%;
            .ant-input {
                border: none;
                background-color: #e9e9e9;
                border-radius: 5px;
                box-shadow: none;
                outline: none;
                height: 40px;
                color: #444;
                font-size: 0.85rem;
            }
        }
        .f-left {
            
            float: left;
            margin-right: 15px;
            .mr-top{
                margin-top:5%
            }
            h4{
                font-size: 1.2rem;
                margin: 0;
                line-height: 1;
                float: left;
                color: #464647;
            }
            h5{
                float: left;
                color: #9a9a9a;
                clear: left;
                margin: 6px 0 0;
                font-weight: 400;
                font-size: 0.9rem;
                em{
                    color: #464647;
                    font-style: normal;
                }
            }
        }
    }
    .f-search-result {
        @extend .f-float;
      }
      .f-family-list {
        @extend .f-float;
        display: flex;
        flex-wrap: wrap;
        .f-family-card {
          background-color: #ffffff;
          border: 1px solid #eaeaea;
          border-radius: 5px;
          padding: 0;
          width: calc(38% - 7px);
          box-shadow: 0 1px 25px rgba(40, 53, 86, 0.1);
          margin: 0 7px 15px 7px;
          &:nth-child(odd) {
            margin-left: 0;
          }
          &:nth-child(even) {
            margin-right: 0;
          }
          .f-inset {
            @extend .f-float;
            padding: 15px;
          }
          footer {
            @extend .f-float;
            background-color: #f7f7f7;
            border-top: 1px solid #eeeeee;
            .ant-btn {
              border: none;
              width: 100%;
              float: left;
              line-height: 1;
              height: 40px;
              box-shadow: none;
              background-color: transparent !important;
              color: var(--green);
              font-weight: 600;
              &[disabled] {
                color: #999;
              }
            }
          }
          .f-start {
            @extend .f-float;
            display: flex;
            .f-left {
              padding-right: 12px;
              flex: 0 0 92px;
              img {
                border-radius: 5px;
                width: 100%;
              }
            }
            .f-right {
              flex: 1 1 0;
              h4,
              h5,
              h6 {
                @extend .f-float;
              }
              h4 {
                color: #202020;
                font-size: 1rem;
                margin: 0 0 5px 0;
                line-height: 1;
                font-weight: 600;
              }
              h5,
              h6 {
                color: var(--text);
              }
              h5 {
                font-weight: 300;
                margin: 0 0 7px;
                strong {
                  font-weight: 500;
                }
              }
              h6 {
                font-weight: 400;
                font-size: 0.8rem;
                margin: 0;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 190px;
                line-height: 1.2;
                & + h6 {
                  margin: 7px 0 0;
                }
                &.f-pin {
                  background-image: url(../../../assets/images/icon/location.png);
                  background-position: left top;
                  background-size: auto 12px;
                  background-repeat: no-repeat;
                  padding-left: 15px;
                }
              }
            }
            min-height: 80px;
          }
          .f-stop {
            @extend .f-float;
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h5 {
              font-size: 0.85rem;
              margin: 0;
              color: var(--text);
              font-weight: 400;
              line-height: 1;
              strong {
                color: var(--green);
                font-weight: 500;
              }
            }
          }
          .f-right-combo {
            @extend .f-float;
            display: flex;
            align-items: center;
            margin-top: 3px;
            .ant-btn {
              background-color: var(--green);
              color: #fff;
              border-color: var(--green);
              height: 25px;
              line-height: 1;
              padding: 0 10px;
              font-size: 0.75rem;
              border-radius: 5px;
              &:hover {
                background-color: var(--primary);
                border-color: var(--primary);
              }
              & + .f-line {
                margin-left: 10px;
              }
              &.f-line {
                background-color: #fff;
                color: var(--green);
                &:hover {
                  border-color: var(--primary);
                  color: var(--primary);
                }
              }
            }
            .pd-l{
              padding-left: 3%;
              img{
                width: 30px;
              }
            }
          }
        }
      }
    .postsCard {
        .f-head {
            position: relative;
            margin-bottom: 10px;
            &:before {
                content: "";
                position: absolute;
                left: 15px;
                right: 15px;
                background-color: var(--pagebg);
                height: 1px;
                bottom: 0;
            }
            .ant-tag{
                border-color: var(--green) !important;
                background-color: transparent;
                color: var(--green) !important;
                font-size: 0.6rem;
                padding: 3px 5px;
                height: unset !important;
                line-height: 1;
                border-radius: 10px;
                float: left;
                margin-bottom: 3px;
            }
        }
        .f-post-description{
            h4{
                float: left;
                width: 100%;
                font-size: 1.1rem;
                font-weight: 600;
                margin-bottom: 5px;
            }
        }
    }
}
.messageDetails{
    .postsCard {
        .f-head {
            position: relative;
            margin-bottom: 10px;
            align-items: center;
            .f-west{
                align-items: center;
            }
            &:before {
                content: "";
                position: absolute;
                left: 15px;
                right: 15px;
                background-color: var(--pagebg);
                height: 1px;
                bottom: 0;
            }
            .ant-tag{
                border-color: var(--green) !important;
                background-color: transparent;
                color: var(--green) !important;
                font-size: 0.6rem;
                padding: 3px 5px;
                height: unset !important;
                line-height: 1;
                border-radius: 10px;
                float: left;
                margin-bottom: 3px;
            }
            .f-east .ant-btn {
                width: unset;
                margin: 0 0 0 10px !important;
                height: 30px !important;
                font-size: 0.8rem;
                padding: 0 10px;
                img{
                    width: 16px;
                    margin-right: 6px;
                }
            }
        }
        .f-post-description{
            h4{
                float: left;
                width: 100%;
                font-size: 1.1rem;
                font-weight: 600;
                margin-bottom: 5px;
            }
        }
    }
}

@media only screen and (max-width: 1020px) {
    .listMessages{
        &.listMessages {
            .f-posts-main {
                padding-left: 0;
                max-width: 100%;
            }
        }
    }
    .listAnnouncement.f-page.messageDetails {
        .f-post-listing {
            .MessageSidebar {
                order: 2;
                max-width: 100%;
                max-height: unset;
            }
        }
    }
}