.listMessages {
    .f-float {
        float: left;
        width: 100%;
    }
    .f-body {
        margin-top: 35px;
    }
    .f-post-listing {
        @extend .f-float;
        position: relative;
    }
    .f-posts-main {
        width: 100%;
        max-width: 720px;
        float: right;
        padding-left: 25px;
    }
    .f-req-details-header{
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 15px;
        .ant-input-search {
            max-width: 215px;
            width: 100%;
            .ant-input {
                border: none;
                background-color: #e9e9e9;
                border-radius: 5px;
                box-shadow: none;
                outline: none;
                height: 40px;
                color: #444;
                font-size: 0.85rem;
            }
        }
        .f-left {
            
            float: left;
            margin-right: 15px;
            .mr-top{
                margin-top:5%
            }
            h4{
                font-size: 1.2rem;
                margin: 0;
                line-height: 1;
                float: left;
                color: #464647;
            }
            h5{
                float: left;
                color: #9a9a9a;
                clear: left;
                margin: 6px 0 0;
                font-weight: 400;
                font-size: 0.9rem;
                em{
                    color: #464647;
                    font-style: normal;
                }
            }
        }
    }
    .postsCard {
        .f-head {
            position: relative;
            margin-bottom: 10px;
            &:before {
                content: "";
                position: absolute;
                left: 15px;
                right: 15px;
                background-color: var(--pagebg);
                height: 1px;
                bottom: 0;
            }
            .ant-tag{
                border-color: var(--green) !important;
                background-color: transparent;
                color: var(--green) !important;
                font-size: 0.6rem;
                padding: 3px 5px;
                height: unset !important;
                line-height: 1;
                border-radius: 10px;
                float: left;
                margin-bottom: 3px;
            }
        }
        .f-post-description{
            h4{
                float: left;
                width: 100%;
                font-size: 1.1rem;
                font-weight: 600;
                margin-bottom: 5px;
            }
        }
    }
}
.messageDetails{
    .postsCard {
        .f-head {
            position: relative;
            margin-bottom: 10px;
            align-items: center;
            .f-west{
                align-items: center;
            }
            &:before {
                content: "";
                position: absolute;
                left: 15px;
                right: 15px;
                background-color: var(--pagebg);
                height: 1px;
                bottom: 0;
            }
            .ant-tag{
                border-color: var(--green) !important;
                background-color: transparent;
                color: var(--green) !important;
                font-size: 0.6rem;
                padding: 3px 5px;
                height: unset !important;
                line-height: 1;
                border-radius: 10px;
                float: left;
                margin-bottom: 3px;
            }
            .f-east .ant-btn {
                width: unset;
                margin: 0 0 0 10px !important;
                height: 30px !important;
                font-size: 0.8rem;
                padding: 0 10px;
                img{
                    width: 16px;
                    margin-right: 6px;
                }
            }
        }
        .f-post-description{
            h4{
                float: left;
                width: 100%;
                font-size: 1.1rem;
                font-weight: 600;
                margin-bottom: 5px;
            }
        }
    }
}

@media only screen and (max-width: 1020px) {
    .listMessages{
        &.listMessages {
            .f-posts-main {
                padding-left: 0;
                max-width: 100%;
            }
        }
    }
    .listAnnouncement.f-page.messageDetails {
        .f-post-listing {
            .MessageSidebar {
                order: 2;
                max-width: 100%;
                max-height: unset;
            }
        }
    }
}