.RequestForHelp {
    .f-boxed {
        max-width: 740px;
        margin: 30px auto;
    }
    .hide {
        display: none;
    }
    .f-request-listing {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .f-listing-empty {
        float: left;
        width: 100%;
        min-height: 250px;
        background-color: #fbfbfb;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        h3 {
            float: left;
            width: 100%;
            color: #343a40;
            font-size: 1.4rem;
            font-weight: 500;
            margin: 0 0 15px;
            line-height: 1.2;
        }
        p {
            float: left;
            width: 100%;
            color: #aeaeae;
            font-size: 1rem;
            margin: 0 0 20px;
            line-height: 1.2;
            font-weight: 400;
        }
    }
    .f-submit.f-btn-green {
        background-color: var(--green);
        height: 42px;
        &.f-btn-line {
            background-color: #fff;
            border: 1px solid var(--green);
            color: var(--green);
            &:hover{
                background-color: var(--green);
                color: #fff;
            }
        }
    }
    .f-listing-items {
        text-align: center;
        margin-top: 15px;
    }
    .f-listing-cards {
        float: left;
        width: 100%;
        margin-top: 30px;
        text-align: left;
    }
    .f-request-card {
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding: 15px;
        width: 100%;
        float: left;
        &+.f-request-card{
            margin-top: 25px;
        }
        .f-start {
            float: left;
            width: 100%;
            display: flex;
            .f-left {
                margin-right: 15px;
                flex: 0 0 92px;
                border: 1px solid #eaeaea;
                padding: 5px;
                border-radius: 6px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                strong{
                    float: left;
                    width: 100%;
                    font-size: 1.4rem;
                    font-weight: 500;
                }
                em{
                    float: left;
                    width: 100%;
                    font-style: normal;
                    line-height: 1;
                    font-size: 0.65rem;
                    color: var(--green);
                    margin-top: 2px;
                }
            }
            .f-right {
                flex: 1 1 0;
                h4,
                h5 {
                    float: left;
                    width: 100%;
                }
                h4 {
                    color: #202020;
                    font-size: 1rem;
                    margin: 0 0 6px 0;
                    line-height: 1;
                    font-weight: 600;
                }
                h5 {
                    color: var(--text);
                    font-weight: 300;
                    margin: 0 0 6px;
                    font-size: 0.85rem;
                    line-height: 1.2;
                    strong {
                        font-weight: 500;
                    }
                }
            }
        }
        .f-stop {
            float: left;
            width: 100%;
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h5 {
                font-size: 0.85rem;
                margin: 0;
                color: var(--text);
                font-weight: 400;
                line-height: 1;
                strong {
                    color: var(--green);
                    font-weight: 500;
                }
            }
        }
        .f-right-combo {
            float: left;
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 3px;
            .ant-btn {
                background-color: var(--green);
                color: #fff;
                border-color: var(--green);
                height: 25px;
                line-height: 1;
                padding: 0 10px;
                font-size: 0.75rem;
                border-radius: 5px;
                &:hover {
                    background-color: var(--primary);
                    border-color: var(--primary);
                }
                & + .f-line {
                    margin-left: 10px;
                }
                &.f-line {
                    background-color: #fff;
                    color: var(--green);
                    &:hover {
                        border-color: var(--primary);
                        color: var(--primary);
                    }
                }
            }
        }
    }
    .fh-location-fix-form {
        padding-bottom: 0 !important;
        &+ div {
            margin-top: 0 !important;
        }
    }
}
@media only screen and (max-width: 520px) {
    .RequestForHelp {
        .f-boxed {
            flex-direction: column;
            position: relative;
            .f-create-form-head {
                padding-left: 55px !important;
            }
            .f-create-form-back {
                margin: 0;
                padding: 0;
                width: 50px;
                position: absolute;
                top: 5px;
                left: 16px;
                border: none !important;
                background-color: none !important;
            }
        }
    }
}
