// Auth pages
#url_link_call_to{
    // display: none;
}
.badge-count{
    position: absolute !important;
    bottom: 0px;
    right: 3px;
    background: #4fae50;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    color: #fff !important;
    z-index: 99;
    padding: 3px 7px !important;
    &.badge-count-fix {
        width: auto;
        min-width: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 23px;
    }
}
.spin-loader{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.fg-auth-page {
    float: left;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    
    .fh-auth-left {
        background-image: url(/images/social.jpg);
        float: left;
        width: 100%;
        flex: 1 1 0;
        background-repeat: repeat;
        div{
            padding: 50px 100px;
            width: 100%;
            height: 100%;
            background-color: rgba(58, 34, 98, 0.8);
            float: left;
            display: flex;
            align-items: center;
            position: relative;
            .fh-app-buttons {
                position: absolute;
                left: 100px;
                bottom: 50px;
                z-index: 1;
                a{
                    float: left;
                    &+a{
                        margin-left: 10px;
                    }
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
        h2{
            color: #FFF;
            font-weight: 100;
            font-size: 75px;
            line-height: 1;
            strong{
                font-weight: 600;
                &.fh-alt{
                    background-image: url(/images/line.png);
                    background-repeat: repeat-x;
                    background-position: left bottom;
                }
            }
        }
    }
    .fh-auth-right {
        float: right;
        flex: 0 0 700px;
        padding: 50px;
        width: 700px;
    }
    .fh-auth-flex {
        float: left;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fh-logo {
        float: left;
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
        img{
            max-width: 100%;
            width: 300px;
            display: inline-block;
            vertical-align: top;
        }
    }
    
}
.fg-form-items {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    &.fh-w-label{
        label{
            float: left;
            width: 100%;
            color: #838383;
            font-size: 0.85rem;
            margin: 0 0 10px;
        }
    }
}
.fm-terms {
    float: left;
    width: 100%;
    margin-top: 30px;
    p{
        font-size: 0.75rem;
        line-height: 1.4;
        color: #838383;
        a{
            color: #292d31;
            border-bottom: 1px solid #a7a7a7;
        }
        margin: 0;
        &+p{
            margin-top: 10px;
        }
    }
}
.fh-form-control{
    float: left;
    width: 100%;
    clear: both;
    .MuiFormControl-root {
        width: 100%;
        margin: 0;
    }
    &+.fh-form-control{
        margin-top: 25px;
    }
    .MuiTypography-colorError {
        font-size: 12px;
        float: left;
        width: 100%;
        margin-top: 5px;
    }
    &.fl-inp-flex{
        display: flex;
        input{
            flex: 1 1 0;
        }
    }
    input{
        background-color: #FFF;
        height: 40px;
        border: 1px solid #CCC;
        flex: 1 1 0;
        padding: 10px;
        outline: none;
        box-shadow: none;
        border-radius: 0 !important;
    }
    input[type="text"] {
        line-height: 40px;
    }
    .ant-select-selection--single {
        outline: none;
        box-shadow: none;
        height: 40px !important;
        border-radius: 0 !important;
        border-right: none !important;
        border-color: #ccc !important;
        .ant-select-selection__rendered {
            outline: none;
            box-shadow: none;
            line-height: 40px;
        }
    }
    .code-selection{
        .ant-select-dropdown{
            width: 250px !important;
        }
        &.f-fix{
            width: 80px;
            .ant-select{
                width: 100% !important;
            }
            &+input{
                width: 100%;
            }
        }
    }
    &+.MuiTypography-root {
        font-size: 12px;
        margin-top: 10px;
        float: left;
        width: 100%;
    }
}
.fh-submit {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    margin: 20px 0 0;
    .fh-otp-btn {
        float: right;
        box-shadow: none;
        background: none;
        font-size: 14px;
        text-transform: inherit;
        color: #676666;
        &:hover{
            background: none;
            color: var(--primary);
        }
    }
    .fh-submit-btn {
        float: left;
        width: 100%;
        clear: both;
        box-shadow: none;
        margin-top: 30px;
        border-radius: 0;
        background-color: var(--button);
        color: #FFF;
        height: 55px;
        font-size: 15px;
        &:hover{
            background-color: var(--green);
        }
    }
}
.fh-icons input{
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px auto;
}
.fh-icon-user input {
    background-image: url(/images/user.png);    
}
.fh-icon-pass input {
    background-image: url(/images/key.png);
}
.fh-icon-mail input {
    background-image: url(/images/mail.png);
}
.fh-icon-phone input {
    background-image: url(/images/phone.png);
}
.fh-sm-buttons {
    font-size: large;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    &>label{
        color: #535353;
        font-size: 13px;
        margin:0 0 20px;
        float: left;
        width: 100%;
    }
    &.fh-alt{
        margin-top: 30px;
    }
}
.fh-sm-button-flex {
    display: flex;
    float: left;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    button {
        border: 1px solid #e2e2e2;
        display: inline-block;
        vertical-align: top;
        width: 80px;
        height: 40px;
        outline: none;
        box-shadow: none;
        background-color: transparent;
        padding: 6px 0;
        border-radius: 30px;
        img{
            height: 28px;
        }
        cursor: pointer;
        &:hover{
            background-color: #e2e2e2;
        }
    }
}
.fh-sm-signup {
    float: left;
    width: 100%;
    color: #858585;
    font-size: 12px;
    line-height: 18px;
    margin-top: 25px;
    a{
        font-size: 12px;
        height: 13px;
        padding: 0;
    }
    button{
        background-color: transparent;
        font-size: 12px;
        height: 13px;
        padding: 0;
        color: var(--primary);
        display: inline-block;
        vertical-align: top;
        text-transform: inherit;
        line-height: 18px;
        min-width: unset;
        margin-left: 3px;
        span{
            display: inline-block;
            vertical-align: top;
            
        }
        &:hover{
            background-color: transparent;
            color: var(--green);
        }
    }
}
.fh-landing{
    background-image: url(/images/background.png);
    float: left;
    width: 100%;
    height: 100vh;
    // overflow: hidden;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left bottom;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    header {
        float: left;
        width: 100%;
        display: flex;
        padding: 35px 80px 25px 80px;
        justify-content: space-between;
        align-items: center;
        .MuiButtonBase-root{
            border: 1px solid var(--primary);
            color: var(--primary);
        }
        img{
            width: 250px;
        }
    }
}
.fh-landing-content {
    width: 100%;
    flex: 1 1 0;
    padding: 0 80px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fg-otp-fields {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    .otp-input {
        width: 45px !important;
        height: 45px;
        border-radius: 3px;
        border: 1px solid #CCC;
        margin: 0 5px;
        outline: none;
        box-shadow: none;
        padding: 5px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #464646;
        &:active, &:focus{
            border-color: #0084ff;
            box-shadow: 0 0 10px rgba(0, 132, 255, 0.35);
        }
        &::placeholder{
            font-weight: 300;
            color: #cdcdcd;
        }
        &:first-of-type{
            margin-left: 0;
        }
        &:last-of-type{
            margin-right: 0;
        }
    }
}
.fg-inp-pass{
    input {
        background-color: #FFF;
        height: 40px;
        border: 1px solid #CCC!important;
        flex: 1 1;
        padding: 10px;
        outline: none;
        border-radius: 0;
        box-shadow: none !important;
    }
}
.fg-profile-pix {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 0.85rem;
    color: #838383;
    line-height: 1.4;
    img{
        width: 100px;
        height: 100px;
        vertical-align: top;
        margin-bottom: 10px;
        border-radius: 50%;
        border: 3px solid #FFF;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        object-fit: cover;
        object-position: center;
    }
}
.fg-get-otp{
    position: relative;
    label{
        color: #bfbfbf !important;
        &.fg-alt{
            font-size: 0.95rem;
            color: #838383 !important;
        }
    }
    .MuiButtonBase-root.fg-otp-back{
        background-image: url(../images/icon/back.png);
        background-repeat: no-repeat;
        background-position: center;
        min-width: unset;
        width: 30px;
        height: 30px;
        position: absolute;
        left: -40px;
        top: -8px;
    }
}
.fg-otp-re {
    float: left;
    width: 100%;
    margin: 15px 0;
    p{
        float: right;
        margin: 0;
        color: #838383;
        font-size: 0.85rem
    }
    .MuiButtonBase-root{
        color: #535353;
        height: unset;
        line-height: 1;
        font-size: 0.85rem;
        padding: 0;
        text-transform: none;
        border-bottom: 1px solid #9c9c9c;
        border-radius: 0;
        min-width: unset;
        margin-left: 10px;
        vertical-align: top;
    }
}
.f-modal-frm-content .ant-modal-body {
    display: inline-block;
    width: 100%;
}
.f-famil-calendar {
    .f-calendar-with-sidebar {
        margin-top: 0;
        .f-calendar-sidebar {
            display: none;
        }
        .f-calendar-ws-content{
            width: 100%;
            padding: 0;
        }
    }
}
.f-calendar-with-sidebar {
    float: left;
    width: 100%;
    display: flex;
    margin: 35px 0 15px;
    .f-calendar-actions {
        float: right;
        .ant-radio {
            display: none;
        }
        .ant-radio-wrapper{
            filter: grayscale(1);
            opacity: 0.5;
            span{
                padding: 0;
            }
            &.ant-radio-wrapper-checked{
                filter: grayscale(0);
                opacity: 1;
            }
        }
    }
    .f-calendar-filters {
        float: left;
        width: 100%;
        &+.f-calendar-filters {
            margin-top: 25px;
        }
        h3{
            float: left;
            width: 100%;
            margin: 0 0 10px;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1;
        }
        h4{
            float: left;
            width: 100%;
            margin: 0 0 10px;
            font-size: 0.85rem;
            font-weight: 500;
            line-height: 1;
        }
        ul{
            float: left;
            width: 100%;
            padding: 0;
            margin: 5px 0 0;
            list-style: none;
            li{
                float: left;
                width: 100%;
                span{
                    color: #9a9a9a;
                    font-size: 0.85rem;
                }
                &+li{
                    margin-top: 14px;
                }
                .ant-checkbox-inner{
                    border-color: var(--primary) !important;
                }
                .ant-checkbox-checked{
                    .ant-checkbox-inner{
                        background-color: var(--primary);
                    }
                }
            }
        }
        .ant-btn.f-alt.ant-btn-box {
            min-width: 200px;
            text-align: left;
            border-radius: 3px;
            height: 40px;
            font-size: 1rem;
            background-color: #e0f5ff;
            border: 1px solid #9fcde3;
            color: #393939;
        }
    }
    .f-calendar-sidebar {
        float: left;
        width: 100%;
        flex: 0 0 280px;
        position: relative;
        .f-sider-block {
            background-color: #FFF;
            border: 1px solid #eaeaea;
            border-radius: 5px;
            float: left;
            width: 100%;
            height: 100%;
        }
        .f-calendar-header {
            float: left;
            width: 100%;
            min-height: 70px;
            display: flex;
            padding: 0 5px 0 0;
            align-items: center;
            border-bottom: 1px solid #eaeaea;
            .f-create-form-back {
                height: 70px !important;
                border: none !important;
                padding: 0;
                width: 50px;
                margin: 0 !important;
            }
            h4{
                font-size: 1.1rem;
                font-weight: 600;
                margin: 0;
            }
            .f-calendar-nav {
                margin-left: auto;
                padding-left: 10px;
                display: flex;
                width: 74px;
                .ant-btn{
                    border-radius: 0;
                    border: none;
                    box-shadow: none;
                }
            }
        }
        .f-calendar-body {
            float: left;
            width: 100%;
            padding: 20px;
        }
    }
    .f-calendar-ws-content {
        position: relative;
        flex: 1 1 0;
        margin-left: 25px;
        background-color: #FFF;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        .f-create-form-back {
            border: none !important;
            padding: 0;
            width: unset;
            margin: 0 !important;
            padding-left: 40px;
            background-position: left 15px center !important;
        }
        .ant-fullcalendar-header{
            display: none !important;
        }
        .ant-fullcalendar{
            padding: 0;
            .ant-fullcalendar-date {
                height: 65px !important;
                border: none !important;
                padding: 0 !important;
                display: flex !important;
                align-items: center;
                justify-content: center;
                margin: 0 !important;
            }
            .ant-fullcalendar-cell {
                border: 1px solid #e8e8e8;
            }
            .ant-fullcalendar-content {
                position: absolute !important;
                height: unset !important;
                right: 10px;
                top: 10px;
                width: unset !important;
                bottom: unset;
                left: unset !important;
                .events{
                    float: right;
                    margin: 0;
                    li{
                        float: right;
                        height: 9px;
                            width: 9px;
                        position: relative;
                        .ant-badge{
                            position: absolute;
                            right: 0;
                            top: 0;
                            height: 9px;
                            width: 9px;
                            .ant-badge-status-text{
                                display: none;
                            }
                            .ant-badge-status-success {
                                background-color: #00e676;
                                height: 9px;
                                width: 9px;
                                top: 0 !important;
                                right: 0;
                                position: absolute;
                            }
                        }
                    }
                }
            }
        }
        .f-clendar-design{
            margin: 0 !important;
            .ant-fullcalendar-table{
                tr{
                    th{
                        &:last-child{
                            border-right: none;
                        }
                    }
                    td{
                        &:last-child{
                            border-right: none;
                        }
                        &:first-child{
                            border-left: none;
                        }
                    }
                    &:last-child{
                        td{
                            border-bottom: none;
                        }
                    }
                }
            }
            .ant-fullcalendar-column-header {
                padding: 0 !important;
                text-align: center !important;
                height: 65px;
                vertical-align: middle;
                background-color: #f9f9f9;
                border-right: 1px solid #e8e8e8;
            }
            .ant-fullcalendar-column-header-inner {
                font-weight: 600;
                color: #313131;
                font-size: 1.1rem;
                padding: 0;
            }
        }
        .f-calendar-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 70px;
            width: 100%;
            float: left;
            border-bottom: 1px solid #eaeaea;
            padding: 0 15px;
            .ant-btn.f-create-form-back {
                height: 40px!important;
                width: unset;
                padding: 0 0 0 20px;
                margin: 0 10px 0 0;
                border: none !important;
                color: #959595;
                background-position: left center !important;
            }
            .ant-input-search{
                margin-right: 15px;
                width: 100%;
                max-width: 350px;
                .ant-input{
                    height: 40px;
                    border: none;
                    box-shadow: none !important;
                    outline: none;
                    padding: 0 0 0 30px;
                    font-size: 0.9rem;
                    color: #444;
                }
                .ant-input-suffix {
                    right: unset !important;
                    left: 8px !important;
                    font-size: 1rem;
                    i{
                        color: #d8d8d8;
                    }
                }  
            }
        }        
    }
}
.f-calendar-list-view {
    float: left;
    padding: 15px;
    width: 100%;
    .f-calnd-list-tot {
        float: left;
        width: 100%;
        font-size: 0.95rem;
        margin: 0 0 10px;
    }
    .f-form-control {
        margin-bottom: 15px;
        .ant-input-search {
            float: left;
            width: 100%;
            max-width: 280px;
        }
    }
    .f-calnd-event-listing {
        float: left;
        width: 100%;
        padding: 0;
        margin: 10px 0;
        li{
            float: left;
            width: 100%;
            &+li{
                border-top: 1px solid #eaeaea;
                padding-top: 15px;
                margin-top: 15px;
            }
            display: flex;
            align-items: flex-start;
            cursor: pointer;
            transition: all ease 0.2s;
            &:hover{
                opacity: 0.7;
            }
            .ant-avatar {
                width: 64px;
                height: 64px;
                margin-right: 15px;
                border-radius: 5px;
            }
            h5 {
                color: var(--heading);
                font-size: 0.95rem;
                margin: 0 0 5px;
                font-weight: 500;
            }
            h6 {
                color: #5e5e5e;
                font-size: 0.85rem;
                margin: 0;
                font-weight: 400;
                line-height: 1.5;
            }
            span:not(.ant-avatar) {
                flex: 1 1;
                
            }
        }
    }
}
.f-eclipse {
    display: flex;
    align-items: flex-start;
    em {
        max-width: 100%;
        padding-left: 5px;
        word-break: break-all;
    }
}
.f-support-page{
    .f-page{
        min-height: 100vh;
    }
    .f-boxed {
        max-width: 700px;
    }
    .f-modal-wiz-body {
        float: left;
        width: 100%;
    }
    .f-modal-wiz-footer {
        float: left;
        width: 100%;
        margin-top: 30px;
    }
}
.ant-modal.f-request-modal{
    width: 640px !important;
    max-width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
    .ant-modal-content{
        border-radius: 10px;
    }
    .ant-modal-footer {
        display: none;
    }
    .ant-modal-body {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 45px 25px;
        vertical-align: top;
        h4{
            color: #464647;
            float: left;
            width: 100%;
            margin: 15px 0 20px;
            font-size: 1.25rem;
            line-height: 1.2;
        }
        h2{
            float: left;
            width: 100%;
            color: var(--primary);
            font-size: 1.7rem;
            font-weight: 600;
            margin: 0 0 20px;
            line-height: 1.1;
        }
        h5 {
            float: left;
            width: 100%;
            margin: 0;
            color: #888888;
            font-size: 0.9rem;
            font-weight: 500;
            line-height: 1.4;
        }
        h1 {
            float: left;
            width: 100%;
            margin: 20px 0 10px;
            color: var(--green);
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.1;
        }
        .f-qty {
            display: inline-block;
            margin: 10px 0;
            vertical-align: top;
            strong{
                color: #202020;
                float: left;
                font-size: 1.1rem;
                font-weight: 500;
                line-height: 1;
                em{
                    font-style: normal;
                    font-size: 1.3rem;
                    color: var(--green);
                }
            }
            p{
                margin: 4px 0 0;
                line-height: 1;
                clear: both;
                font-size: 0.9rem;
                float: left;
                color: #898989;
            }
        }
        .ant-divider{
            float: left;
            width: 100%;
        }
        .f-qty-form {
            float: left;
            width: 100%;
            text-align: center;
            p{
                color: #242424;
                font-weight: 300;
                margin: 0 0 15px;
                font-size: 0.9rem;
                line-height: 1.2;
            }
            .ant-input {
                display: inline-block;
                vertical-align: top;
                margin: 5px 0;
                height: 40px;
                border-radius: 3px;
                width: 100%;
                max-width: 150px;
                color: #292929;
                font-size: 1.4rem;
                font-weight: 500;
                border: 1px solid #ccc !important;
                text-align: center;
                outline: none !important;
                box-shadow: none !important;
                &::placeholder{
                    font-weight: 400;
                    font-size: 0.9rem;
                }
            }
        }
        .f-mdl-submit{
            float: left;
            width: 100%;
            margin-top: 30px;
            .ant-btn.f-btn-green {
                display: inline-block;
                vertical-align: top;
                background-color: var(--green);
                border: 1px solid var(--green);
                height: 45px;
                width: 100%;
                max-width: 150px;
                color: #FFF;
                font-size: 0.9rem;
                &:hover{
                    border: 1px solid var(--primary);
                    background-color: var(--primary);
                    color: #FFF;
                }
            }
        }
    }
}

.star{
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
}
// Mobile
@media only screen and (max-width:1600px){
    .fg-auth-page {
        .fh-auth-right {
            flex: 0 0 550px;
            width: 550px;
        }
        .fh-auth-left h2 {
            font-size: 60px;
        }
    }
}

@media only screen and (max-width:1280px){
    .fg-auth-page {
        .fh-auth-right {
            flex: 0 0 420px;
            width: 420px;
            padding: 25px;
        }
        .fh-auth-left h2 {
            font-size: 45px;
        }
    }
    .fg-form-items{
        &.fh-w-label {
            label{
                padding-left: 35px;
                &.f-alt{
                    padding-left: 0;
                }
            }
        }
    }
    .fg-get-otp .MuiButtonBase-root.fg-otp-back{
        left: 0;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 1025px) {
    .ResultPage .f-events-main, .eventDetails .f-events-main, .eventListing .f-events-main,
    .familyDetails .f-events-main, .myFamily .f-posts-main, .listAnnouncement .f-posts-main,
    .listLanding .f-posts-main, .userDetails .f-events-main{
        max-width: 650px !important;
    }
}

@media only screen and (max-width:1024px){
    .fh-wrap {
        .f-force-hide-tab {
            display: none !important;
            width: 0 !important;
            height: 0 !important;
            overflow: hidden !important;
            position: fixed !important;
            visibility: hidden !important;
        }
    }
    .f-page{
        padding-bottom: 65px;
    }
    .postsCard,.eventCard{
        border-radius: 0 !important;
        border-left: none !important;
        border-right: none !important;    
    }
    html {
        font-size: 15px;
    }
    .postsCard {
        .f-foot{
            padding: 10px 15px !important;
        }
        .ant-carousel{
            margin-bottom: 15px !important;
        }
    }
    .f-drop-mob-compat{
        .f-sider-menu .ant-menu-submenu .ant-menu-submenu-title {
            height: 20px !important;
            line-height: 20px !important;
            border: none !important;
        }
        ul.f-sider-menu .ant-menu-submenu .ant-menu-sub {
            padding-left: 0 !important;
        }
        ul.f-sider-menu .ant-menu-item {
            justify-content: flex-start !important;
            padding-left: 0 !important;
        }
    }
    .f-results-search-bar.f-on-mob{
        display: block !important;
    }
    .f-feed-sep{
        padding: 0 15px;
    }
    .f-hide-on-ipad{
        display: none !important;
    }
    .f-resp-fix1 {
        padding: 0 15px;
        .ant-input-search{
            max-width: 100% !important;
        }
    }
    .f-event-mob-fix .f-content-searchable {
        padding: 0 15px;
    }
}

@media only screen and (max-width:992px) {
    .f-boxed-calendar {
        .f-calendar-search {
            position: relative;
            width: 100%;
            left: 0;
            top: unset;
            flex-wrap: wrap;
            margin-top: 15px;
            justify-content: space-between;
            button {
                margin-left: auto;
            }
        }
        .f-clendar-design {
            margin-top: 10px !important;
            .ant-fullcalendar-header {
                text-align: left;
                display: flex;
                flex-wrap: wrap;
                padding-top: 5px;
                .ant-radio-group {
                    margin-left: auto !important;
                }
            }
        }
    }
    .f-calendar-with-sidebar {
        flex-direction: column;
         .f-calendar-ws-content {
            width: 100%;
            margin: 25px 0 0;
        }
        .f-calendar-filters ul {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            li {
                width: auto;
                margin: 0!important;
                .ant-checkbox-wrapper{
                    margin-bottom: 5px;
                }
                &+li{
                    margin-left: 10px !important;
                }
            }
        }
    }
}

@media only screen and (max-width:767px){
    .fg-auth-page {
        .fh-auth-right {
            flex: 0 0 100%;
            width: 100%;
        }
        .fh-auth-left {
            display: none !important;
        }
    }
    .fh-landing-content {
        flex-direction: column;
        float: left;
        width: 100%;
        .fh-left {
            float: left;
            width: 100%;
            margin-bottom: 25px;
        }
        .fh-right {
            float: left;
            width: 100%;
        }
        padding: 20px 20px 30px;
        justify-content: center;
    }
    .fh-landing header {
        padding: 20px 20px 25px 20px;
    }
    .f-static-page,.fh-auth-signup,.fh-auth-signin {
        margin-bottom: -50px;
    }
    .f-head-skelton {
        .f-brand {
            img {
                max-height: 30px;
            }
        }
    }
    html {
        font-size: 14px;
    }
    .ResultPage .f-family-list .f-family-card .f-start .f-left{
        flex: 0 0 70px;
    }
}
@media only screen and (max-width:680px){
    .fg-auth-page {
        .fh-auth-right {
            padding: 15px 20px;
        }
        .fh-logo img {
            width: 220px;
        }
    }
    .fh-submit .fh-submit-btn {
        margin-top: 20px;
        height: 45px;
    }
    .fh-landing header img {
        width: 175px;
    }
    .f-album-listing-cards .ant-card {
        width: 50%;
    }
    .f-calendar-with-sidebar .f-calendar-ws-content .f-calendar-header .ant-input-search {
        max-width: 230px;
    }
    .f-head-skelton {
        .f-control-center {
            .f-icon-search{
                display: none !important;
            }
        }
    }
}
@media only screen and (max-width:640px) {
    .familyDetails .f-edit-family.f-alt-ef1 {
        flex: unset !important;
        padding: 0 10px;
        margin-top: 10px;
    }
}
@media only screen and (max-width:620px) {
    .f-modal-filter-by-fam{
        .f-member-cardx {
            width: 100% !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }
    .f-share-tabbed{
        .f-member-cardx {
            width: 100% !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }
    .f-doc-listing-cards .ant-card{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .f-member-listing {
        .f-content-searchable {
            flex-direction: column;
            align-items: flex-start;
            .ant-btn:not(.ant-btn-icon-only){
                margin-bottom: 15px;
            }
            &.f-alt-non-col{
                flex-direction: row;
                align-items: center;
                h4+.ant-input-search {
                    margin-left: 20px;
                }
                &.f-alt {
                    flex-direction: column;
                    align-items: center;
                    h4{
                        margin: 10px 0 15px;
                    }
                    .ant-btn{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .f-doc-details .f-doc-name {
        flex-direction: column;
        background-position: left top;
        align-items: flex-start;
        div:nth-child(2) {
            padding: 15px 0 0 !important;
        }
    }
    .f-drop-mob-compat .f-sider-menu .ant-menu-submenu .ant-menu-submenu-title .ant-menu-submenu-arrow {
        display: none;
    }
}
@media only screen and (max-width:520px) {
    .f-boxed-calendar {
        .f-calendar-search {
            position: relative;
            width: 100%;
            left: 0;
            top: unset;
            flex-wrap: wrap;
            margin-top: 15px;
            h4{
                font-size: 1rem;
                margin: 0 5px 0 0;
            }
            .ant-btn-box {
                margin-left: 10px !important;
                padding: 0 10px !important;
                span {
                    display: none;
                }
            }
        }
    }
    .f-clendar-design {
        .ant-fullcalendar {
            .ant-fullcalendar-column-header-inner {
                font-size: 0.85rem;
                padding: 5px 0;
            }
            .ant-fullcalendar-column-header {
                padding-right: 5px;
            }
            .ant-fullcalendar-month, .ant-fullcalendar-date {
                padding: 4px 1px;
                border-top: 1px solid #e8e8e8;
            }
            .ant-fullcalendar-value {
                font-size: 0.85rem;
            }
            .ant-badge-status-text {
                margin-left: 0;
                font-size: 9px;
            }
            .ant-badge-status {
                display: flex;
                flex-direction: column;
                margin-top: 5px;
            }
        }
    }
}
@media only screen and (max-width:480px){
    .f-text-ellipse {
        max-width: 130px;
    }
    .ant-modal-body {
        padding: 20px 15px;
    }
    .f-story-communications .f-conversations .f-incoming .f-avatar {
        width: 32px;
    }    
}
@media only screen and (max-width:420px){
    .fh-landing header {
        flex-direction: column;
        img {
            margin-bottom: 20px;
        }
    }
    .fg-otp-fields .otp-input {
        width: 43px !important;
        margin: 0 2px;
    }
    .f-boxed-calendar {
        .f-clendar-design {
            .ant-fullcalendar-header {
                .ant-radio-group {
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }
    }
    .f-clendar-design .ant-fullcalendar {
        padding: 10px 5px;
    }
    .f-modal-filter-by-fam .f-member-listing-cards .f-member-cardx .f-start .f-left {
        flex: 0 0 55px;
        height: 55px;
    }
    .f-share-tabbed .f-member-listing-cards .f-member-cardx .f-start .f-left {
        flex: 0 0 55px;
        height: 55px;
    }
    .f-album-listing-cards .ant-card {
        width: 100%;
        padding: 0;
    }
}
@media only screen and (max-height:700px){
    .fh-auth-signin{
        &.fg-auth-page {
            .fh-logo {
                margin-bottom: 40px;
            }
        }
        .fh-sm-buttons {
            margin-top: 40px;
        }
    }
}