// Colors
:root{
    --primary: #3a2262;
    // --green: #4cb475;
    --green: #4bae50;
    --heading: #242424;
    --text: #717679;
    --yellow: #ffdd72;
    --pagebg: #f4f4f4;
    --link: #046df0;
    --button: #7e57c2;
}

// Reset
*{box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote {&:before, &:after {content: '';content: none; } }
q {&:before, &:after {content: '';content: none; } }
table {border-collapse: collapse;border-spacing: 0; }

html{
    font-size: 16px;
}
body{
    font-family: 'Poppins', sans-serif !important;
    line-height: 1 !important;
    color: var(--heading) !important;
    background-color: var(--pagebg) !important;
    font-size: 100%;
}
img{
    max-width: 100%;
}
.f-clearfix{
    float: left;
    width: 100%;
}
.fh-wrap {
    @extend .f-clearfix;
    position: relative;
    min-height: 100vh;
}
.f-page{
    @extend .f-clearfix;
    padding: 66px 0 75px;
    transition: all ease-in-out 0.2s;
    overflow-wrap:break-word;
    word-break: break-word;
}
.f-boxed {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1074px;
    padding: 0 15px;
}
.f-sider{
    padding-right: 5px;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: transparent; 
    }
    &::-webkit-scrollbar-thumb {
        background: #ddd; 
    }
    &::-webkit-scrollbar-thumb:hover {
        background: var(--primary); 
    }
}
.text-center{
    text-align: center;
}
// Sticky
.f-sticky{
    .f-head-skelton {
        height: 50px;
        padding: 2px 0;
        .f-control-center {
            transform: scale(0.9);
        }
        .f-graph-search .ant-input{
            height: 35px;
        }
        .f-brand img {
            transform: scale(0.8);
        }
    }
}

.f-b-sticky{
    .f-b-sider{
        position: fixed;
        top: 85px;
        overflow-y: auto;
        height: calc(100vh - 85px);
    }
}

// Steps
.f-steps{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    .ant-steps-icon-dot:before {
        content: "";
        border: 1px solid #bfbfbf;
        position: absolute;
        left: -3px;
        top: -3px;
        bottom: -3px;
        right: -3px;
        border-radius: 50%;
    }
    .ant-steps-item-wait {
        &> .ant-steps-item-container {
            &> .ant-steps-item-tail{
                &:after{
                    background-color: #e4e4e4;
                }
            }
        }
    }
    .ant-steps-item-process {
        .ant-steps-item-icon {
            &> .ant-steps-icon {
                .ant-steps-icon-dot{
                    background-color: var(--green);
                }
            }
        }
    }
    .ant-steps-item-finish {
        &> .ant-steps-item-container {
            &> .ant-steps-item-tail{
                &:after {
                    background-color: var(--green);
                }
            }
        }
        .ant-steps-item-icon {
            &> .ant-steps-icon {
                .ant-steps-icon-dot {
                    background-color: var(--green);
                    &:before {
                        content: "";
                        border-color: var(--green);
                    }
                }
            }
        }
    }
}
.f-head-skelton {
    overflow-wrap: break-word;
    word-break: break-word;
}
// Form Control
.f-form-control{
    @extend .f-clearfix;
    &+.f-form-control {
        margin-top: 20px;
    }
    .f-tip{
        @extend .f-clearfix;
        font-size: 0.8rem;
        color: #bbbbbb;
        line-height: 1.3;
        margin-top: 5px;
        i{
            color: #b3b3b3;
            
        }
        strong{
            color: var(--green);
            font-weight: 500;
        }
    }
    .ant-input{
        @extend .f-clearfix;
        border: 1px solid #ddd !important;
        height: 42px;
        outline: none;
        box-shadow: none !important;
        font-size: 0.85rem;
        color: var(--heading);
    }
    textarea.ant-input {
        height: unset;
        resize: vertical;
    }
    label{
        @extend .f-clearfix;
        color: var(--text);
        font-size: 0.85rem;
        line-height: 1;
        margin: 5px 0 8px;
    }
    .ant-select{
        @extend .f-clearfix;
        .ant-select-selection--single {
            height: 42px;
            box-shadow: none !important;
            border: 1px solid #ddd !important;
        }
        .ant-select-selection__rendered {
            line-height: 40px;
        }
        .ant-select-selection-selected-value{
            color: var(--heading);
            font-size: 0.85rem;
        }
    }
    .f-split {
        @extend .f-clearfix;
        display: flex;
        justify-content: space-between;
        &>div{
            flex: 1 1 0;
            &:not(:last-of-type){
                margin-right: 20px;
            }
        }
    }
    .ant-upload {
        float: left !important;
        width: 100% !important;
        border: none !important;
        .ant-btn{
            background-color: #f5f3f8;
            border: 1px dashed #b098c6;
            flex-direction: column;
            display: flex;
            height: unset;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 20px 15px;
            color: #7e57c2;
            font-size: 0.9rem;
            line-height: 1;
            img{
                margin-bottom: 10px;
            }
            &:hover{
                background-color: #b098c6;
            }
        }
        .ant-upload{
            background-color: #f5f3f8;
            border: 1px dashed #b098c6 !important;
            flex-direction: column;
            display: flex !important;
            height: 100% !important;
            width: 100% !important;
            align-items: center;
            justify-content: center;
            padding: 20px 15px !important;
            color: #7e57c2;
            font-size: 0.9rem;
            line-height: 1;
            img{
                margin-bottom: 10px;
            }
            &:hover{
                background-color: #b098c6;
            }
        }
    }

    .ant-upload-list {
        @extend .f-clearfix;
        margin-top: 10px;
    }
    .ant-upload-list-item-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--text);
        font-size: 0.8rem;
    }
    .ant-switch-checked {
        background-color: var(--green);
    }
    .ant-btn-link {
        color: #44a9ff;
        padding: 0;
        height: unset;
        font-size: 0.85rem;
        border: navajowhite;
    }
    .ant-calendar-picker {
        @extend .f-clearfix;
    }
    .ant-time-picker{
        @extend .f-clearfix;
        .ant-time-picker-input{
            @extend .f-clearfix;
            border: 1px solid #ddd !important;
            height: 42px;
            outline: none;
            box-shadow: none !important;
            font-size: 0.85rem;
            color: var(--heading);
        }
    }
    .f-form-phone {
        float: left;
        width: 100%;
        display: flex;
        .ant-select {
            flex: 0 0 85px;
            margin-right: 8px;
        }
    }
}
.f-phone-combined{
    float: left;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    .ant-form-item {
        &+ div.ant-form-item{
            margin-top: 0 !important;
        }
    }
    .f-ctry-code {
        max-width: 175px;
    }
    .ant-input {
        height: 40px !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left: none !important;
    }
    input#form_in_modal_phone{
        border-left-width: 0 !important;
    }
    .ant-select-selection-selected-value {
        line-height: 40px;
    }
    .ant-select-selection__rendered {
        height: 40px;
    }
    .ant-select {
        width: 100% !important;
    }
    .ant-select-selection {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

// Modal
.f-modal-wizard{
    width: 640px !important;
    .ant-modal-content{
        border-radius: 5px;
    }
    .ant-modal-title {
        font-weight: 600;
        font-size: 1.2rem;
        margin: 5px 0;
        color: var(--heading);
    }
    .ant-modal-close-x {
        height: 65px;
        line-height: 65px;
    }
    &.f-modal-wfooter{
        .ant-modal-footer{
            display: inline-block;
            width: 100%;
            padding-bottom: 20px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 20px;
            .ant-btn{
                min-width: 120px;
                height: 40px;
                font-size: 0.85rem;
                border-color: var(--primary) !important;
                color: var(--primary) !important;
                background-color: transparent !important;
                &.ant-btn-primary{
                    background-color: var(--primary) !important;
                    color: #FFF !important;
                }
            }
        }    
    }
    .ant-modal-footer{
        display: none;
    }
    .f-modal-wiz-body {
        display: inline-block;
        width: 100%;
        vertical-align: text-bottom;
        margin: 10px 0;
    }
    .f-modal-wiz-footer{
        width: 100%;
        vertical-align: text-bottom;
        margin: 20px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &.f-flx-start{
            justify-content: flex-start;
        }
        &.f-flx-end{
            justify-content: flex-end;
        }
        .ant-btn{
            font-size: 0.9rem;line-height: 1;
            &:not(.ant-btn-link){
                color: #7e57c2;
                border-color: #7e57c2;
                height: 40px;
                &:hover{
                    background-color: #7e57c2;
                    color: #FFF;
                }
            }
            &.f-fill{
                background-color: #7e57c2;
                color: #FFF;
            }
            &.ant-btn-link{
                padding: 0;
                height: unset;
                border: none;
                margin-right: 15px;
            }
        }
    }
    .f-steps {
        margin: 10px 0;
    }
    .f-modal-wiz-step {
        @extend .f-clearfix;
        h4{
            @extend .f-clearfix;
            margin: 0 0 15px;
            color: var(--heading);
            font-size: 1rem;
            line-height: 1;
        }
    }
    .ant-upload-list {
        max-width: 285px;
    }
    .f-split{
        margin-top: 15px;
    }
    .f-wiz-switch {
        ul{
            @extend .f-clearfix;
            list-style: none;
            margin: 0;
            padding: 0;
            max-width: 350px;
            li{
                @extend .f-clearfix;
                display: flex;
                justify-content: space-between;
                margin: 12px 0;
                position: relative;
            }
        }
        h6{
            font-weight: 400;
            color: var(--text);
            margin: 0;
            font-size: 0.9rem;
            margin-right: 15px;
        }
        .ant-btn-link {
            position: absolute;
            left: 100%;
            margin-left: 25px;
            top: 0;
            bottom: 0;
            height: 20px !important;
            margin-bottom: auto;
            margin-top: auto;
        }
    }
    .f-advanced {
        @extend .f-clearfix;
        margin-top: 20px;
    }
    .f-wiz-checkbox{
        .ant-radio-group{
            @extend .f-clearfix;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            .ant-radio-wrapper{
                float: left;
                margin-right: 15px;
                flex: 1 1 0;
                &:last-child{
                    margin-right: 0;
                }
                &:hover{
                    .ant-radio{
                        &+span{
                            font-weight: 500;
                        }
                    }
                }
                .ant-radio{
                    display: none;
                    &+span{
                        border: 1px dashed var(--text);
                        color: var(--text);
                        font-size: 0.8rem;
                        text-align: center;
                        height: 55px;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        // padding: 10px;
                        justify-content: center;
                        line-height: 1.2;
                        border-radius: 5px; 
                        padding: 0;
                        small{
                            font-size: 0.7rem;
                        }
                    }
                    &.ant-radio-checked{
                        &+span{
                            font-weight: 500;
                            color: #7e57c2;
                            border-color: #7e57c2;
                        }
                    }
                }
            }
        }
    }
    .f-recommendation-list {
        @extend .f-clearfix;
        margin: 15px 0;
        .f-card-recommendation {
            @extend .f-clearfix;
            background-color: #f6f6f6;
            border: 1px solid #e4e4e4;
            border-radius: 5px;
            h5 {
                font-weight: 400;
                margin: 5px 0 0;
                line-height: 1.2;
                padding: 2px 0;
                background-repeat: no-repeat;
                font-size: 0.85rem;
                color: var(--heading);
                em{
                    font-style: normal;
                    color: var(--text);
                }
            }
            h3{
                @extend .f-clearfix;
                font-weight: 500;
                font-size: 1rem;
                margin: 0 0 6px;
                line-height: 1;
            }
            &+.f-card-recommendation{
                margin-top: 20px;
            }
        }
        .f-west {
            @extend .f-clearfix;
            border-top: 1px solid #e7e8e9;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .f-north{
                display: flex;
                padding-right: 20px;
                h5{
                    margin: 0;
                    &+h5{
                        margin-left: 12px;
                        padding-left: 12px;
                        border-left: 1px solid #CCC;
                    }
                }
            }
            .f-south {
                background-color: var(--green);
                border: navajowhite;
                color: #FFF;
                height: 32px;
                padding: 0 10px;
                min-width: 75px;
                &:hover{
                    background-color: #444;
                }
            }
        }
        .f-east {
            @extend .f-clearfix;
            padding: 15px;
            display: flex;
            h5 {
                @extend .f-clearfix;
                &.f-location{
                    padding-left: 23px;
                    background-image: url(../../assets/images/icon/location.png);
                    background-position: left 0 top 0;
                }
            }
            .f-north {
                padding-right: 20px;
                width: 120px;
            }
            .f-south {
                flex: 1 1 0;
            }
        }
    }
    &.f-share-tabbed{
        .ant-modal-body{
            padding-top: 5px;
        }
        .f-modal-wiz-body{
            margin: 0;
        }
        .ant-tabs-bar{
            margin: 0;
        }
        .f-modal-wiz-footer {
            margin: 15px 0 0;
        }
        .ant-tabs-tab-active{
            color: var(--green) !important;
        }
        .ant-tabs-ink-bar{
            background-color: var(--green);
        }
    }
}
.f-sider-menu{
    float: left;
    width: 100%;
    border-right: none !important;
    .ant-menu-submenu{
        float: left;
        width: 100% !important;
        .ant-menu-sub {
            padding-left: 37px !important;
        }
        &.ant-menu-submenu-open{
            .ant-menu-submenu-arrow{
               transform: rotate(90deg) !important;
            }
            .ant-menu-submenu-title{
                color: var(--green);
                font-weight: 500;
                border-bottom-color: transparent;
                img{
                    filter: grayscale(0);
                }
            }
        }
        .ant-menu-submenu-title{
            float: left;
            width: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
            height: 60px !important;
            line-height: 60px !important;
            border-bottom: 1px solid #f4f4f4;
            background-color: transparent !important;
            overflow: unset !important;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: var(--text);
            text-transform: uppercase;
            font-size: 0.9rem !important;
            font-weight: 400;
            img {
                width: 24px;
                height: 24px;
                object-fit: scale-down;
                object-position: left center;
                filter: grayscale(1);
            }
            .ant-menu-submenu-arrow{
                right: 0;
                &:before,&:after{
                    display: none;
                }
                background-image: url(../../assets/images/icon/right.svg);
                background-repeat: no-repeat;
                background-position: center center;
                width: 20px;
                height: 20px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            span{
                flex: 1 1 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-right: 25px;
                i{
                    margin-left: auto;
                }
                span {
                    padding-left: 12px;
                }
            }
        }
        .ant-menu-item{
            height: 45px !important;
            text-transform: capitalize;
            span{
                line-height: 45px;
                padding-left: 15px;
            }
            &:after{
                left: 0;
                border-right-width: 2px;
            }
        }
    }
    .ant-menu-item{
        float: left;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        height: 60px !important;
        line-height: 60px !important;
        border-bottom: 1px solid #f4f4f4;
        background-color: transparent !important;
        overflow: unset !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: var(--text);
        text-transform: uppercase;
        font-size: 0.9rem !important;
        font-weight: 400;
        &:last-child{
            border-bottom: none;
        }
        &:after{
            right: unset !important;
            left: -15px;
            border-right-color: var(--green) !important;
        }
        img{
            width: 24px;
            height: 24px;
            object-fit: scale-down;
            object-position: left center;
            filter: grayscale(1);
        }
        span{
            padding-left: 12px;
        }
        i{
            font-style: normal;
            margin-left: auto;
            padding: 0 3px;
            &.f-dot {
                width: 9px;
                height: 9px;
                background-color: var(--green);
                border-radius: 50%;
                padding: 0;
            }
        }
        &:hover{
            color: var(--green);
        }
        &.ant-menu-item-selected{
            color: var(--green);
            font-weight: 500;
            img{
                filter: grayscale(0);
            }
        }
    }
}
.f-sider-block.f-sider-menu-incl{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.f-member-listing-cards {
    @extend .f-clearfix;
    display: flex;
    flex-wrap: wrap;
    .f-member-cardx {
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding: 15px;
        width: calc(50% - 7px);
        margin: 0 7px 15px 7px;
        .ant-card-body{
            padding: 0;
            @extend .f-clearfix;
        }
        &:nth-child(odd){
            margin-left: 0;
        }
        &:nth-child(even){
            margin-right: 0;
        }
        .f-start{
            @extend .f-clearfix;
            display: flex;
            .f-left{
                margin-right: 12px;
                flex: 0 0 80px;
                overflow: hidden;
                border-radius: 5px;
                height: 80px;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                i{
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: #FFF;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    font-size: 0.7rem;
                    line-height: 1;
                    padding: 3px;
                }
            }
            .f-right{
                flex: 1 1 0;
                h4,h5,h6{
                    @extend .f-clearfix;
                }
                h4{
                    color: #202020;
                    font-size: 1rem;
                    margin: 0 0 5px 0;
                    line-height: 1;
                    font-weight: 600;
                }
                h5, h6{
                    color: var(--text);
                }
                h5{
                    font-weight: 300;
                    margin: 0 0 7px;
                    strong{
                        font-weight: 500;
                    }
                    .ant-btn-link{
                        color: var(--green);
                        padding: 0;
                        line-height: 1;
                        height: unset;
                        font-size: 0.85rem;
                        margin-top: 3px;
                        &:hover{
                            color: var(--primary);
                        }
                    }
                }
                h6{
                    font-weight: 400;
                    font-size: 0.8rem;
                    line-height: 1;
                    margin: 0;
                    &+h6{
                        margin: 7px 0 0;
                    }
                    &.f-pin{
                        background-image: url(../../assets/images/icon/location.png);
                        background-position: left top;
                        background-size: auto 12px;
                        background-repeat: no-repeat;
                        padding-left: 15px;
                    }
                }
            }
            .f-edge{
                flex: 0 0 15px;
                margin-left: 5px;
                .ant-btn{
                    background-color: transparent !important;
                    background-image: url(../../assets/images/icon/ellipse.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    padding: 0;
                    border: none;
                    line-height: 1;
                    width: 15px;
                    height: 25px;
                    outline: none;
                    box-shadow: none;
                    background-size: auto 16px;
                }
            }
            .f-right-combo{
                @extend .f-clearfix;
                display: flex;
                align-items: center;
                margin-top: 3px;
                .ant-btn{
                    background-color: var(--green);
                    color: #FFF;
                    border-color: var(--green);
                    height: 25px;
                    line-height: 1;
                    padding: 0 10px;
                    font-size: 0.75rem;
                    border-radius: 5px;
                    &:hover{
                        background-color: var(--primary);
                        border-color: var(--primary);
                    }
                    &+.ant-btn{
                        margin-left: 10px;
                    }
                    &.f-line{
                        background-color: #FFF;
                        color: var(--green);
                        &:hover{
                            border-color: var(--primary);
                            color: var(--primary);
                        }
                    }
                }
                .ant-checkbox-wrapper{
                    float: left;
                    margin-top: 7px;
                }
                .ant-checkbox{
                    display: none;
                    &+span{
                        background-color: var(--green);
                        border-radius: 3px;
                        color: #FFF;
                        border: 1px solid var(--green);
                        font-size: 0.8rem;
                        padding: 5px 5px;
                        line-height: 1;
                        float: left;
                        min-width: 80px;
                        text-align: center;
                    }
                    &.ant-checkbox-checked{
                        &+span{
                            background-color: #FFF;
                            border-color: var(--green);
                            color: var(--green);
                        } 
                    }
                }
                
            }
        }
        .f-stop{
            @extend .f-clearfix;
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h5{
                font-size: 0.85rem;
                margin: 0;
                color: var(--text);
                font-weight: 400;
                line-height: 1;
                strong{
                    color: var(--green);
                    font-weight: 500;
                }
            }
            .f-right-combo{
                display: flex;
                align-items: center;
                .ant-checkbox-wrapper{
                    float: left;
                }
                .ant-checkbox{
                    display: none;
                    &+span{
                        background-color: var(--green);
                        border-radius: 3px;
                        color: #FFF;
                        border: 1px solid var(--green);
                        font-size: 0.8rem;
                        padding: 5px 5px;
                        line-height: 1;
                        float: left;
                        min-width: 80px;
                        text-align: center;
                    }
                    &.ant-checkbox-checked{
                        &+span{
                            background-color: #FFF;
                            border-color: var(--green);
                            color: var(--green);
                        } 
                    }
                }
                
            }
        }
    }
}
.f-member-listing {
    @extend .f-clearfix;
    .f-content-searchable {
        @extend .f-clearfix;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        h4{
            font-size: 1rem;
            color: var(--text);
            margin: 0;
            font-weight: 400;
            line-height: 1;
            strong{
                color: var(--heading);
                font-weight: 500;
                padding-right: 5px;
            }
            display: flex;
            align-items: center;
            .ant-btn{
                color: var(--green);
                padding: 0;
                margin-left: 10px;
                font-size: 1.3rem;
                height: 35px;
                width: 35px;
                line-height: 1;
            }
        }
        .ant-input-search{
            width: 100%;
            max-width: 300px;
            .ant-input{
                border: none;
                background-color: #e9e9e9;
                border-radius: 5px;
                box-shadow: none;
                outline: none;
                height: 40px;
                color: #444;
                font-size: 0.85rem;
                &::-webkit-input-placeholder {
                    color: #919191;
                  }
            }
        }
        .f-btn{
            border: none;
            background-color: #7e57c2;
            border-radius: 5px;
            height: 40px;
            line-height: 1;
            color: #FFF;
            font-size: 0.9rem;
            margin-right: 15px;
        }
        .f-btn-back {
            padding: 0;
            color: var(--text);
            height: unset;
            border: none;
            font-size: 0.85rem;
        }
    }
}

.f-clickable{
    cursor: pointer;
}
.f-green-btn{
    color: var(--green) !important;
    border-color: var(--green) !important;
}
.f-empty-content {
    float: left;
    width: 100%;
    text-align: center;
    margin: 50px 0 55px;
    padding: 0 15px;
    img{
        display: inline-block;
        vertical-align: top;
        border-radius: 50%;
        max-width: 151px;
        margin-bottom: 10px;
    }
    h4{
        float: left;
        width: 100%;
        font-size: 1rem;
        color: var(--heading);
        line-height: 1;
        margin: 10px 0;
    }
    p{
        float: left;
        width: 100%;
        font-size: 0.85rem;
        line-height: 1.5;
        color: var(--text);
        margin: 0;
    }
    .ant-btn{
        background-color: var(--green);
        color: #FFF;
        border: none;
        border-radius: 5px;
        display: inline-block;
        vertical-align: top;
        height: 40px;
        line-height: 1;
        padding: 0 25px;
        font-size: 0.9rem;
        &:hover{
            background-color: var(--primary);
            color: #FFF;
        }
    }
    .f-clearfix{
        margin-top: 20px;
    }
}
.f-gen-create{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    .ant-btn{
        float: left;
        width: 100%;
        border: 1px solid var(--primary);
        color: var(--primary);
        background-color: #FFF;
        box-shadow: none;
        height: 50px;
        padding: 0;
        line-height: 1;
        font-size: 1.05rem;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            margin-left: 10px;
            height: 16px;
        }
        &:hover{
            background-color: var(--primary);
            color: #FFF;
            border: 1px solid var(--primary);
            img{
                filter: grayscale(1) invert(1);
            }
        }
    }
}
.f-album-listing-cards{
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .ant-card {
        width: 33%;
        padding: 0 15px 0 0;
        border: none;
        background: none;
        margin-bottom: 25px;
        // &:nth-child(odd){
        //     padding-left: 0;
        // }
        // &:nth-child(even){
        //     padding-right: 5px;
        //     padding-left: 5px;
        // }
        // &:nth-child(3n){
        //     padding-left: 10px;
        //     padding-right: 0;
        // }
        .ant-card-body{
            padding: 0;
        }
    }
    .f-top{
        @extend .f-clearfix;
        padding: 5px;
        border-radius: 5px;
        background-color: #FFF;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        img{
            width: 100%;
            height: 150px;
            object-fit: cover;
            object-position: center;
        }
        cursor: pointer;
        position: relative;
        .f-more{
            background-color: #FFF !important;
            background-image: url(../../assets/images/icon/ellipse.png) !important;
            background-repeat: no-repeat !important;
            padding: 0;
            border: none;
            line-height: 1;
            width: 32px;
            height: 32px;
            outline: none;
            box-shadow: none;
            background-size: 4px auto;
            background-position: center !important;
            border-radius: 0 0 0 5px !important;
            position: absolute;
            right: 2px;
            top: 2px;
        }
    }
    .f-bot{
        @extend .f-clearfix;
        margin-top: 10px;
        padding: 0 3px;
        h4{
            color: var(--heading);
            @extend .f-clearfix;
            margin: 0 0 10px;
            font-size: 0.85rem;
            font-weight: 600;
            line-height: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        h5{
            @extend .f-clearfix;
            margin: 0;
            font-size: 0.8rem;
            line-height: 1;
            color: #626262;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 150px;
        }
        p{
            @extend .f-clearfix;
            font-size: 0.75rem!important;
            line-height: 1!important;
            color: #898989 !important;
            margin: 3px 0 0 !important;
        }
    }
    .f-doc-crd{
        .f-bot{
            margin-top: 0;
            cursor: pointer;
            .f-doc-bot{
                @extend .f-clearfix;
                display: flex;
                align-items: flex-start;
                div{
                    flex: 0 0 calc(100% - 25px);
                    padding-right: 10px;
                }
                .ant-btn.f-trash{
                    background-image: url(../../assets/images/icon/trash_d.png) !important;
                    background-size: 17px auto;
                    width: 25px;
                    background-repeat: no-repeat;
                    border: none;
                    box-shadow: none;
                    background-position: center;
                    line-height: 1;
                    height: 25px;
                    padding: 0;
                    background-color: transparent !important;
                }
            }
        }
        h4{
            img{
                height: 30px;
                margin-right: 5px;
            }
        }
    }
}
.f-doc-listing-cards{
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .ant-card{
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding: 15px;
        width: calc(50% - 7px);
        margin: 0 7px 15px 7px;
        &:nth-child(odd){
            margin-left: 0;
        }
        &:nth-child(even) {
            margin-right: 0;
        }
    }
    .ant-card-body{
        float: left;
        width: 100%;
        padding: 0;
    }
    .f-doc-top{
        display: flex;
        float: left;
        width: 100%;
        .f-doc-count{
            margin-right: 12px;
            flex: 0 0 75px;
            height: 75px;
            background-color: #f4f4f4;
            border-radius: 5px;
            background-image: url(../../assets/images/icon/folder.png);
            background-repeat: no-repeat;
            background-position: top 10px center;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            color: #898989;
            font-size: 0.75rem;
            line-height: 1;
            padding: 0 5px 5px 5px;
            font-weight: 500;
        }
        .f-doc-title{
            flex: 1 1 0;
            h4 {
                float: left;
                width: 100%;
                color: #202020;
                font-size: 1rem;
                margin: 0 0 5px 0;
                line-height: 1;
                font-weight: 600;
            }
            h5 {
                font-weight: 300;
                margin: 0 0 7px;
                color: var(--text);
                float: left;
                width: 100%;
                line-height: 1;
            }
            p {
                float: left;
                width: 100%;
                color: var(--text) !important;
                font-weight: 400!important;
                font-size: 0.8rem!important;
                line-height: 1!important;
                margin: 0 !important;
            }
        }
    }
    .f-doc-bot{
        display: flex;
        justify-content: space-between;
        float: left;
        width: 100%;
        border-top: 1px solid #eaeaea;
        padding-top: 10px;
        margin-top: 15px;
        .f-left{
            padding-right: 10px;
        }
        .ant-btn{
            background-repeat: no-repeat;
            border: none;
            box-shadow: none;
            background-position: center;
            line-height: 1;
            height: 35px;
            padding: 0;
            &+.ant-btn{
                margin-left: 10px;
            }
        }
        .f-comment{
            background-image: url(../../assets/images/icon/chat_d.svg) !important;
            padding-left: 30px;
            background-position: left center;
            cursor: pointer;
            i{
                background-color: var(--green);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                top: 5px;
                position: absolute;
                left: 18px;
            }
        }
        .f-share{
            background-image: url(../../assets/images/icon/network_d.svg) !important;
            width: 35px;
            &:after{
                content: "";
                width: 0px;
                height: 0px;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 6px solid #aaa;
                position: absolute;
                right: -8px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .f-trash{
            background-image: url(../../assets/images/icon/trash_d.png) !important;
            width: 35px;
        }
    }
    .f-more{
        background-color: transparent !important;
        background-image: url(../../assets/images/icon/ellipse.png) !important;
        background-repeat: no-repeat!important;
        padding: 0;
        border: none;
        line-height: 1;
        width: 20px;
        height: 30px;
        outline: none;
        box-shadow: none;
        background-size: 5px auto;
        background-position: top right !important;
        border-radius: 0 !important;
    }
}
.f-share-scroll{
    max-height: calc(100vh - 395px);
    padding-right: 5px;
    overflow: auto;
    &::-webkit-scrollbar-thumb {
        background: var(--green);
    }
    &::-webkit-scrollbar-track {
        background: #eee;
      }
    &::-webkit-scrollbar {
    width: 5px;
    }
}
.f-doc-details{
    float: left;
    width: 100%;
    .f-doc-name{
        float: left;
        width: 100%;
        background-image: url(../../assets/images/icon/folder.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: auto 34px;
        padding-left: 55px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4{
            float: left;
            width: 100%;
            margin: 0;
            color: #626262;
            font-weight: 600;
            font-size: 1rem;
        }
        h5{
            float: left;
            width: 100%;
            margin: 5px 0 0;
            color: #9a9a9a;
            font-size: 0.83rem;
            font-weight: 400;
        }
    }
    p{
        float: left;
        width: 100%;
        margin: 15px 0 0 !important;
        line-height: 1.4 !important;
    }
}
// Create Modal
.f-create-event-options {
    width: 450px !important;
    max-width: 100% !important;
    .ant-modal-close {
        display: none !important;
    }
    .ant-modal-footer{
        display: none;
    }
    .ant-list-item {
        color: var(--heading);
        font-size: 1.1rem;
        line-height: 1;
        padding: 25px 0;
        cursor: pointer;
        &:hover{
            color: var(--primary);
        }
    }
    .ant-modal-body {
        padding: 20px 45px;
    }
    .ant-modal-content {
        border-radius: 15px;
    }
}
// Create
.f-create-form-control{
    background-color: #FFF;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    .f-create-form-head{
        float: left;
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid #eaeaea;
        h3{
            float: left;
            width: 100%;
            margin: 10px 0;
            line-height: 1;
            color: #636363;
            font-size: 1.1rem;
            font-weight: 400;
        }
    }
    .f-create-form-body{
        float: left;
        width: 100%;
        padding: 20px;
        .f-wiz-switch {
            ul{
                @extend .f-clearfix;
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    @extend .f-clearfix;
                    display: flex;
                    justify-content: space-between;
                    margin: 12px 0;
                    position: relative;
                }
            }
            h6{
                font-weight: 400;
                color: var(--text);
                margin: 0;
                font-size: 0.9rem;
                margin-right: 15px;
            }
            .ant-btn-link {
                position: absolute;
                left: 100%;
                margin-left: 25px;
                top: 0;
                bottom: 0;
                height: 20px !important;
                margin-bottom: auto;
                margin-top: auto;
            }
        }
    }
    .f-create-form-footer{
        float: left;
        width: 100%;
        padding: 20px;
        .ant-btn.f-submit{
            font-size: 0.95rem;
            min-width: 130px;
            padding: 12px 10px;
            height: inherit;
            line-height: 1;
        }
    }
}
.f-create-form-back{
    background-image: url(../../assets/images/icon/left.png) !important;
    background-size: 10px auto !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px;
    height: 70px !important;
    line-height: 1;
    margin-right: 15px;
    border: 1px solid #eaeaea !important;
    box-shadow: none !important;
}
.ant-btn.f-submit{
    background-color: var(--button);
    border: none;
    color: #FFF;
    &:hover{
        background-color: var(--primary);
        color: #FFF;
    }
}
.f-listland-card{
    &+.f-listland-card {
        margin-top: 20px;
    }
}
.f-feed-sep {
    float: left;
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    margin: 15px 0;
    color: #9a9a9a;
    strong{
        color: var(--heading);
    }
}
.f-upload-setup {
    float: left;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    li {
        border: 1px solid #b7b7b7;
        border-radius: 20px;
        background-color: #ffffff;
        width: 80px;
        height: 80px;
        margin: 10px 15px 5px 0;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        &.f-first{
            border-style: dashed;
            cursor: pointer;
            label{
                text-align: center;
                margin: 0;
            }
        }
        &>img{
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .ant-btn{
            position: absolute;
            z-index: 1;
            top: -9px;
            right: -9px;
            background-image: url(../../assets/images/icon/cls.png) !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: 10px auto;
            width: 26px;
            line-height: 1;
            height: 26px;
            border: 1px solid #d7d7d7;
            background-color: #ffffff !important;
            padding: 0;
            border-radius: 50%;
            &:hover{
                background-color: #CCC !important;
            }
        }
        .ant-spin {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            .anticon{
                color: var(--green);
            }
        }
    }
}
.f-story-communications {
    float: left;
    width: 100%;
    margin: 30px 0;
    &>h4{
        float: left;
        width: 100%;
        margin: 0 0 15px;
        font-weight: 600;
        font-size: 1rem;
    }
    .f-head{
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        p{
            color: #626262;
            margin: 0;
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 1;
            padding-right: 15px;
        }
        .ant-btn {
            background-color: transparent !important;
            background-image: url(../../assets/images/icon/ellipse.png);
            background-position: center center;
            background-repeat: no-repeat;
            padding: 0;
            border: none;
            line-height: 1;
            width: 30px;
            height: 30px;
            outline: none;
            box-shadow: none;
            background-size: auto 18px;
          }
    }
    &.f-have-drop-menu {
        .f-bubble {
            padding-right: 40px !important;
        }
    }
    .f-conversations{
        float: left;
        width: 100%;
        .f-incoming{
            float: left;
            width: 100%;
            display: flex;
            &+.f-incoming{
                margin-top: 20px;
            }
            &+.f-outgoing{
                margin-top: 20px;
            }
            align-items: flex-start;
            .f-avatar{
                width: 60px;
                border-radius: 10px;
            }
            .f-group {
                padding-left: 15px;
                flex: 1 1 0;
                header{
                    float: left;
                    width: 100%;
                    display: flex;
                    h5{
                        line-height: 1;
                        font-size: 0.85rem;
                        font-weight: 500;
                        color: #555555;
                        margin-bottom: 0.5em;
                        &+h5{
                            font-weight: 400;
                            padding-left: 15px;font-size: 0.8rem;
                        }
                    }
                }
            }
            .f-bubble {
                background-color: #f4fbf5;
            }
        }
        .f-time {
            float: left;
            width: 100%;
            margin: 0 0 10px 0;
            font-size: 0.8rem;
            color: var(--text);
        }
        .f-outgoing{
            float: left;
            width: 100%;
            &+.f-incoming{
                margin-top: 20px;
            }
            &+.f-outgoing{
                margin-top: 20px;
            }
            .f-group {
                float: left;
                width: 100%;
                text-align: right;
                p{
                    text-align: left;
                }
            }
            .f-bubble {
                background-color: #d1c4e9;
            }
        }
        .f-bubble {
            display: inline-block;
            vertical-align: top;
            background-color: #ebebeb;
            border-radius: 30px;
            padding: 15px 20px;
            position: relative;
            &+.f-bubble{
                margin-top: 10px;
            }
            p{
                color: #242424;
                margin: 0;
                font-size: 0.85rem;
                line-height: 1.35;
                white-space: pre-line;
                &+p{
                    margin-top: 15px;
                }
            }
        }
    }
    .f-bubble-actions{
        position: absolute;
        top: 0;
        // height: 100%;
        display: flex;
        width: 30px;
        right: 5px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding-right: 0;
        z-index: 1;
        height: 30px;
        margin: auto;
        bottom: 0;
        .ant-btn{
            background-color: transparent !important;
            background-image: url(../../assets/images/icon/ellipse.png);
            background-position: center center;
            background-repeat: no-repeat;
            padding: 0;
            border: none;
            line-height: 1;
            width: 29px;
            height: 29px;
            outline: none;
            box-shadow: none;
            background-size: auto 13px;
            border-radius: 50%;
        }
    }
    .f-communication-submit{
        float: left;
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .f-submit{
            background-color: var(--button);
            background-image: url(../../assets/images/icon/paper_w.png);
            background-position: center !important;
            border-radius: 50%;
            background-size: 27px auto;
            border: none;
            box-shadow: none;
            background-repeat: no-repeat !important;
            height: 50px;
            width: 50px;
            padding: 0;
        }
        .f-send {
            flex: 1 1 0;
            display: flex;
            margin-right: 5px;
            background-color: #fff;
            border: 2px solid #a9a9a9;
            border-radius: 12px;
            .ant-input{
                border-radius: 12px;
                height: 50px;
                border: none;
                background-color: transparent;
                flex: 1 1 0;
                outline: none;
                box-shadow: none;
                padding: 10px;
                resize: none;
            }
            .f-attach{
                background-image: url(../../assets/images/icon/attachment_g.png);
                background-position: center !important;
                background-color: transparent !important;
                border: none;
                box-shadow: none;
                background-repeat: no-repeat !important;
                height: 50px;
                width: 60px;
                padding: 0;
                float: right;border-radius: 0 12px 12px 0;
            }
        }

    }
}
.f-story-communication{
    background-color: #FFF;
    float: left;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    background-image: url(../../assets/images/pattern.png);
}
.f-conversations-singl {
    float: left;
    width: 100%;
    &+.f-conversations-singl {
        margin-top: 25px;
    }
    .f-bubble {
        min-width: 70px;
    }
}
.hide{
    display: none;
}
.f-chat-modal{
    padding-bottom: 0 !important;
    .ant-modal-body{
        padding: 0;
        .f-modal-wiz-body{
            margin: 0;
        }
        .f-story-communications{
            margin: 0;
        }
    }
    .f-conversations {
        max-height: calc(100vh - 270px);
        overflow: auto;
        padding-right: 5px;
        &::-webkit-scrollbar-thumb {
            background: var(--green);
        }
        &::-webkit-scrollbar-track {
            background: #eee;
          }
        &::-webkit-scrollbar {
        width: 5px;
        }
    }    
}
.ant-btn{
    &.f-filter-icon{
        // color: #343a40;
        background-image: url(../../assets/images/icon/filter.png) !important;
        background-repeat: no-repeat !important;
        background-position: left center !important;
        background-color: transparent !important;
        border: none !important;
        padding: 0 0 0 20px;
        box-shadow: none;
        outline: none;
        font-size: 0.85rem;
        color: #343a40 !important;
        line-height: 1;
        height: 25px;
    }
    &.f-button{
        border: none;
        background-color: #7e57c2 !important;
        border-radius: 5px;
        height: 40px;
        line-height: 1;
        color: #FFF !important;
        font-size: 0.9rem;
        margin-right: 15px;
        &.f-line{
            background-color: #fff !important;
            color: var(--button) !important;
            border: 1px solid var(--button) !important;
        }
    }
}
.f-role-list{
    float: left;
    width: 100%;
    li {
        float: left;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        &:hover{
            color: var(--primary);
            font-weight: 500;
        }
    }
}
.f-role-limit{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}
.f-album-context{
    width: 150px;
    li{
        width: 100%;
        padding: 5px 10px;
        .ant-btn{
            width: 100%;
            text-align: left;
        }
    }
}
.f-pt30{
    padding-top: 30px;
}
.f-text-ellipse{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 220px;
}
.f-famil-calendar {
    float: left;
    width: 100%;
    .f-page{
        padding: 0;
    }
    .f-clendar-design{
        margin: 0 !important;
    }
    .f-boxed-calendar{
        padding: 0;
        .f-calendar-search {
            top: 11px;
            width: 175px;
            left: 0;
            h4{
                font-size: 1.1rem;
            }
        }
        .ant-fullcalendar{
            padding: 10px 0;
        }
    }
}
.f-boxed-calendar {
    display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    position: relative;
    .f-calendar-search {
        position: absolute;
        left: 15px;
        top: 36px;
        width: 250px;
        display: flex;
        align-items: center;
        .ant-input{
            height: 42px;
            border: 1px solid #d9d9d9 !important;
            box-shadow: none;
        }
        h4{
            margin: 0 15px 0 0;
            font-size: 1.4rem;
            line-height: 1;
            font-weight: 400;
            color: #444;
        }
    }
}
.f-clendar-design {
    float: left;
    width: 100% !important;
    margin: 25px 0 !important;
    .ant-fullcalendar {
        background-color: #FFF;
        padding: 15px;
        .ant-fullcalendar-calendar-body{
            padding: 0;
        }
        .ant-fullcalendar-column-header-inner {
            font-weight: 600;
            color: var(--button);
            font-size: 1.1rem;
            padding: 10px 0;
        }
        .ant-fullcalendar-selected-day {
            
            .ant-fullcalendar-date{
                background-color: #ebffec;
                border-top-color: var(--green);
                .ant-fullcalendar-value{
                    color: var(--green);
                }
            }
        }
        .ant-fullcalendar-today{
            &:not(.ant-fullcalendar-selected-day){
                .ant-fullcalendar-date{
                    border-top-color: var(--green);
                }
                .ant-fullcalendar-value{
                    color: var(--green);
                }
            }
            .ant-fullcalendar-value{
                font-weight: 600;
            }
        }
        .ant-fullcalendar-value {
            font-size: 1.1rem;
            padding-top: 5px;
        }
    }
    .ant-fullcalendar-header{
        padding-right: 0;
        .ant-select{
            min-width: 90px;
            .ant-select-selection--single {
                height: 42px;
                box-shadow: none !important;
                border: 1px solid #ddd !important;
            }
            .ant-select-selection__rendered {
                line-height: 40px;
            }
            .ant-select-selection-selected-value{
                color: var(--heading);
                font-size: 0.85rem;
            }
            vertical-align: top;
        }
        .ant-radio-group{
            vertical-align: top;
            .ant-radio-button-wrapper{
                height: 42px;
                line-height: 42px;
                width: 78px;
                text-align: center;
                &:hover {
                    color: var(--green);
                }
                &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
                    border-color: var(--green);
                    color: var(--green);
                    box-shadow: -1px 0 0 0 var(--green);
                    &:first-child{
                        border-color: var(--green);
                        color: var(--green);
                    }
                    &:before {
                        background-color: var(--green) !important;
                    }
                }
                
            }
        }
    }
}
.f-static-page {
    background-color: #FFF;
    .f-body{
        margin-top: 40px;
    }
    .f-head-dock {
        justify-content: center !important;
    }
    h1{
        @extend .f-clearfix;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 0 15px;
        line-height: 1;
        color: var(--primary);
    }
    h2{
        @extend .f-clearfix;
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0 0 10px;
    }
    p{
        @extend .f-clearfix;
        font-size: 0.84rem;
        line-height: 1.5;
        margin: 0;
        &+p{
            margin-top: 12px;
        }
        &+h2{
            margin-top: 20px;
        }
        &+ul{
            margin-top: 12px !important;
        }
    }
    &:not(.f-support-page) ul{
        @extend .f-clearfix;
        margin: 0;
        list-style: outside disc;
        padding-left: 17px;
        li{
            @extend .f-clearfix;
            font-size: 0.84rem;
            line-height: 1.5;
            &+li{
                margin: 12px 0 0;
            }
        }
        &+p{
            margin-top: 12px;
        }
    }
}
.f-drawer-custom {
    .ant-drawer-title {
        text-transform: capitalize;
    }
    .ant-drawer-body{
        ul{
            margin: 0;
            display: inline-block;
            width: 100%;
            vertical-align: top;
            &>li{
                float: left;
                width: 100%;
                &+li{
                    margin-top: 12px;
                }
            }
        }
    }
}
.f-form-layout{
    float: left;
    width: 100%;
    .ant-form-item {
        float: left;
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
        &+.ant-form-item {
            margin-top: 20px !important;
        }
        .ant-form-item-label {
            padding: 0 !important;
            margin: 5px 0 8px !important;
            float: left;
            width: 100%;
            label {
                color: var(--text);
                font-size: 0.85rem;
                line-height: 1;
                float: left;
                &:before{
                    margin-left: 4px;
                    margin-right: 0 !important;
                    color: red !important;
                }
            }
        }
        .ant-form-item-control-wrapper{
            float: left;
            width: 100%;
            .ant-form-item-control {
                float: left;
                width: 100%;
            }
            .ant-input {
                border: 1px solid #ddd !important;
                height: 42px;
                outline: none;
                box-shadow: none !important;
                font-size: 0.85rem;
                color: var(--heading);
            }
        }
    }
    .ant-select-selection {
        border: 1px solid #ddd !important;
        height: 40px;
        .ant-select-selection__rendered{
            height: 38px;
        }
    }
}
.f-radio-to-tab.ant-radio-group {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    .ant-radio-button-wrapper {
        border: none !important;
        background: none !important;
        padding: 12px 16px;
        height: unset;
        line-height: 1;
        border-radius: 0;
        outline: none;
        &:before{
            display: none;
        }
        box-shadow: none !important;
        &.ant-radio-button-wrapper-checked{
            span{
                color: var(--green) !important;
                font-weight: 500;
            }
            &:after{
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                bottom: -1px;
                background-color: var(--green);
                left: 0;
            }
        }
        &>span{
            color: rgba(0, 0, 0, 0.65) !important;
            &:not(.ant-radio-button){
                font-size: 0.85rem;
                line-height: 1;
            }
        }
    }
}
.f-no-feed {
    float: left;
    width: 100%;
    margin: 25px 0;
    text-align: center;
    img{
        display: inline-block;
        width: 450px;
    }
    h4{
        display: inline-block;
        width: 100%;
        margin: 25px 0 15px;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1;
        color: var(--heading);
    }
    .ant-btn {
        background: none !important;
        border: none;
        padding: 0;
        height: unset;
        line-height: 1;
        box-shadow: none;
        outline: none;
        color: var(--green) !important;
    }
}
.f-filt-fam .f-share-scroll {
    max-height: 440px;
}
.ant-card{
    span.ant-skeleton-avatar.ant-skeleton-avatar-lg.ant-skeleton-avatar-circle {
        border-radius: 5px;
    }
    h3.ant-skeleton-title {
        margin-top: 2px !important;
    }
    ul.ant-skeleton-paragraph {
        margin-bottom: 3px !important;
    }
}
.fg-inp-pass{
    .ant-input-password {
        .anticon{
            &:after {
                position: absolute;
                font-size: 0.7rem;
                line-height: 1;
                height: 0.7rem;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 100%;
                margin-right: 5px;
            }
        }
        .anticon-eye-invisible:after {
            content: "Show";
        }
        .anticon-eye:after {
            content: "Hide";
        }
    }
}
.f-site-footer {
    position: fixed;
    bottom: 0;
    z-index: 900;
    left: 0;
    border-top: 1px solid #e8e8e8;
    background-color: #FFF;
    float: left;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    ul{
        display: flex;
        width: 100%;
        float: left;
        margin: 0;
        align-items: center;
        justify-content: center;
        list-style: none;
        li{
            padding: 0 10px;
            border-right: 1px solid #CCC;
            margin: 0;
            a {
                color: #888;
                font-size: 13px;
                line-height: 1;
                &:hover{
                    color: var(--link);
                }
            }
            &:last-child{
                border-right: 0;
            }
        }
    }
}
.f-conversations{
    max-height: 600px;
    overflow-y: auto;
    padding-right: 5px;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(0,0,0,0.2); 
    }
    &::-webkit-scrollbar-thumb {
        background: #444; 
    }
    &::-webkit-scrollbar-thumb:hover {
        background: var(--primary); 
    }
    .f-bubble p {
        word-break: break-word;
    }
}
.f-modal{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.userDetails .f-poster .f-overlay .f-head h5.f-location {
    padding-right: 35px;
}
.f-randm-ttl {
    padding-bottom: 10px;
    display: flex;
    h3{
        width: unset !important;
    }
    .f-bttn {
        color: var(--green);
        &:hover{
            color: var(--green);
        }
        padding: 0;
        margin-left: 10px;
        font-size: 1.3rem;
        height: 35px;
        width: 35px;
        line-height: 1;
    }
}
.ant-modal-wrap{
    word-break: break-word;
}
.ant-btn.f-line-ttle {
    width: unset !important;
    height: unset !important;
    background: none !important;
    border: none !important;
    font-size: 0.8rem !important;
    box-shadow: none !important;
}
.f-eve-pgurl{
    word-break: normal;
}
.f-four-not-four{
    .f-page {
        min-height: 100vh;
    }
}
.f-fornotfor {
    float: left;
    width: 100%;
    position: relative;
    margin: 40px 0;
    text-align: center;
    img{
        max-width: 100%;
    }
    &>div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: left;
        padding: 105px 0 20px;
    }
    h3{
        float: left;
        width: 100%;
        font-size: 4rem;
        line-height: 1;
        margin: 0 0 20px;
        color: var(--primary);
        font-weight: 600;
        em{
            color: var(--green);
        }
    }
    h4{
        float: left;
        width: 100%;
        color: red;
        margin: 0 0 20px;
        line-height: 1;
        font-size: 1.2rem;
    }
    p{
        float: left;
        width: 100%;
        color: var(--primary);
        margin: 10px 0 25px;
        font-size: 1rem;
        a{
            color: var(--green);
            border-bottom: 1px solid var(--green);
        }
    }

}
// Family Wall
.f-family-wall {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    h5{
        float: left;
    width: 100%;
    font-size: 0.75rem;
    font-weight: 400;
    color: #888;
    }
    .ant-carousel {
        float: left;
        width: 100%;
        .slick-slider{
            float: left;
        width: 100%;
        }
        .slick-prev{
            left: -7px;
        }
        .slick-next{
            right: -7px;
        }
        .slick-arrow {
            background-color: transparent;
            z-index: 1;
            box-shadow: none;
            width: 30px;
            height: 30px;
            .anticon {
                font-size: 1.5rem;
                color: #929292;
            }
        }
        .slick-slide{
            &>div{
                display: inline-block;
                width: 100%;
                padding: 15px 30px;
            }
        }
        .ant-card{
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            border: none;
            box-shadow: 0 0 13px rgba(0, 0, 0, 0.20);
            border-radius: 3px;
            overflow: hidden;
            .ant-card-cover {
                flex: 0 0 180px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #dcdcdc;
                img{
                    width: 100%;
                    object-fit: cover;
                    height: 105px;
                    object-position: center top;
                    border-radius: 0;
                }
                video{
                    height: 105px;
                    width: 100%;
                }
                &+.ant-card-body{
                    max-width: calc(100% - 180px);
                }
            }
            .ant-card-body {
                flex: 1 1 0px;
                min-height: 105px;
                padding: 15px;
                max-width: 100%;
                display: flex;
                align-items: center;
                .ant-card-meta{
                    width: 100%;
                }
            }
        }
    }
    .f-wall-wdel {
        position: relative;
        .anticon-delete {
            position: absolute;
            color: var(--button);
            right: 5px;
            bottom: 5px;
            z-index: 1;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
// Mobile
@media only screen and (min-width:1080px){
    .f-inside-sticky{
        position: sticky !important;
        top: 65px;
        overflow-y: auto;
        max-height: calc(100vh - 65px);
        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-track {
            background: transparent; 
        }
        &::-webkit-scrollbar-thumb {
            background: #ddd; 
        }
        &::-webkit-scrollbar-thumb:hover {
            background: var(--primary); 
        }
    }
}
@media only screen and (max-width:1024px){
    .f-site-footer{
        display: none;
    }
}
@media only screen and (min-width:1021px){
    .f-sticky{
        .f-sider {
            position: -webkit-sticky;
            position: sticky;
            top: 65px;
            overflow-y: auto;
            height: calc(100vh - 125px);
        }
    }
    .f-mg-btm0{
        margin-bottom: 0 !important;
    }
}
@media only screen and (max-width:1020px){
    .f-sider-menu {
        .ant-menu-item {
            height: 50px !important;
            line-height: 50px !important;
            font-size: 0.75rem !important;
            img {
                width: 20px;
                height: 20px;
            }
        }
        .ant-menu-submenu {
            .ant-menu-submenu-title {
                height: 50px !important;
                line-height: 50px !important;
                font-size: 0.75rem !important;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .f-sider {
        .f-sider-head {
            h4 {
                font-size: 0.8rem !important;
            }
            img {
                width: 20px !important;
                height: 20px !important;
            }
        }
    }
    .f-text-ellipse {
        max-width: 170px;
    }
}
@media only screen and (max-width:680px){
    .f-modal-wizard {
        .f-split {
            flex-direction: column;
            & > div{
                margin-right: 0 !important;
                &+div {
                    margin-top: 25px;
                }
            }
        }
        .f-wiz-switch .ant-btn-link {
            top: 100%;
            left: unset;
            right: 0;
            margin: 5px 0 0 0;
        }
    }
    .f-fornotfor > div {
        position: relative;
        text-align: center;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding-top: 0 !important;
    }
}
@media only screen and (max-width:640px){
    .f-modal-wizard {
        .f-steps {
            justify-content: center;
            .ant-steps-item-content {
                width: unset;
            }
            .ant-steps-item {
                flex: 0 0 25%;
            }
            .ant-steps-item-icon {
                margin-left: 33px !important;
            }
            .ant-steps-item-tail {
                margin: 0 0 0 30px !important;
            }
        }
        .f-wiz-checkbox .ant-radio-group{
            flex-wrap: wrap;
            .ant-radio-wrapper .ant-radio + span{
                padding: 0 7px;
            }
        }
    }
    .f-phone-combined .f-ctry-code {
        max-width: 100px;
    }
    .f-family-wall .ant-carousel .ant-card {
        flex-direction: column;
        justify-content: center;
        .ant-card-cover {
            img,video{
                height: 150px;
            }
            flex: unset;
            &+ .ant-card-body {
                max-width: 100%;
            }
        }
    }
}
@media only screen and (max-width:390px){
    .f-eve-pgurl{
        max-width: 172px;
    }
}
.f-card-badge-inc{
    position: relative;
    overflow: hidden;
    .f-card-badge-colored {
        position: absolute;
        width: 60px;
        height: 9px;
        top: 0;
        right: 0;
        transform: rotate(45deg);
        transform-origin: 32px 30px;
    }
}