@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon/icomoon.eot?wy7hjs");
  src: url("fonts/icomoon/icomoon.eot?wy7hjs#iefix") format("embedded-opentype"),
    url("fonts/icomoon/icomoon.ttf?wy7hjs") format("truetype"), url("fonts/icomoon/icomoon.woff?wy7hjs") format("woff"),
    url("fonts/icomoon/icomoon.svg?wy7hjs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "brandon_grotesquebold";
  src: url("fonts/custom-font/brandon_bld-webfont.woff2") format("woff2"),
    url("fonts/custom-font/brandon_bld-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brandon_grotesquelight";
  src: url("fonts/custom-font/brandon_light-webfont.woff2") format("woff2"),
    url("fonts/custom-font/brandon_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brandon_grotesquemedium";
  src: url("fonts/custom-font/brandon_med-webfont.woff2") format("woff2"),
    url("fonts/custom-font/brandon_med-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brandon_grotesque_regularRg";
  src: url("fonts/custom-font/brandon_reg-webfont.woff2") format("woff2"),
    url("fonts/custom-font/brandon_reg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "loveloline_light";
  src: url("fonts/custom-font/lovelo_line_light-webfont.woff2") format("woff2"),
    url("fonts/custom-font/lovelo_line_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_novaregular";
  src: url("fonts/custom-font/proximanova-regular-webfont.woff2") format("woff2"),
    url("fonts/custom-font/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#home-page-react {
  scroll-behavior: smooth;
  font-family: "proxima_novaregular", sans-serif !important;
  font-weight: normal !important;
  color: rgba(48, 61, 83, 0.7) !important;
  font-size: 18px !important;
  position: relative !important;
  background-color: #fff !important;
  #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: #fff;
    overflow: hidden;
  }
  #loader {
    background: url(images/1.gif);
    width: 64px;
    height: 64px;
    position: relative;
    top: 50%;
    margin: -32px auto 0 auto;
  }
  .scroll-top {
    width: 28px;
    height: 28px;
    position: fixed;
    bottom: 5px;
    right: 10px;
    z-index: 9999;
    text-align: center;
    color: #fff;
    font-size: 16px;
    display: none;
    &:after {
      position: absolute;
      z-index: -1;
      content: "";
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 1;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
    }
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .collapse {
    display: none;
  }
  .collapse.show {
    display: block;
  }
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
  }
  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }
  .nav-link:focus,
  .nav-link:hover {
    text-decoration: none;
  }
  .nav-link.disabled {
    color: #868e96;
  }
  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  .navbar > .container,
  .navbar > .container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .navbar-toggler:focus,
  .navbar-toggler:hover {
    text-decoration: none;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }

  .navbar-expand {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand > .container,
  .navbar-expand > .container-fluid {
    padding-right: 0;
    padding-left: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  .navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  // .navbar-expand > .container,
  // .navbar-expand > .container-fluid {
  // }
  .navbar-expand .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand .navbar-toggler {
    display: none;
  }
  .navbar-expand .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
  }
  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }
  .text-center {
    text-align: center !important;
  }

  .theme-banner-one .main-text-wrapper .button-group > li:last-child .dropdown-toggle,
  #mega-menu-holder .navbar-toggler {
    background: #02d4b5;
  }
  .scroll-top,
  .theme-banner-one .main-text-wrapper .button-group > li:last-child .download-button,
  .theme-banner-one .main-text-wrapper .button-group > li:last-child .dropdown-menu a,
  .theme-banner-one .main-text-wrapper .play-buttton:hover,
  #mega-menu-holder ul > li > a:before,
  .theme-main-menu .right-widget .login-button a:hover,
  .testimonial-section .owl-theme .owl-dots .owl-dot.active span {
    background: #4bae50;
  }
  .theme-banner-one .main-text-wrapper .play-buttton,
  #mega-menu-holder ul > li:hover > a,
  #mega-menu-holder ul > li > a.active,
  .theme-main-menu .right-widget .login-button a i,
  #mega-menu-holder ul.dropdown li:hover > a,
  .theme-title span,
  .our-feature-two .text .title span,
  .our-feature-two .text .learn-more:hover,
  .theme-footer .top-footer-data-wrapper .footer-list ul li a:hover,
  .theme-inner-banner ul li a {
    color: #4bae50;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #283249;
  }
  h1 {
    font-family: 'brandon_grotesquebold', sans-serif;
    font-size: 70px;
    line-height: 75px;
  }
  h2 {
    font-family: 'brandon_grotesquemedium', sans-serif;
    font-size: 50px;
  }
  h3 {
    font-size: 28px;
    font-weight: 400;
    font-family: 'proxima_novaregular', sans-serif;
  }
  h4 {
    font-size: 24px;
    font-family: 'brandon_grotesquemedium', sans-serif;
  }
  h5 {
    font-size: 22px;
    font-weight: 500;
  }
  h6 {
    font-size: 20px;
    font-family: 'brandon_grotesque_regularRg', sans-serif;
  }
  p {
    line-height: 32px;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    display: inline-block;
  }
  a:focus,
  a:hover,
  a:visited {
    text-decoration: none;
    outline: 0;
  }
  img {
    max-width: 100%;
    display: block;
  }
  button {
    border: none;
    outline: 0;
    box-shadow: none;
    display: block;
    padding: 0;
    cursor: pointer;
  }
  button:focus {
    outline: 0;
  }
  input,
  textarea {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
  .section-spacing {
    padding-top: 130px;
  }
  .inner-page-spacing {
    margin-bottom: 130px;
  }
  #mega-menu-holder ul > li > a:before,
  #mega-menu-holder > ul > li a,
  #theme-banner .button-group li a,
  .apps-overview .inner-wrapper .button-group li a,
  .contact-us-one form button,
  .our-feature-two .text .learn-more,
  .testimonial-section .owl-theme .owl-dots .owl-dot span,
  .theme-banner-one .main-text-wrapper .play-buttton,
  .theme-footer .top-footer-data-wrapper .footer-list ul li a,
  .theme-main-menu .right-widget .login-button a,
  .tran3s,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .hover-effect-one .single-blog-post .image-box img,
  .our-features-one .single-feature .icon-box img {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .theme-title h2 {
    font-family: 'brandon_grotesquemedium', sans-serif;
    font-size: 55px;
    line-height: 65px;
    font-weight: 400;
  }
  .theme-title .upper-heading {
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(27, 27, 27, 0.3);
    letter-spacing: 1.5px;
    padding-bottom: 20px;
  }
  .ant-carousel .slick-dots li {
    button {
      background-color: #b6b5b5 !important;
      opacity: 1;
    }
    &.slick-active button {
      background-color: #4bae50 !important;
      opacity: 1;
    }
  }
  ul.slick-dots.slick-dots-bottom {
    bottom: 0;
  }
  #theme-banner,
  #theme-banner .main-text-wrapper,
  .theme-top-section {
    position: relative;
    z-index: 5;
  }
  #theme-banner .button-group {
    display: inline-block;
    margin: 0 -10px;
  }
  #theme-banner .button-group > li {
    float: left;
    padding: 0 10px;
    position: relative;
  }
  .theme-top-section .blue-shape {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .show-menu .navbar-collapse {
    display: block !important;
  }
  &.react-fixed .scroll-top {
    display: block;
  }
  .theme-main-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 75px;
    z-index: 99;
    background: 0 0;
    transition: all 0.3s ease-in-out;
  }
  .theme-main-menu.full-width {
    padding: 55px 80px 0;
  }
  .menu-wrapper {
    position: relative;
  }
  .theme-main-menu .logo {
    float: left;
  }
  .theme-main-menu .logo a {
    display: block;
    margin-top: 5px;
  }
  .theme-main-menu #mega-menu-holder,
  .theme-main-menu .right-widget {
    float: right;
    padding: 0;
  }
  .theme-main-menu .right-widget {
    position: relative;
    z-index: 9;
  }
  #mega-menu-holder ul > li > a {
    line-height: 1.5;
    font-family: 'brandon_grotesque_regularRg', sans-serif;
    position: relative;
    padding: 7px 0 0;
    display: block;
    font-size: 20px;
    margin: 0 22px;
    color: #929eb3;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  #mega-menu-holder ul > li > a:before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    top: 100%;
    opacity: 0;
    transform: scale(0, 1);
  }
  #mega-menu-holder ul > li > a.active:before {
    opacity: 1;
    transform: scale(1);
  }
  #mega-menu-holder .navbar-toggler {
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 8px;
  }
  .theme-main-menu .right-widget > li {
    float: left;
  }
  .theme-main-menu .right-widget .login-button a {
    width: 130px;
    height: 40px;
    line-height: 38px;
    border: 2px solid #ebebeb;
    border-radius: 20px;
    text-transform: uppercase;
    color: rgba(52, 72, 106, 0.35);
    font-size: 16px;
    padding-left: 28px;
  }
  .theme-main-menu .right-widget .login-button a i {
    font-size: 18px;
    margin-left: 8px;
    vertical-align: middle;
  }
  .theme-main-menu .right-widget .login-button a:hover,
  .theme-main-menu .right-widget .login-button a:hover i {
    color: #fff;
  }
  .color-white #mega-menu-holder ul > li > a,
  .color-white #polyglotLanguageSwitcher > a,
  .theme-main-menu.color-white .right-widget .login-button a {
    color: #fff;
  }
  .theme-main-menu.color-white #mega-menu-holder .navbar-toggler {
    background: #fff;
  }
  .theme-main-menu.fixed {
    z-index: 9999;
    padding: 10px 0;
    background: #fff;
    -webkit-box-shadow: 0 13px 35px -12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 13px 35px -12px rgba(0, 0, 0, 0.15);
    -webkit-animation: menu_sticky 0.7s ease-in-out;
    animation: menu_sticky 0.7s ease-in-out;
  }
  .theme-main-menu.fixed.full-width {
    padding: 10px 80px;
  }
  .theme-banner-one {
    background: url(images/home/bg1.png) no-repeat center/cover;
    .main-text-wrapper {
      padding: 318px 0 180px;
      p {
        font-size: 22px;
        line-height: 37px;
        padding: 35px 0 50px;
      }
      .button-group > li {
        &:first-child a {
          width: 140px;
          line-height: 55px;
          color: #fff;
          background: #4bae50;
          font-size: 18px;
          border-radius: 3px;
          text-align: center;
        }
        &:last-child .download-button,
        &:last-child .dropdown-menu a {
          width: 250px;
          line-height: 55px;
          color: #fff;
          font-size: 18px;
          border-radius: 3px;
          text-align: left;
          padding-left: 28px;
        }
        &:last-child {
          .dropdown-toggle {
            height: 55px;
            width: 50px;
            position: absolute;
            right: 0;
            top: 0;
            box-shadow: none;
            cursor: pointer;
            border-radius: 0 3px 3px 0;
            padding: 0;
          }
          .dropdown-menu {
            width: 250px;
            border: none;
            border-radius: 0;
            padding: 0;
          }
        }
      }
      .button-group li a:hover {
        box-shadow: 0 0 22.5px 7.5px rgba(216, 225, 229, 0.3);
      }
      .button-group > li:last-child .dropdown-toggle::after {
        content: "\f100";
        border: none;
        font-family: 'Flaticon', sans-serif;
        color: #fff;
        line-height: 55px;
        height: 55px;
        width: 50px;
        top: 0;
        margin: 0;
        display: block;
      }
      .play-buttton:hover {
        color: #fff;
      }
    }
    .illustration {
      position: absolute;
      top: 25%;
      right: 10%;
      z-index: -1;
    }
    .icon-shape-one {
      position: absolute;
      right: 7%;
      top: 20%;
      animation: jump 2s ease-in-out alternate infinite;
    }
    .icon-shape-two {
      position: absolute;
      left: 8%;
      bottom: 28%;
      animation: jump 2.5s ease-in-out alternate infinite;
    }
    .icon-shape-three {
      position: absolute;
      left: 17%;
      top: 39%;
      animation: scale-up 5s ease-in-out alternate infinite;
    }
    .round-shape-one {
      position: absolute;
      left: 7%;
      top: 20%;
      z-index: -1;
      width: 28px;
      height: 28px;
      border: 5px solid #ff8b90;
      border-right: none;
      border-top: none;
      border-radius: 0 0 0 85%;
      animation: border-one 2s ease-in-out alternate infinite;
    }
    .round-shape-two {
      position: absolute;
      left: 49%;
      top: 21%;
      z-index: -1;
    }
    .round-shape-three {
      position: absolute;
      right: 22%;
      top: 48%;
      z-index: -1;
      width: 28px;
      height: 28px;
      border: 5px solid #b377f6;
      border-right: none;
      border-bottom: none;
      border-radius: 85% 0 0;
      animation: border-two 2s ease-in-out alternate infinite;
    }
  }
  .our-features-one {
    padding: 120px 0 155px;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    &#education {
      padding-top: 70px;
      margin-bottom: 120px;
      @media only screen and (max-width: 767px){
        padding-top: 0;
      }
      .col-md-12.col-xs-12.text-center {
        margin-top: 75px;
        @media only screen and (max-width: 767px){
          margin-top: 25px;
        }
        a{
          color: #4bae50;
        }
      }
    }
    &:before {
      content: "\ea3a";
      font-family: 'icomoon', sans-serif;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #f0f0f0;
      text-align: center;
      line-height: 50px;
      color: silver;
      position: absolute;
      bottom: -25px;
      left: 50%;
      margin-left: -25px;
      background: #fff;
      transform: rotate(180deg);
      z-index: 1;
    }
    .theme-title {
      text-align: center;
      padding-bottom: 70px;
    }
    .single-feature .icon-box {
      width: 218px;
      height: 218px;
      border-radius: 50%;
      border: 2px solid #eff5fa;
      margin: 0 auto;
      position: relative;
      img {
        position: absolute;
        margin: 0 auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .single-feature .icon-box:after,
    .single-feature .icon-box:before {
      content: "";
      width: 50px;
      height: 80px;
      // background: #fff;
      position: absolute;
    }
    .single-feature .icon-box:before {
      left: -9px;
      top: 25px;
    }
    .single-feature .icon-box:after {
      right: -9px;
      bottom: 25px;
    }
    .single-feature {
      text-align: center;
      position: relative;
    }
    .single-feature h3 {
      padding: 44px 0 20px;
    }
    .single-feature.border-fix:after,
    .single-feature.border-fix:before {
      content: "";
      width: 120px;
      height: 1px;
      border-top: 1px dashed #d8e2e9;
      position: absolute;
      top: 29%;
    }
    .single-feature.border-fix:before {
      left: -75px;
    }
    .single-feature.border-fix:after {
      right: -75px;
    }
  }
  .our-feature-two {
    padding: 200px 0 320px;
    .text {
      position: relative;
      padding: 0 0 60px 60px;
      .title {
        font-size: 50px;
        line-height: 60px;
      }
      p {
        padding: 30px 0;
      }
      .learn-more {
        font-family: 'brandon_grotesquemedium', sans-serif;
        font-size: 22px;
        color: #3c3c3c;
        i {
          vertical-align: middle;
          font-size: 25px;
          margin-left: 12px;
        }
      }
      .number {
        font-family: 'loveloline_light', sans-serif;
        font-size: 60px;
        color: #d8d8d8;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #ff8e9d;
          opacity: 0.32;
          top: 35px;
          left: -67px;
        }
        &:after {
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: #ff8e9d;
          top: 39px;
          left: -63px;
          z-index: 1;
        }
      }
    }
    .img-box img {
      margin: 60px auto 0;
    }
    .single-block:nth-child(1) .text {
      border-left: 1px dashed #dcdcdc;
      border-bottom: 1px dashed #dcdcdc;
      border-radius: 0 0 0 20px;
    }
    .single-block:nth-child(1) .text:before {
      content: "";
      width: 1px;
      height: 39px;
      position: absolute;
      background: #fff;
      top: 0;
      left: -1px;
    }
    .single-block:nth-child(2) .img-box {
      border-right: 1px dashed #dcdcdc;
      border-radius: 0 20px 20px 0;
    }
    .single-block:nth-child(2) .img-box > div {
      padding: 45px 65px 0 0;
    }
    .single-block:nth-child(2) .text {
      padding: 80px 40px 55px 45px;
    }
    .single-block:nth-child(3) .text {
      border-top: 1px dashed #dcdcdc;
      border-left: 1px dashed #dcdcdc;
      border-bottom: 1px dashed #dcdcdc;
      border-radius: 20px 0 0 20px;
      padding: 80px 0 55px 60px;
    }
    .single-block:nth-child(3) .img-box > div {
      padding-top: 60px;
    }
  }
  .apps-overview {
    position: relative;
    margin-bottom: 210px;
  }
  .apps-overview.color-one {
    background: linear-gradient(39deg, #adf48e 0, #4bae50 100%);
  }
  .apps-overview .overlay-bg {
    background-position: center center;
    position: relative;
  }
  .apps-overview .inner-wrapper {
    position: relative;
    padding: 135px 0 110px;
  }
  .apps-overview .inner-wrapper .text h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.8px;
  }
  .apps-overview .inner-wrapper .text h2 {
    color: #fff;
    padding: 6px 0 25px;
  }
  .apps-overview .inner-wrapper .text h6 {
    font-family: 'brandon_grotesquemedium', sans-serif;
    font-size: 24px;
    color: #fff;
    padding-bottom: 20px;
  }
  .apps-overview .inner-wrapper .text p {
    color: #fff;
    padding-bottom: 40px;
  }
  .apps-overview .inner-wrapper .button-group li {
    display: inline-block;
    margin-right: 15px;
  }
  .apps-overview .inner-wrapper .button-group li a {
    font-family: 'brandon_grotesquemedium', sans-serif;
    width: 170px;
    line-height: 55px;
    text-align: center;
    border-radius: 3px;
    background: #fff;
    font-size: 20px;
    color: #313131;
  }
  .apps-overview .inner-wrapper .button-group li a i {
    margin-right: 3px;
    font-size: 22px;
  }
  .apps-overview .inner-wrapper .button-group li a img {
    display: inline-block;
    width: 20px;
    margin-right: 2px;
    vertical-align: sub;
  }
  .apps-overview .inner-wrapper .s8-mockup {
    position: absolute;
    left: -110px;
    top: -130px;
    z-index: 1;
  }
  .apps-overview .inner-wrapper .x-mockup {
    position: absolute;
    left: 250px;
    bottom: -165px;
    z-index: 1;
  }
  .apps-overview.color-two {
    background: #111ba8;
    margin-bottom: 0;
  }
  .apps-overview.color-two .inner-wrapper .button-group li a:hover {
    background: #00c9d7;
    color: #fff;
  }
  .apps-overview.color-three {
    background: #610bcf;
    padding: 160px 0 250px;
    margin-bottom: 50px;
  }
  .apps-overview.color-three .shape {
    position: absolute;
    top: -150px;
    right: 0;
  }
  .apps-overview.color-three:before {
    content: "";
    width: 103%;
    height: 220px;
    background: #fff;
    position: absolute;
    top: -100px;
    right: 0;
    transform: rotate(-6deg);
  }
  .apps-overview.color-three:after {
    content: "";
    width: 104%;
    height: 220px;
    background: linear-gradient(90deg, #f9faff 0, #fff 100%);
    position: absolute;
    bottom: -100px;
    left: -1%;
    transform: rotate(-6deg);
  }
  .testimonial-section .theme-title {
    padding-bottom: 125px;
  }
  .testimonial-section .single-block .img-block {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    float: left;
  }
  .testimonial-section .single-block .img-block img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  .testimonial-section .single-block .text {
    width: calc(100% - 168px);
    float: left;
    padding-left: 40px;
  }
  .testimonial-section .single-block .text .name {
    font-size: 24px;
    color: #303030;
    padding-bottom: 3px;
  }
  .testimonial-section .single-block .text p {
    font-size: 20px;
    line-height: 31px;
    color: rgba(29, 32, 35, 0.7);
    padding: 16px 0 32px;
  }
  .testimonial-section .owl-theme .owl-dots {
    margin-top: 50px;
  }
  .testimonial-section .owl-theme .owl-dots .owl-dot span {
    width: 9px;
    height: 9px;
    border: 1px solid #c3cadb;
    background: 0 0;
    margin: 0 3px;
  }
  .testimonial-section .owl-theme .owl-dots .owl-dot.active span,
  .testimonial-section .owl-theme .owl-dots .owl-dot:hover span {
    width: 17px;
    height: 7px;
    border-radius: 3px;
  }
  .testimonial-section .full-width {
    position: relative;
    background: linear-gradient(90deg, #f9faff 0, #fff 100%);
    padding: 60px 35px 275px;
    overflow: hidden;
  }
  .testimonial-section .full-width:after {
    content: "";
    width: 104%;
    height: 230px;
    background: #fff;
    position: absolute;
    bottom: -100px;
    left: -1%;
    transform: rotate(-6deg);
  }
  .testimonial-section .full-width .single-block {
    background: #fff;
    box-shadow: 0 0 100px 0 rgba(72, 91, 119, 0.05);
    padding: 45px 40px 50px;
    border-radius: 5px;
  }
  .testimonial-section .full-width .single-block .img-block {
    width: 140px;
    height: 140px;
  }
  .testimonial-section .full-width .owl-theme .owl-dots .owl-dot span {
    background: rgba(70, 95, 233, 0.2);
    border: none;
  }
  .testimonial-section .full-width .owl-theme .owl-dots {
    margin-top: 85px;
  }
  .contact-us-one {
    background: url(images/home/3.jpg) no-repeat center/cover fixed;
    margin-top: 125px;
  }
  .contact-us-one.m0 {
    margin: 0;
  }
  .contact-us-one .overlay {
    background: rgba(0, 0, 0, 0.53);
    padding: 110px 0 140px;
  }
  .contact-us-one .theme-title h2 {
    color: #fff;
  }
  .contact-us-one .theme-title p {
    font-size: 20px;
    color: #fff;
    padding-top: 12px;
  }
  .contact-us-one form {
    margin-top: 70px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 60px 0 rgba(166, 188, 206, 0.15);
    padding: 65px 85px 60px;
    position: relative;
    z-index: 1;
  }
  .contact-us-one form label {
    font-family: 'brandon_grotesquemedium', sans-serif;
    color: #3a3c4e;
    display: block;
    margin-bottom: 10px;
  }
  .contact-us-one form input {
    width: 100%;
    height: 55px;
    border: none;
    background: #e0e0e0;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .contact-us-one form input:focus {
    box-shadow: 0 3px 16px 0 rgba(63, 53, 53, 0.07);
  }
  .contact-us-one form button {
    font-family: 'brandon_grotesquemedium', sans-serif;
    width: 220px;
    height: 55px;
    border-radius: 4px;
    display: block;
    margin: 10px auto 0;
    color: #fff;
    font-size: 20px;
    background: #3a2262;
  }
  .contact-us-one form button:hover {
    background: #4bae50;
  }
  .contact-us-one.bg-color {
    position: relative;
    background: linear-gradient(29deg, #4a02c7 0, #7501d1 100%);
    padding: 300px 0 50px;
    overflow: hidden;
    z-index: 1;
  }
  .contact-us-one.bg-color:before {
    content: "";
    width: 103%;
    height: 220px;
    background: #fff;
    position: absolute;
    top: -100px;
    right: 0;
    transform: rotate(-6deg);
  }
  .contact-us-one.bg-color:after {
    content: "";
    width: 104%;
    height: 220px;
    background: #fff;
    position: absolute;
    bottom: -100px;
    left: -1%;
    transform: rotate(-6deg);
  }
  .contact-us-one.bg-color .shape {
    position: absolute;
    z-index: -1;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
  }
  .contact-us-one.bg-color .shape-two {
    position: absolute;
    right: 0;
    top: 13%;
  }
  .theme-footer {
    position: relative;
    z-index: 1;
  }
  .theme-footer .shape {
    position: absolute;
    right: 0;
    top: -40%;
    z-index: -1;
  }
  .theme-footer .inner-wrapper {
    background: url(images/home/bg4.png) center center no-repeat;
  }
  .theme-footer .top-footer-data-wrapper {
    border-bottom: 1px solid #f1f1f1;
    padding: 95px 0 60px;
  }
  .theme-footer .top-footer-data-wrapper .footer-logo .email {
    font-size: 22px;
    color: #222;
    display: block;
    margin: 12px 0 15px;
  }
  .theme-footer .top-footer-data-wrapper .footer-logo .mobile {
    font-size: 20px;
    color: #b6b5b5;
  }
  .theme-footer .top-footer-data-wrapper .footer-list .title {
    font-size: 24px;
    padding-bottom: 28px;
  }
  .theme-footer .top-footer-data-wrapper .footer-list ul li a {
    font-size: 17px;
    line-height: 36px;
    color: rgba(33, 33, 33, 0.7);
    display: block;
  }
  .theme-footer .bottom-footer {
    padding: 45px 0;
  }
  .theme-footer .bottom-footer .copyright {
    float: left;
    font-size: 17px;
    line-height: 34px;
  }
  .theme-footer .bottom-footer ul {
    float: right;
  }
  .theme-footer .bottom-footer ul li {
    display: inline-block;
  }
  .theme-footer .bottom-footer ul li a {
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .theme-footer .bottom-footer ul li:nth-child(1) a {
    background: #1372cf;
  }
  .theme-footer .bottom-footer ul li:nth-child(2) a {
    background: #d52e57;
  }
  .theme-footer .bottom-footer ul li:nth-child(3) a {
    background: #16baff;
  }
  .theme-footer .bottom-footer ul li:nth-child(4) a {
    background: #2778b6;
  }
  .theme-footer .bottom-footer ul li:nth-child(5) a {
    background: #e83f3b;
  }
  .theme-footer.dark-style {
    background: #191eae;
  }
  .theme-footer.dark-style .top-footer-data-wrapper {
    border-top: 1px solid rgba(241, 241, 241, 0.08);
    border-bottom: 1px solid rgba(241, 241, 241, 0.08);
  }
  .theme-footer.dark-style .bottom-footer .copyright,
  .theme-footer.dark-style .bottom-footer .copyright a,
  .theme-footer.dark-style .top-footer-data-wrapper .footer-list .title,
  .theme-footer.dark-style .top-footer-data-wrapper .footer-logo .email,
  .theme-footer.dark-style .top-footer-data-wrapper .footer-logo .mobile {
    color: #fff;
  }
  .theme-footer.dark-style .top-footer-data-wrapper .footer-list ul li a {
    color: rgba(255, 255, 255, 0.7);
  }
  .alert-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 9999999;
  }
  #error,
  #success {
    position: relative;
    width: 500px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 250px);
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
  }
  #error .wrapper,
  #success .wrapper {
    display: table;
    width: 100%;
    height: 100%;
  }
  #error .wrapper p,
  #success .wrapper p {
    display: table-cell;
    vertical-align: middle;
    letter-spacing: 1px;
  }
  #success p {
    color: #26ace3;
  }
  #error p {
    color: #c9182b;
  }
  #error button,
  #success button {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 20px;
    background: 0 0;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 20px;
  }
  .form-validation label.error {
    display: none !important;
  }
  .form-validation input.error,
  .form-validation textarea.error {
    background: #ffe7e7 !important;
  }
  .contact-section-dark .form-validation input.error,
  .contact-section-dark .form-validation textarea.error {
    background: #c73535 !important;
  }
  .overlay-bg {
    background-image: url(images/home/bg2.png);
  }
  [class^="icomoon-"],
  [class*=" icomoon-"] {
    font-family: "icomoon", sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icomoon-menu:before {
    content: "\e9bd";
  }
  .icomoon-cross:before {
    content: "\ea0f";
  }
  .icomoon-arrow-up2:before {
    content: "\ea3a";
  }
  .icomoon-facebook:before {
    content: "\ea90";
  }
  .icomoon-instagram:before {
    content: "\ea92";
  }
  .icomoon-twitter:before {
    content: "\ea96";
  }
  .icomoon-youtube:before {
    content: "\ea9d";
  }
  .icomoon-linkedin2:before {
    content: "\eaca";
  }
}
.home-page-react+.f-site-footer {
  display: none;
}
// Mobile
@media (min-width: 576px) {
  #home-page-react {
    .container {
      max-width: 540px;
    }
    .col-sm {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-sm-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-sm-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-sm-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-sm-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-sm-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-sm-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-sm-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-sm-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-sm-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-sm-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-sm-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-sm-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-sm-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
@media (min-width: 768px) {
  #home-page-react {
    .container {
      max-width: 720px;
    }
    .col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-md-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-md-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-md-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
@media (min-width: 992px) {
  #home-page-react {
    .container {
      padding-left: 0 !important;
      padding-right: 0 !important;
      max-width: 960px;
    }
    .col-lg {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-lg-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-lg-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-lg-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-lg-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-lg-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-lg-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-lg-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-lg-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-lg-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-lg-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-lg-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-lg-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-lg-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .order-lg-first {
      -ms-flex-order: -1;
      order: -1;
    }
    .order-lg-1 {
      -ms-flex-order: 1;
      order: 1;
    }
    .order-lg-2 {
      -ms-flex-order: 2;
      order: 2;
    }
    .order-lg-3 {
      -ms-flex-order: 3;
      order: 3;
    }
    .order-lg-4 {
      -ms-flex-order: 4;
      order: 4;
    }
    .order-lg-5 {
      -ms-flex-order: 5;
      order: 5;
    }
    .order-lg-6 {
      -ms-flex-order: 6;
      order: 6;
    }
    .order-lg-7 {
      -ms-flex-order: 7;
      order: 7;
    }
    .order-lg-8 {
      -ms-flex-order: 8;
      order: 8;
    }
    .order-lg-9 {
      -ms-flex-order: 9;
      order: 9;
    }
    .order-lg-10 {
      -ms-flex-order: 10;
      order: 10;
    }
    .order-lg-11 {
      -ms-flex-order: 11;
      order: 11;
    }
    .order-lg-12 {
      -ms-flex-order: 12;
      order: 12;
    }
    .offset-lg-0 {
      margin-left: 0;
    }
    .offset-lg-1 {
      margin-left: 8.333333%;
    }
    .offset-lg-2 {
      margin-left: 16.666667%;
    }
    .offset-lg-3 {
      margin-left: 25%;
    }
    .offset-lg-4 {
      margin-left: 33.333333%;
    }
    .offset-lg-5 {
      margin-left: 41.666667%;
    }
    .offset-lg-6 {
      margin-left: 50%;
    }
    .offset-lg-7 {
      margin-left: 58.333333%;
    }
    .offset-lg-8 {
      margin-left: 66.666667%;
    }
    .offset-lg-9 {
      margin-left: 75%;
    }
    .offset-lg-10 {
      margin-left: 83.333333%;
    }
    .offset-lg-11 {
      margin-left: 91.666667%;
    }
    .navbar-expand-lg {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
      right: 0;
      left: auto;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
      display: none;
    }
    .navbar-expand-lg .dropup .dropdown-menu {
      top: auto;
      bottom: 100%;
    }
  }
}
@media (min-width: 1200px) {
  #home-page-react {
    .container {
      max-width: 1170px;
    }
    .col-xl {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-xl-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-xl-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-xl-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-xl-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-xl-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-xl-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-xl-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-xl-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-xl-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-xl-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-xl-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-xl-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-xl-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
@media (max-width: 1200px) {
  #home-page-react {
    .theme-banner-one .illustration {
      max-width: 320px;
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #home-page-react {
    #mega-menu-holder ul > li > a {
      margin: 0 12px;
    }
    .theme-banner-one .main-text-wrapper p {
      margin-left: 150px;
      padding-right: 150px;
    }
    .theme-banner-one .main-text-wrapper {
      padding-top: 270px;
    }
    .our-features-one .single-feature.border-fix:before,
    .our-features-one .single-feature.border-fix:after {
      width: 80px;
    }
    .our-features-one .single-feature.border-fix:before {
      left: -50px;
    }
    .our-features-one .single-feature.border-fix:after {
      right: -50px;
    }
    .apps-overview .inner-wrapper .x-mockup {
      width: 40%;
      left: 195px;
    }
    .apps-overview .inner-wrapper .s8-mockup {
      width: 32%;
      left: -70px;
    }
    .theme-main-menu.full-width {
      padding: 65px 40px 0;
    }
    .theme-main-menu.full-width #mega-menu-holder {
      padding-left: 30px;
    }
  }
}
@media (max-width: 991px) {
  #home-page-react {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
    .theme-main-menu #mega-menu-holder.dark-bg .navbar-nav {
      background: #1d1d21;
    }
    #mega-menu-holder.dark-bg ul > li > a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    }
    .theme-main-menu {
      padding: 30px 0 20px;
    }
    .theme-main-menu.full-width {
      padding: 30px 20px 20px;
    }
    .theme-main-menu.full-width #mega-menu-holder {
      padding-left: 0;
    }
    .theme-main-menu.full-width .navbar > div {
      width: 100%;
    }
    .theme-main-menu.fixed.full-width {
      padding: 10px 15px;
    }
    .theme-main-menu .right-widget .login-button a{
      padding: 6px 9px;
      width: unset;
      height: unset;
      border-radius: 5px;
      background-color: #FFF;
      color: #3a2262;
      line-height: 1;
      font-size: 15px;
      text-transform: none;
      border: 1px solid #3a2262;
      margin: 5px 0 0;
      i{
        display: none;
      }
    }
    #mega-menu-holder .navbar-toggler {
      margin: 4px 0 0;
    }
    .theme-main-menu .logo {
      float: none;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
    }
    .theme-main-menu #mega-menu-holder {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .theme-main-menu #mega-menu-holder .navbar-nav {
      background: #fff;
      box-shadow: 0px 0px 55px 0px rgba(134, 153, 174, 0.12);
    }
    #mega-menu-holder ul > li > a {
      margin: 0 10px;
      padding: 8px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    #mega-menu-holder ul > li > a:before,
    .our-feature-two .text .number:before,
    .our-feature-two .text .number:after {
      display: none;
    }
    .theme-banner-one .main-text-wrapper p {
      padding-left: 0;
      padding-right: 0;
    }
    .our-features-one .single-feature.border-fix:before,
    .our-features-one .single-feature.border-fix:after,
    .apps-overview .inner-wrapper .s8-mockup,
    .apps-overview .inner-wrapper .x-mockup {
      display: none;
    }
    .our-features-one .single-feature .icon-box {
      width: 180px;
      height: 180px;
    }
    .theme-title h2 {
      font-size: 40px;
      line-height: 58px;
    }
    .our-features-one {
      padding: 80px 0 100px;
    }
    .our-feature-two {
      padding: 100px 0 50px;
    }
    .our-feature-two .text,
    .our-feature-two .single-block:nth-child(1) .text,
    .our-feature-two .single-block:nth-child(2) .text,
    .our-feature-two .single-block:nth-child(3) .text,
    .our-feature-two.dark-bg .text {
      border: none;
      padding: 0 0 60px;
    }
    .our-feature-two .single-block:nth-child(3) .img-box > div,
    .our-feature-two .single-block:nth-child(2) .img-box > div,
    .our-feature-two .img-box > div,
    .our-feature-two.dark-bg .img-box > div {
      padding: 0 0 50px;
    }
    .our-feature-two .single-block:nth-child(2) .img-box {
      border: none;
    }
    .apps-overview {
      margin-bottom: 100px;
    }
    .testimonial-section .theme-title {
      padding-bottom: 100px;
    }
    .contact-us-one .overlay {
      padding: 90px 0 100px;
    }
    .contact-us-one form {
      padding: 45px 15px;
    }
    .theme-footer .top-footer-data-wrapper [class*="col-"] {
      padding-bottom: 40px;
    }
    .theme-footer .top-footer-data-wrapper {
      padding: 50px 0 20px;
    }
    .theme-footer .bottom-footer {
      padding: 30px 0;
    }
    .theme-main-sidebar {
      padding-top: 100px;
    }
    .theme-pagination {
      padding-top: 0;
    }
    .theme-main-menu .logo a {
      margin: 0;
    }
    .our-feature-two .img-box img {
      margin-top: 0;
    }
    .testimonial-section .full-width,
    .contact-us-one.bg-color {
      padding: 120px 0 100px;
    }
    .apps-overview.color-three:before,
    .apps-overview.color-three:after,
    .apps-overview.color-three .shape,
    .our-feature-five .shape,
    .testimonial-section .full-width:after,
    .contact-us-one.bg-color:after,
    .contact-us-one.bg-color:before,
    .contact-us-one.bg-color .shape-two,
    .theme-footer .shape {
      display: none;
    }
    .apps-overview.color-three {
      padding: 0;
      margin-bottom: 0;
    }
    .menu-wrapper.clearfix {
      min-height: 40px;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #home-page-react {
    .theme-banner-one .main-text-wrapper {
      padding: 180px 0 50px;
    }
    .theme-banner-two .main-text-wrapper {
      padding: 180px 0 150px;
    }
    .theme-inner-banner {
      padding-top: 200px;
    }
  }
}
@media (max-width: 767px) {
  #home-page-react {
    #theme-banner h1 {
      font-size: 45px;
      line-height: 55px;
    }
    .theme-banner-one .main-text-wrapper p {
      font-size: 20px;
      line-height: 32px;
      padding: 30px 0 40px;
    }
    .theme-banner-one .main-text-wrapper,
    .theme-banner-two .main-text-wrapper {
      padding: 170px 0 40px;
    }
    .theme-title h2 br {
      display: none;
    }
    .our-features-one .single-feature {
      padding-bottom: 40px;
    }
    .our-feature-two .text .title {
      font-size: 45px;
      line-height: 52px;
    }
    .apps-overview .inner-wrapper {
      padding: 100px 0 85px;
    }
    .contact-us-one .theme-title p br,
    .contact-section-dark .theme-title p br {
      display: none;
    }
    .contact-section-dark form {
      padding: 70px 50px 0;
    }
    .theme-banner-three .main-text-wrapper p br {
      display: none;
    }
    .theme-inner-banner h2 {
      font-size: 30px;
    }
    .theme-inner-banner {
      padding: 150px 0 0;
      margin-bottom: 80px;
    }
    .theme-inner-banner ul {
      margin-top: 100px;
    }
    .inner-page-spacing {
      margin-bottom: 100px;
    }
    .theme-banner-one .illustration {
      display: none;
    }
  }
}
@media (max-width: 575px) {
  #home-page-react {
    .switcher .switch-menu {
      width: 270px;
      max-height: 350px;
    }
    .switcher {
      left: -270px;
    }
    .switcher #styleOptions li a {
      height: 120px;
    }
    .testimonial-section .single-block .img-block,
    .our-team .single-block .img-block {
      float: none;
      margin: 0 auto;
    }
    .testimonial-section .single-block .text,
    .our-team .single-block .text {
      float: none;
      text-align: center;
      padding: 40px 0 0;
      width: 100%;
    }
    .testimonial-section .single-block .text img,
    .our-team .single-block .text img {
      margin: 0 auto;
    }
    .testimonial-section .theme-title {
      padding-bottom: 60px;
    }
    .theme-footer .bottom-footer .copyright {
      float: none;
      text-align: center;
      padding-bottom: 20px;
    }
    .theme-footer .bottom-footer ul {
      float: none;
      text-align: center;
    }
    #theme-banner .button-group {
      margin: 0 -5px;
    }
    #theme-banner .button-group > li {
      float: none;
      padding: 5px 0;
    }
    .apps-overview .inner-wrapper .button-group li {
      display: block;
      margin: 0;
      padding: 5px 0;
    }
    .contact-section-dark form {
      padding: 70px 0 0;
    }
    #theme-banner h1 br {
      display: none;
    }
    .theme-main-menu .logo img {
      width: 140px;
      margin-top: 2px;
    }
  }
}
@media (max-width: 650px) {
  #home-page-react {
    #success,
    #error {
      width: 86%;
      height: auto;
      top: calc(50% - 50px);
      left: 7%;
      padding: 30px 10px;
    }
  }
}
// Amimations
@-webkit-keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(0, 24%, 0);
    transform: translate3d(0, 24%, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(0, 24%, 0);
    transform: translate3d(0, 24%, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  40% {
    -webkit-transform: translate3d(0, 24%, 0) scale(1);
    transform: translate3d(0, 24%, 0) scale(1);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 1;
  }
}
@keyframes scale-up {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  40% {
    -webkit-transform: translate3d(0, 24%, 0) scale(1);
    transform: translate3d(0, 24%, 0) scale(1);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 1;
  }
}
@-webkit-keyframes border-one {
  0% {
    border: 5px solid #ff8b90;
    border-right: none;
    border-top: none;
  }
  50% {
    border: 5px solid #01daba;
    border-right: none;
    border-top: none;
  }
  100% {
    border: 5px solid #b377f6;
    border-right: none;
    border-top: none;
  }
}
@keyframes border-one {
  0% {
    border: 5px solid #ff8b90;
    border-right: none;
    border-top: none;
  }
  50% {
    border: 5px solid #01daba;
    border-right: none;
    border-top: none;
  }
  100% {
    border: 5px solid #b377f6;
    border-right: none;
    border-top: none;
  }
}
@-webkit-keyframes border-two {
  0% {
    border: 5px solid #b377f6;
    border-right: none;
    border-bottom: none;
  }
  50% {
    border: 5px solid #fec25e;
    border-right: none;
    border-bottom: none;
  }
  100% {
    border: 5px solid #01daba;
    border-right: none;
    border-bottom: none;
  }
}
@keyframes border-two {
  0% {
    border: 5px solid #b377f6;
    border-right: none;
    border-bottom: none;
  }
  50% {
    border: 5px solid #fec25e;
    border-right: none;
    border-bottom: none;
  }
  100% {
    border: 5px solid #01daba;
    border-right: none;
    border-bottom: none;
  }
}