.f-upload-setup {
    .image-upload-pending {
        img {
            opacity:0.4;
        }
    }
    .image-upload-error {
        img {
            border: 1px solid #FF0000;
        }
        label {
            position: absolute;
            color: #ffffff;
            word-break: break-word;
            text-align: center;
            background: #000000;
            cursor: pointer;
            padding: 2px;
        }
    }
}