.MyFamilySidebar {
  .f-float {
    float: left;
    width: 100%;
  }
  float: left;
  width: 100%;
  max-width: 320px;
  position: relative;
  .f-sider-block {
    @extend .f-float;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 15px;
    & + .f-sider-block {
      margin-top: 20px;
    }
    &:last-of-type {
      margin-bottom: 15px;
    }
    &.f-alt {
      .f-sider-head {
        h4 {
          color: var(--green);
        }
      }
    }
  }
  .f-sider-head,
  .f-sider-body,
  .f-sider-foot {
    @extend .f-float;
  }
  .f-sider-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../../assets/images/icon/right.svg);
    background-repeat: no-repeat;
    background-position: right center;
    img {
      filter: grayscale(1);
      width: 24px;
      height: 24px;
      object-fit: scale-down;
      object-position: left center;
    }
    h4 {
      float: left;
      padding-right: 15px;
      line-height: 1;
      font-size: 0.9rem;
      font-weight: 500;
      margin: 0;
      color: var(--text);
      padding-left: 15px;
    }
    .ant-btn {
      float: right;
      padding: 0;
      width: 36px;
      height: 36px;
      border: 1px solid #e4e4e4;
      color: var(--text);
      font-size: 1.5rem;
      line-height: 1;
      box-shadow: none;
      outline: none;
      &.f-alt {
        border: none;
        background-image: url(../../assets/images/icon/calendar.png);
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    em {
      background-color: var(--green);
      color: #fff;
      border-radius: 20px;
      font-size: 0.8rem;
      line-height: 1rem;
      min-width: 25px;
      text-align: center;
      padding: 0px 2px;
      margin-left: auto;
      margin-right: 20px;
    }
  }
  .f-sider-body {
    margin: 25px 0;
    padding-top: 10px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: -15px;
      background-color: var(--pagebg);
      height: 1px;
      top: -10px;
    }
    ul {
      @extend .f-float;
      margin: 0;
      li {
        @extend .f-float;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all ease 0.2s;
        &:hover {
          opacity: 0.8;
        }
        & + li {
          margin-top: 20px;
        }
        span {
          &:not(.ant-avatar) {
            flex: 1 1 0;
          }
          &.ant-avatar {
            width: 48px;
            height: 48px;
            margin-right: 15px;
            border-radius: 5px;
          }
        }
        h5,
        h6 {
          @extend .f-float;
          line-height: 1.2;
        }
        h5 {
          color: var(--heading);
          font-size: 0.9rem;
          margin: 0 0 3px;
          font-weight: 500;
        }
        h6 {
          color: var(--text);
          font-size: 0.8rem;
          margin: 0;
          font-weight: 300;
        }
      }
      .f-date {
        width: 48px;
        height: 48px;
        margin-right: 15px;
        border-radius: 5px;
        background-color: #e4e4e4;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #242424;
        strong {
          font-size: 1.1rem;
          line-height: 1;
          font-weight: 400;
        }
        i {
          font-size: 0.75rem;
          line-height: 1;
        }
      }
      .f-dot {
        width: 12px;
        height: 12px;
        background-color: var(--green);
        border-radius: 50%;
        margin-left: 3px;
      }
      .f-comments{
        background-image: url(../../assets/images/icon/i_comment.png);
        background-repeat: no-repeat;
        width: 20px;
        background-size: contain;
        background-position: left center;
        height: 20px;
        position: relative;
        margin-right: 10px;
        cursor: pointer;
        em{
          background-color: var(--green);
          color: #fff;
          border-radius: 20px;
          font-size: 0.7rem;
          line-height: 0.9rem;
          text-align: center;
          padding: 0px 1px;
          position: absolute;
          left: 13px;
          top: -2px;
          min-width: 20px;
        }
      }
    }
  }
  .f-sider-foot {
    .ant-btn-link {
      padding: 3px 0;
      height: unset;
      box-shadow: none;
      border: navajowhite;
      font-size: 0.85rem;
      color: var(--green);
      line-height: 1;
      float: right;
      &:hover {
        color: var(--primary);
      }
    }
  }
}

// Mobile
@media only screen and (max-width:1024px){
  .MyFamilySidebar{
    display: none;
  }
  .myFamily .f-posts-main{
    max-width: 100%;
    padding-left: 0;
  }
}
@media only screen and (max-width:1020px){
  .MyFamilySidebar{
      position: fixed;
      top: 0 !important;
      z-index: 999;
      background-color: #FFF;
      left: -400px;
      padding: 15px;
      height: 100vh !important;
      overflow-y: auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      transition: all ease-in-out 0.2s;
      
  }
  .f-show-myfamily-sider{
      .f-close-myfamily-sidebar{
          left: 320px !important;
      }
      .MyFamilySidebar{
          left: 0%;
          .f-sider-block{
              border-radius: 0;
          }
          .f-sider-body ul li {
              h5{
                  font-size: 0.8rem;
                  margin: 0 0 3px;
              }
              h6{
                  font-size: 0.65rem;
              }
              &+ li {
                  margin-top: 15px;
              }
              span.ant-avatar {
                  width: 40px;
                  height: 40px;
                  margin-right: 15px;
              }
          }
      }
  }
}
@media only screen and (max-width:490px){
  .MyFamilySidebar {
      max-width: 250px;
      padding: 10px !important;
  }
  .f-show-myfamily-sider .f-close-myfamily-sidebar {
      left: 250px !important;
      width: calc(100% - 250px) !important;
  }
}