.SearchSidebar {
    .f-float{
        float: left;
        width: 100%;
    }
    float: left;
    width: 100%;
    max-width: 320px;
    position: relative;
    .f-sider-block {
        @extend .f-float;
        background-color: #FFF;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding: 15px;
        &+.f-sider-block {
            margin-top: 20px;
        }
        &:last-of-type {
            margin-bottom: 15px;
        }
        
    }
}