.listLanding{
    .f-float{
        float: left;
        width: 100%;
    }
    .f-body{
        margin-top: 35px;
    }
    .f-post-listing {
        @extend .f-float;
        position: relative;
    }
    .f-posts-main {
        width: 100%;
        max-width: 720px;
        float: right;
        padding-left: 25px;
    }
    .f-posts-filters {
        @extend .f-float;
        margin-bottom: 25px;
    }
    .f-post-feed {
        @extend .f-float;
    }
    .f-tab-ui{
        @extend .f-float;
        margin-bottom: 0;
        background-color: #FFF;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding:0 15px;
        .ant-radio-group{
            @extend .f-float;
            display: flex;
            justify-content: space-around;
            .ant-radio{
                display: none;
                &+span{
                    padding: 0;
                    user-select:none;
                }
            }
            .ant-radio-wrapper{
                margin: 0;
                padding: 18px 15px;
                font-weight: 400;
                color: var(--text);
                line-height: 1;
                &:after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0%;
                    margin: 0 auto;
                    height: 2px;
                    background-color: transparent;
                    transition: all ease-in-out 0.2s;
                }
            }
            .ant-radio-wrapper-checked{
                font-weight: 600;
                color: var(--green);
                &:after{
                    background-color: var(--green);
                    width: 100%;
                }
            }
        }
    }
    .f-posts-create{
        @extend .f-float;
        margin-bottom: 20px;
        .ant-btn{
            @extend .f-float;
            border: 1px solid var(--primary);
            color: var(--primary);
            background-color: #FFF;
            box-shadow: none;
            height: 50px;
            padding: 0;
            line-height: 1;
            font-size: 1.05rem;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                margin-left: 10px;
                height: 16px;
            }
            &:hover{
                background-color: var(--primary);
                color: #FFF;
                img{
                    filter: grayscale(1) invert(1);
                }
            }
        }
    }
    .f-postside-unfold {
        background-color: transparent !important;
        border: none;
        padding: 0 0 0 6px;
        box-shadow: none;
        height: 50px;
        width: 45px;
        font-size: 1.5rem;
        float: left;
        color: var(--primary) !important;
        text-align: left;
    }
    .f-close-post-sidebar {
        position: fixed;
        left: -1000px;
        width: calc(100% - 320px);
        top: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all ease-in-out 0.1s;
        z-index: 999;
    }
    .f-event-contents {
        @extend .f-float;
        border: 1px solid #eaeaea;
        float: left;
        background-color: #FFF;
        padding: 15px;
        border-radius: 5px;
        &.f-blanco{
            border: none;
            background-color: transparent;
            padding: 0;
            border-radius: 0;
        }
        .f-head{
            border-bottom: 1px solid #eff0f1;
            padding-bottom: 20px;
        }
        .f-about-carousel {
            float: left;
            width: 210px;
            position: relative;
            max-width: 100%;
            margin: 7px 10px 0 0;
            .slick-slide{
                &>div{
                    float: left;
                    width: 100%;
                    text-align: center;
                }
                img {
                    display: inline-block !important;
                    vertical-align: text-bottom;
                }
            }
            .ant-carousel .slick-dots{
                position: relative;
                bottom: unset;
                float: left;
                width: 100%;
                height: 12px;
                margin-top: 10px;
                li {
                    button {
                        width: 10px;
                        height: 10px;
                        background-color: #dbdbdb;
                        border-radius: 50%;
                        margin: 0 2px;
                        opacity: 1;
                    }
                    &.slick-active button {
                        width: 10px;
                        background: var(--green);
                        opacity: 1;
                    }
                }
            }
        }
        .f-switch-content {
            @extend .f-float;
            margin-top: 5px;
            .f-title{
                @extend .f-float;
                margin-bottom: 5px;
                h3{
                    float: left;
                    width: 100%;
                    font-size: 1.15rem;
                    font-weight: 600;
                    margin: 0;
                    line-height: 1;
                    color: var(--heading);
                    display: flex;
                    align-items: center;
                }
                .f-title-edit{
                    height: 20px;
                    line-height: 1;
                    padding: 0;
                    background-image: url(../../../assets/images/icon/edit_g.png);
                    background-color: transparent !important;
                    background-position: center center;
                    background-repeat: no-repeat;
                    width: 20px;
                    border: none;
                    border-radius: 0;
                    box-shadow: none;
                    margin-left: 20px;
                }
            }
            .f-content{
                @extend .f-float;
                p{
                    margin: 0;
                    color: #53585c;
                    font-size: 0.9rem;
                    line-height: 1.75;
                    &+p{
                        margin-top: 20px;
                    }
                }
                &+.f-title{
                    margin-top: 20px;
                }
            }
        }
        .f-posts-filters{
            @extend .f-float;
            margin-bottom: 20px;
            .f-tab-ui{
                @extend .f-float;
                margin-bottom: 0;
                background-color: #FFF;
                border: 1px solid #eaeaea;
                border-radius: 5px;
                padding:0 15px;
                .ant-radio-group{
                    @extend .f-float;
                    display: flex;
                    justify-content: space-around;
                    .ant-radio{
                        display: none;
                        &+span{
                            padding: 0;
                            user-select:none;
                        }
                    }
                    .ant-radio-wrapper{
                        margin: 0;
                        padding: 18px 15px;
                        font-weight: 400;
                        color: var(--text);
                        line-height: 1;
                        &:after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 0%;
                            margin: 0 auto;
                            height: 2px;
                            background-color: transparent;
                            transition: all ease-in-out 0.2s;
                        }
                    }
                    .ant-radio-wrapper-checked{
                        font-weight: 600;
                        color: var(--green);
                        &:after{
                            background-color: var(--green);
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
// Mobile
@media only screen and (max-width:1024px){
    .listLanding .f-posts-main {
        padding-left: 0;
        max-width: 100%;
    }
    .listLanding .f-posts-filters{
        position: sticky;
        top: 65px;
        z-index: 100;
        .f-tab-ui{
            border-radius: 0;
            border-left: none;
            border-right: none;
        }
        &.f-posts-filters-device {
            display: inline-block !important;
        }
    }
    .f-sticky .listLanding .f-posts-filters{
        top: 49px;
        border: none;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    .listLanding{
        .f-boxed{
            padding: 0;
        }
    }
}
@media only screen and (max-width:1020px){
    .listLanding {
        .f-posts-main{
            padding-left: 0;
            max-width: 100%;
        }
        .f-body {
            margin-top: 15px;
        }
        .f-tab-ui{
            max-width: 100%;
            float: right !important;

        }
        .f-postside-unfold{
            display: inline-block !important;
        }
        .f-close-post-sidebar{
            display: block !important;
        }
    }
}
@media only screen and (max-width:640px){
    .listLanding {
        .f-filter-ui {
            .ant-radio-group {
                .ant-radio {
                    &+ span{
                        padding: 9px 10px;
                        font-size: 0.75rem;
                        min-width: 55px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .f-tab-ui {
            .ant-radio-group .ant-radio-wrapper {
                padding: 15px 5px;
                font-size: 0.8rem;
            }
        }
        .f-posts-filters {
            margin-bottom: 20px;
        }
    }
}
@media only screen and (max-width:490px){
    .listLanding {
        .f-filter-ui {
            display: inline-block;
            white-space: nowrap;
            overflow-y: auto;
            .ant-btn {
                height: 32px;
            }
            .ant-radio-group {
                width: auto;
            }
        }
        .f-tab-ui{
            padding: 0 5px;
            .ant-radio-group .ant-radio-wrapper {
                font-size: 0.75rem;
            }
        }
    }
}