.lazyLoader {
  display: flex;
  float: left;
  width: 100%;
  align-items: center;
  justify-content: center;
  .f-lazyLoader {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    div {
      height: 20px;
      width: 5px;
      background: #fe4a49;
      margin: 3px;
      border-radius: 25px;
      &:nth-child(1) {
        animation: lazyLoader 1s ease-in-out infinite 0s;
      }
      &:nth-child(2) {
        animation: lazyLoader 1s ease-in-out infinite 0.1s;
      }
      &:nth-child(3) {
        animation: lazyLoader 1s ease-in-out infinite 0.2s;
      }
      &:nth-child(4) {
        animation: lazyLoader 1s ease-in-out infinite 0.3s;
      }
      &:nth-child(5) {
        animation: lazyLoader 1s ease-in-out infinite 0.4s;
      }
      &:nth-child(6) {
        animation: lazyLoader 1s ease-in-out infinite 0.5s;
      }
      &:nth-child(7) {
        animation: lazyLoader 1s ease-in-out infinite 0.6s;
      }
    }
  }
}
@keyframes lazyLoader {
  0% {
    transform: scaleY(1);
    background: #fed766;
  }
  25% {
    background: #009fb7;
  }
  50% {
    transform: scaleY(2);
    background: #59cd90;
  }
  75% {
    background: #fe4a49;
  }
  100% {
    transform: scaleY(1);
    background: #d91e36;
  }
}
