.familyDetailsSidebar {
    .f-float{
        float: left;
        width: 100%;
    }
    float: left;
    width: 100%;
    max-width: 320px;
    position: relative;
    .f-sider-head,.f-sider-body,.f-sider-foot{
        @extend .f-float;
    }
    // .f-sider-head{
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     h4{
    //         float: left;
    //         padding-right: 15px;
    //         line-height: 1;
    //         font-size: 0.9rem;
    //         font-weight: 400;
    //         margin: 0;
    //         color: var(--text);
    //     }
    //     .ant-btn{
    //         float: right;
    //         padding: 0;
    //         width: 36px;
    //         height: 36px;
    //         border: 1px solid #e4e4e4;
    //         color: var(--text);
    //         font-size: 1.5rem;
    //         line-height: 1;
    //         box-shadow: none;
    //         outline: none;
    //         &.f-alt{
    //             border: none;
    //             background-image: url(../../assets/images/icon/calendar.png);
    //             background-position: center center;
    //             background-repeat: no-repeat;
    //         }
    //     }
    // }
    .f-sider-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4{
            float: left;
            padding-right: 15px;
            line-height: 1;
            font-size: 0.9rem;
            font-weight: 400;
            margin: 0;
            color: var(--text);
        }
        .ant-btn{
            float: right;
            padding: 0;
            width: 36px;
            height: 36px;
            border: 1px solid #e4e4e4;
            color: var(--text);
            font-size: 1.5rem;
            line-height: 1;
            box-shadow: none;
            outline: none;
            &.f-alt{
                border: none;
                background-image: url(../../assets/images/icon/calendar.png);
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }
    .f-sider-body{
        margin: 25px 0;
        ul{
            @extend .f-float;
            margin: 0;
            li{
                @extend .f-float;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all ease 0.2s;
                &:hover{
                    opacity: 0.8;
                }
                &+li{
                    margin-top: 20px;
                }
                span{
                    &:not(.ant-avatar){
                        flex: 1 1 0;
                    }
                    &.ant-avatar{
                        width: 48px;
                        height: 48px;
                        margin-right: 15px;
                    }
                }
                h5,h6{
                    @extend .f-float;
                    font-weight: 300;
                    line-height: 1.2;
                }
                h5{
                    color: var(--heading);
                    font-size: 0.9rem;
                    margin: 0 0 5px;
                }
                h6{
                    color: var(--text);
                    font-size: 0.775rem;
                    margin: 0;
                }
            }
        }
    }
    .f-sider-foot{
        .ant-btn-link {
            padding: 3px 0;
            height: unset;
            box-shadow: none;
            border: navajowhite;
            font-size: 0.85rem;
            color: var(--heading);
            line-height: 1;
            &:hover{
                color: var(--primary);
            }
        }
    }
    .f-sider-block {
        @extend .f-float;
        background-color: #FFF;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding: 15px;
        &+.f-sider-block {
            margin-top: 20px;
        }
        &:last-of-type {
            margin-bottom: 15px;
        }
        .f-admin{
            display: flex;
            align-items: center;
            float: left;
            cursor: pointer;
            span{
                &:not(.ant-avatar){
                    flex: 1 1 0;
                }
                &.ant-avatar{
                    width: 48px;
                    height: 48px;
                    margin-right: 15px;
                }
            }
            h5,h6{
                @extend .f-float;
                line-height: 1.2;
            }
            h5{
                color: var(--heading);
                font-size: 0.9rem;
                margin: 0 0 6px;
                font-weight: 600;
            }
            h6{
                color: var(--text);
                font-size: 0.775rem;
                margin: 0;
                font-weight: 300;
            }
        }
        &.f-hr {
            margin-bottom: 20px;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                bottom: -20px;
                height: 1px;
                width: 100%;
                left: 0;
                background-color: #e3e3e3;
            }
        }
        .f-action{
            @extend .f-float;
            display: flex;
            justify-content: space-between;
            .ant-checkbox-wrapper{
                float: left;
                // &+.ant-checkbox-wrapper{
                //     margin-left: 5px;
                // }
                .ant-checkbox{
                    display: none;
                    &+span{
                        background-color: #FFF;
                        color: var(--text);
                        border: 1px solid #CCC;
                        border-radius: 5px;
                        float: left;
                        padding: 12px 10px;
                        line-height: 1;
                        font-weight: 400;
                        font-size: 0.83rem;
                        text-align: center;
                    }
                }
                .ant-checkbox-checked+span{
                    background-color: var(--green);
                    border-color: var(--green);
                    color: #FFF;
                }
                .ant-checkbox-disabled+span{
                    background-color: #efefef;
                    border-color: #e8e8e8;
                    color: #9a9a9a;
                }
            }
        }
        &.f-alt {
            padding-left: 0;
        }
        .f-switch{
            @extend .f-float;
            .ant-radio-wrapper{
                @extend .f-float;
                .ant-radio{
                    display: none;
                }
                span{
                    @extend .f-float;
                    color: var(--text);
                    font-weight: 400;
                    font-size: 0.85rem;
                    padding: 10px 0 10px 12px;
                    line-height: 1;
                    border-left: 3px solid transparent;
                    transition: all ease 0.2s;
                    margin: 5px 0;
                    cursor: pointer;
                    &:hover{
                        color: var(--heading);
                    }
                }
                &.ant-radio-wrapper-checked{
                    span{
                        border-left-color: var(--green);
                        font-weight: 500;
                        color: var(--heading);
                        font-size: 0.9rem;
                    }
                }
            }
        }
        .f-btn-combo{
            @extend .f-float;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .ant-btn{
                background-repeat: no-repeat;
                border: none;
                height: 35px;
                color: var(--text);
                font-size: 0.85rem;
                line-height: 1;
                box-shadow: none;
                outline: none;
                background-position: left 5px center;
            }
            .f-btn-calendar{
                float: left;
                background-image: url(../../assets/images/icon/calendar.png);
                padding: 0 5px 0 40px;
                background-size: 25px auto;
            }
            .f-btn-share{
                float: left;
                background-image: url(../../assets/images/icon/share_filled.png);
                padding: 0 5px 0 27px;
            }
            i{
                width: 1px;
                height: 20px;
                background-color: #CCC;
            }
        }
        .f-meta{
            @extend .f-float;
            margin: 0;
            li {
                @extend .f-float;
                display: flex;
                justify-content: space-between;
                padding: 15px 5px;
                color: var(--text);
                font-size: 0.85rem;
                line-height: 1;
                &+li{
                    border-top: 1px solid #eee;
                }
            }
        }
        .f-action-btns{
            @extend .f-float;
            margin: 0;
            li {
                @extend .f-float;
                padding: 15px 5px;
                .ant-btn{
                    color: var(--text);
                    font-size: 0.9rem;
                    line-height: 1;
                    box-shadow: none;
                    outline: none;
                    height: 20px;
                    border: none;
                    padding: 0 0 0 25px;
                    float: left;
                    background-repeat: no-repeat;
                    background-position: left center;
                    &.f-btn-edit{
                        background-image: url(../../assets/images/icon/edit_g.png);
                    }
                    &.f-btn-delete{
                        background-image: url(../../assets/images/icon/trash_g.png);
                    }
                    &.f-btn-settings{
                        background-image: url(../../assets/images/icon/settings_g.png);
                    }
                    &:hover{
                        opacity: 0.7;
                    }
                }
                &+li{
                    border-top: 1px solid #eee;
                }
            }
        }
    }
}
// Mobile
// Mobile
@media only screen and (max-width:1040px){
    .familyDetailsSidebar{
        position: fixed;
        top: 0 !important;
        z-index: 999;
        background-color: #FFF;
        left: -400px;
        padding: 15px;
        height: 100vh !important;
        overflow-y: auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        transition: all ease-in-out 0.2s;
        
    }
    .f-show-familhy-sider{
        .f-close-familhy-sidebar{
            left: 320px !important;
            display: block !important;
        }
        .familyDetailsSidebar{
            left: 0%;
            .f-sider-block{
                border-radius: 0;
            }
            .f-sider-body ul li {
                h5{
                    font-size: 0.8rem;
                    margin: 0 0 3px;
                }
                h6{
                    font-size: 0.65rem;
                }
                &+ li {
                    margin-top: 15px;
                }
                span.ant-avatar {
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                }
            }
        }
    }
}
@media only screen and (max-width:490px){
    .familyDetailsSidebar {
        max-width: 250px;
        padding: 10px !important;
    }
    .f-show-familhy-sider .f-close-familhy-sidebar {
        left: 250px !important;
        width: calc(100% - 250px) !important;
    }
}
// @media only screen and (max-width:1020px){
//     .familyDetailsSidebar {
//         max-width: 100%;
//         display: flex;
//         flex-wrap: wrap;
//         .f-sider-block{
//             flex-basis: 100%;
           
//             &.f-alt{
//                 padding: 0 15px !important;
//             }
//             .f-switch {
//                 display: flex;
//                 overflow-y: auto;
//                 .ant-radio-wrapper{
//                     &.ant-radio-wrapper-checked {
//                         span{
//                             border-left: none;
//                             border-bottom-color: var(--green) !important;
//                         }
//                     }
//                     .ant-radio {
//                         &+span{
//                             text-align: center;
//                             padding: 18px 6px 15px !important;
//                             margin: 0 !important;
//                             border-left: none !important;
//                             border-bottom: 3px solid transparent;
//                         }
//                     }
//                 }
//             }
//             .f-sider-body ul li {
//                 h5{
//                     font-size: 0.8rem;
//                     margin: 0 0 3px;
//                 }
//                 h6{
//                     font-size: 0.65rem;
//                 }
//                 &+ li {
//                     margin-top: 15px;
//                 }
//                 span.ant-avatar {
//                     width: 40px;
//                     height: 40px;
//                     margin-right: 15px;
//                 }
//             }
//         }
//     }
// }