.userDetailsSidebar {
    .f-float{
        float: left;
        width: 100%;
    }
    float: left;
    width: 100%;
    max-width: 320px;
    position: relative;
    .f-sider-block {
        @extend .f-float;
        background-color: #FFF;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding: 15px;
        &+.f-sider-block {
            margin-top: 20px;
        }
        &:last-of-type {
            margin-bottom: 15px;
        }
        &.f-alt {
            padding-left: 0;
        }
        .f-switch{
            @extend .f-float;
            .ant-radio-wrapper{
                @extend .f-float;
                .ant-radio{
                    display: none;
                }
                span{
                    @extend .f-float;
                    color: var(--text);
                    font-weight: 400;
                    font-size: 0.85rem;
                    padding: 10px 0 10px 12px;
                    line-height: 1;
                    border-left: 3px solid transparent;
                    transition: all ease 0.2s;
                    margin: 5px 0;
                    cursor: pointer;
                    &:hover{
                        color: var(--heading);
                    }
                }
                &.ant-radio-wrapper-checked{
                    span{
                        border-left-color: var(--green);
                        font-weight: 500;
                        color: var(--heading);
                        font-size: 0.9rem;
                    }
                }
            }
        }
        .f-action-btns{
            @extend .f-float;
            margin: 0;
            li {
                @extend .f-float;
                padding: 15px 5px;
                .ant-btn{
                    color: var(--text);
                    font-size: 0.9rem;
                    line-height: 1;
                    box-shadow: none;
                    outline: none;
                    height: 20px;
                    border: none;
                    padding: 0 0 0 25px;
                    float: left;
                    background-repeat: no-repeat;
                    background-position: left center;
                    &.f-btn-edit{
                        background-image: url(../../assets/images/icon/edit_g.png);
                    }
                    &.f-btn-delete{
                        background-image: url(../../assets/images/icon/trash_g.png);
                    }
                    &.f-btn-settings{
                        background-image: url(../../assets/images/icon/settings_g.png);
                    }
                    &:hover{
                        opacity: 0.7;
                    }
                }
                &+li{
                    border-top: 1px solid #eee;
                }
            }
        }
    }
}
// Mobile
@media only screen and (max-width:1020px){
    .userDetailsSidebar {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        .f-sider-block{
            // flex-basis: 100%;
            &.f-alt{
                padding: 0 15px !important;
            }
            .f-switch {
                display: flex;
                overflow-y: auto;
                .ant-radio-wrapper{
                    &.ant-radio-wrapper-checked {
                        span{
                            border-left: none;
                            border-bottom-color: var(--green) !important;
                        }
                    }
                    .ant-radio {
                        &+span{
                            text-align: center;
                            padding: 18px 6px 15px !important;
                            margin: 0 !important;
                            border-left: none !important;
                            border-bottom: 3px solid transparent;
                        }
                    }
                }
            }
        }
    }
}