.eventDetails{
    .f-float{
        float: left;
        width: 100%;
    }
    .f-event-details{
        @extend .f-float;
    }
    .f-head{
        @extend .f-float;
    }
    .f-sect{
        @extend .f-float;
        padding-top: 30px;
    }
    .f-events-main {
        width: 100%;
        max-width: 720px;
        float: right;
        padding-left: 25px;
    }
    .f-poster{
        @extend .f-float;
        position: relative;
        min-height: 200px;
        background-color: #000;
        img{
            width: 100%;
            position: relative;
            z-index: 1;
        }
        .f-overlay{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 25px 18px;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.4) 100%);
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.4) 100%);
            background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.4) 100%);
        }
        .f-edit-poster-pic {
            position: absolute;
            right: 15px;
            z-index: 20;
            bottom: 15px;
            background-color: var(--green);
            height: 30px;
            width: 30px;
            border: none;
            color: #FFF;
            font-size: 1.1rem;
            padding: 0;
            box-shadow: none;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            border-radius: 5px;
            &:hover{
                background-color: #FFF;
                color: var(--primary);
            }
        }
    }
    .f-poster-default {
        display: flex;
        flex-direction: column;
        height: 350px;
        background-color: #000;
        align-items: center;
        justify-content: center;
        @extend .f-float;
        img{
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        h4, p{
            color: #d0d0d0;
        }
        h4{
            font-size: 1.3rem;
            line-height: 1;
            margin: 20px 0 15px 0;
            font-weight: 500;
        }
        p{
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 400;
            margin: 0;
        }
        &+.f-overlay{
            display: none;
        }
    }
    .f-page-overview{
        @extend .f-float;
        padding: 15px;
        border-radius: 0 0 5px 5px;
        background-color: #FFF;
        position: relative;
        display: flex;
        align-items: flex-start;
        .f-display-pic {
            flex: 0 0 120px;
            height: 120px;
            border-radius: 5px;
            border: 2px solid #ffffff;
            box-shadow: 0 1px 25px rgba(40, 53, 86, 0.1);
            margin-top: -40px;
            z-index: 30;
            background-color: #9a9a9a;
            overflow: hidden;
            margin-left: 5px;
            cursor: pointer;
            &>img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .f-head{
            padding: 0 15px 0 5px;
            h3, h5{
                @extend .f-float;
            }
            h3{
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 1.3;
                margin: 0 0 5px;
                color: var(--primary);
            }
            h5{
                font-weight: 500;
                line-height: 1.2;
                background-repeat: no-repeat;
                font-size: 0.9rem;
                color: var(--heading);
                margin: 0 0 8px;
                &.f-time{
                    background-image: url(../../../assets/images/icon/timer.png);
                    background-position: left center;
                    background-size: auto 16px;
                    padding: 2px 0 2px 25px;
                    margin: 7px 0 0;
                    min-height: 21px;
                }
                &.f-date{
                    background-image: url(../../../assets/images/icon/calendar.png);
                    background-position: left center;
                    background-size: auto 16px;
                    padding: 2px 0 2px 25px;
                    margin: 7px 0 0;
                    min-height: 21px;
                }
                &.f-location{
                    background-image: url(../../../assets/images/icon/location.png);
                    background-position: left 0px top 1px;
                    padding: 2px 0 2px 25px;
                    margin: 7px 0 0;
                    min-height: 21px;
                }
                em{
                    font-weight: 400;
                    font-style: normal;
                    color: var(--text);
                }
                &.f-webinar{
                    padding-left: 0;
                    display: flex;
                    align-items: center;
                    margin-top: 8px;
                    img{
                        width: 22px;
                        margin-right: 4px;
                        margin-left: -1px;
                    }
                    em{
                        color: var(--heading);
                    }
                    a{
                        color: #242424;
                    }
                }
            }
            span{
                @extend .f-float;
                display: flex;
                color: var(--text);
                font-size: 0.85rem;
                line-height: 1;
                margin: 15px 0 5px;
                strong{
                    color: var(--green);
                    padding-right: 5px;
                    &+strong{
                        margin-left: 25px;
                    }
                }
            }
        }
        .f-right {
            flex: 0 0 150px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 21px 5px 0 0;
            .f-share{
                background-image: url(../../../assets/images/icon/share.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 18px;
                border: none;
                background-color: transparent;
                border-radius: 5px;
                height: 40px;
                width: 40px;
                line-height: 1;
                box-shadow: none;
            }
            .f-invite{
                margin-left: 15px;
                border: none;
                background-color: #7e57c2;
                border-radius: 5px;
                height: 40px;
                line-height: 1;
                color: #FFF;
                font-size: 0.9rem;
                padding: 0;
                min-width: 90px;
                &:hover{
                    background-color: var(--primary);
                }
            }
        }
        ul{
            margin-right: auto;
            margin-bottom: 9px;
            float: left;
            clear: both;
            li{
                float: left;
                color: var(--text);
                font-size: 0.8rem;
                position: relative;
                text-transform: capitalize;
                &+li{
                    padding-left: 13px;
                    margin-left: 13px;
                    &:before{
                        content: "";
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background-color: #a8a8a8;
                        top: 0;
                        bottom: 0;
                        margin: auto 0 auto -4px;
                        left: 0;
                    }
                }
            }
        }
    }
    .f-event-contents {
        @extend .f-float;
        border: 1px solid #eaeaea;
        float: left;
        background-color: #FFF;
        padding: 15px;
        border-radius: 5px;
        &.f-blanco{
            border: none;
            background-color: transparent;
            padding: 0;
            border-radius: 0;
        }
        .f-head{
            border-bottom: 1px solid #eff0f1;
            padding-bottom: 20px;
        }
        .f-about-carousel {
            float: left;
            width: 210px;
            position: relative;
            max-width: 100%;
            margin: 7px 10px 0 0;
            .slick-slide{
                &>div{
                    float: left;
                    width: 100%;
                    text-align: center;
                }
                img {
                    display: inline-block !important;
                    vertical-align: text-bottom;
                }
            }
            .ant-carousel .slick-dots{
                position: relative;
                bottom: unset;
                float: left;
                width: 100%;
                height: 12px;
                margin-top: 10px;
                li {
                    button {
                        width: 10px;
                        height: 10px;
                        background-color: #dbdbdb;
                        border-radius: 50%;
                        margin: 0 2px;
                        opacity: 1;
                    }
                    &.slick-active button {
                        width: 10px;
                        background: var(--green);
                        opacity: 1;
                    }
                }
            }
        }
        .f-switch-content {
            @extend .f-float;
            margin-top: 5px;
            .f-title{
                @extend .f-float;
                margin-bottom: 5px;
                h3{
                    float: left;
                    width: 100%;
                    font-size: 1.15rem;
                    font-weight: 600;
                    margin: 0;
                    line-height: 1;
                    color: var(--heading);
                    display: flex;
                    align-items: center;
                }
                .f-title-edit{
                    height: 20px;
                    line-height: 1;
                    padding: 0;
                    background-image: url(../../../assets/images/icon/edit_g.png);
                    background-color: transparent !important;
                    background-position: center center;
                    background-repeat: no-repeat;
                    width: 20px;
                    border: none;
                    border-radius: 0;
                    box-shadow: none;
                    margin-left: 20px;
                }
            }
            .f-content{
                @extend .f-float;
                p{
                    margin: 0;
                    color: #53585c;
                    font-size: 0.9rem;
                    line-height: 1.75;
                    &+p{
                        margin-top: 20px;
                    }
                }
                &+.f-title{
                    margin-top: 20px;
                }
            }
        }
        .f-posts-filters{
            @extend .f-float;
            margin-bottom: 20px;
            .f-tab-ui{
                @extend .f-float;
                margin-bottom: 0;
                background-color: #FFF;
                border: 1px solid #eaeaea;
                border-radius: 5px;
                padding:0 15px;
                .ant-radio-group{
                    @extend .f-float;
                    display: flex;
                    justify-content: space-around;
                    .ant-radio{
                        display: none;
                        &+span{
                            padding: 0;
                            user-select:none;
                        }
                    }
                    .ant-radio-wrapper{
                        margin: 0;
                        padding: 18px 15px;
                        font-weight: 400;
                        color: var(--text);
                        line-height: 1;
                        &:after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 0%;
                            margin: 0 auto;
                            height: 2px;
                            background-color: transparent;
                            transition: all ease-in-out 0.2s;
                        }
                    }
                    .ant-radio-wrapper-checked{
                        font-weight: 600;
                        color: var(--green);
                        &:after{
                            background-color: var(--green);
                            width: 100%;
                        }
                    }
                }
            }
        }
        .f-green-btn{
            margin-left: 15px;
            height: 30px;
            line-height: 1;
            font-weight: 600;
            font-size: 0.8rem;
            &:hover{
                background-color: var(--green);
                color:#FFF !important;
            }
        }
    }
    .f-signup-description {
        @extend .f-float;
        margin-bottom: 20px;
        h4{
            @extend .f-float;
            color: var(--heading);
            font-size: 0.9rem;
            line-height: 1;
            margin: 0 0 10px;
        }
        textarea{
            @extend .f-float;
            background-color: transparent;
            border:none;
            border-bottom: 1px solid #CCC;
            border-radius: 0;
            resize: vertical;
            padding: 0;
            box-shadow: none;
            outline: none;
        }
    }
    .f-signup-list{
        @extend .f-float;
        margin-top: 5px;
        h4{
            @extend .f-float;
            color: var(--heading);
            font-size: 0.9rem;
            line-height: 1;
            margin: 0 0 10px;
        }
        .f-signup-cards{
            @extend .f-float;
        }
        .ant-card{
            @extend .f-float;
            border: 1px solid #eaeaea;
            border-radius: 5px;
            background-color: #ffffff;
            & + .ant-card{
                margin-top: 15px;
            }
        }
        .ant-card-body{
            @extend .f-float;
            padding: 20px;
            h4{
                font-size: 1rem;
                font-weight: 600;
            }
            .f-flex{
                @extend .f-float;
                display: flex;
                justify-content: space-between;
                p{
                    color: var(--heading);
                    font-size: 0.85rem;
                    line-height: 1.1;
                    em{
                        color: #bababb;
                    }
                    & + p{
                        margin-top: 10px;
                    }
                    strong{
                        font-size: 1.1rem;
                    }
                }
                .f-left{
                    padding-right: 15px;
                }
                .f-right{
                    text-align: right;
                    span{
                        background-image: url(../../../assets/images/icon/tick.png);
                        background-position: top center;
                        padding-top: 40px;
                        background-repeat: no-repeat;
                        background-size: 34px auto;
                        min-width: 40px;
                        display: inline-block;
                        vertical-align: top;
                        color: var(--heading);
                        text-align: center;
                        font-size: 0.8rem;
                        line-height: 1;
                        margin-top: -15px;
                    }
                }
            }
            .f-bottom{
                @extend .f-float;
                text-align: right;
                margin-top: 15px;
                .ant-btn{
                    height: 35px;
                    border-radius: 5px;
                    font-size: 0.82rem;
                    line-height: 1;
                    & + .ant-btn{
                        margin-left: 15px;
                    }
                }
                .f-gray{
                    background-color: #FFF;
                    border: 1px solid #bababb;
                    color: #838383;
                    &:hover{
                        background-color: #838383;
                        color: #FFF;
                        border-color: #838383;
                    }
                }
                .f-green{
                    background-color: var(--green);
                    color: #FFF;
                    border: 1px solid var(--green);
                    &:hover{
                        background-color: var(--primary);
                        color: #FFF;
                        border: 1px solid var(--primary);
                    }
                }
            }
        }
    }
    .f-member-at-glance{
        @extend .f-float;
        h4{
            @extend .f-float;
            color: var(--heading);
            font-size: 0.9rem;
            line-height: 1;
            margin: 0 0 15px;
        }
        .f-member-ow-cards{
            @extend .f-float;
            display: flex;
            flex-wrap: wrap;
            .f-overview-card{
                flex: 0 0 calc(50% - 8px);
                border-radius: 5px;
                background-color: #ffffff;
                margin: 0 8px 16px 8px;
                padding: 30px 25px;
                &:nth-child(odd){
                    margin-left: 0;
                }
                &:nth-child(even){
                    margin-right: 0;
                }
                h3{
                    @extend .f-float;
                    color: #7e57c2;
                    font-size: 1.8rem;
                    font-weight: 600;
                    margin: 0;
                    line-height: 1;
                }
                p{
                    @extend .f-float;
                    color: #8a949e;
                    line-height: 1;
                    margin-top: 7px;
                    font-size: 0.85rem;
                }
            }
        }
    }
    .f-agenda{
        @extend .f-float;
        margin-top: 10px;
        .f-agenda-day-group{
            @extend .f-float;
            & + .f-agenda-day-group{
                padding-top: 30px;
                margin-top: 30px;
                border-top: 1px solid #ddd;
            }
        }
        .f-agenda-day{
            @extend .f-float;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4{
                color: #212121;
                margin: 0;
                line-height: 1;
                font-size: 1rem;
                font-weight: 400;
                strong{
                    font-weight: 700;
                    color: var(--primary);
                }
            }
            .ant-btn{
                background-color: transparent !important;
                border: none;
                line-height: 1;
                outline: none;
                background-image: url(../../../assets/images/icon/calendar.png);
                background-repeat: no-repeat;
                background-position: right center;
                box-shadow: none;
                color: #808080;
                font-size: 0.82rem;
                padding:0 25px 0 0;
                height: 22px;
                background-size: contain;
                border-radius: 0;
            
            }
        }
        .ant-timeline{
            @extend .f-float;
            .ant-timeline-item-last{
                padding-bottom: 0;
            }
            .ant-timeline-item {
                padding-left: 40px;
            }
            .ant-timeline-item-content{
                margin-left: 0;
                top: 0;
            }
            .ant-timeline-item-head {
                left: 0;
                background-color: #cccccc;
                border: none;
                width: 16px;
                height: 16px;
                top: 20px;
            }
            .ant-timeline-item-tail{
                border-left-width: 1px;
                border-left-color: #dcdcdc;
                left: 7px;
                top: 33px;
            }
            .f-agenda-item {
                display: inline-block;
                width: 100%;
                border: 1px solid #eaeaea;
                background-color: #FFF;
                border-radius: 5px;
                padding: 15px;
            }
            .f-agenda-head{
                @extend .f-float;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h5{
                    color: #777777;
                    font-weight: 500;
                    font-size: 0.85rem;
                    line-height: 1;
                    padding-right: 10px;
                    margin: 0;
                }
                .f-group{
                    display: flex;
                }
                .ant-btn{
                    border: none;
                    line-height: 1;
                    background-color: transparent !important;
                    outline: none;
                    height: 30px;
                    width: 30px;
                    background-position: center;
                    background-repeat: no-repeat;
                    padding: 0;
                    box-shadow: none;
                    &+.ant-btn{
                        margin-left: 10px;
                    }
                    &.f-edit{
                        background-image: url(../../../assets/images/icon/edit_g.png);
                    }
                    &.f-delete{
                        background-image: url(../../../assets/images/icon/trash_g.png);
                    }
                }
            }
            .f-agenda-sect{
                @extend .f-float;
                margin-top: 12px;
                display: flex;
                .ant-avatar {
                    flex: 0 0 64px;
                    margin-right: 15px;
                    height: 64px;
                    border-radius: 5px;
                }
                .f-group{
                    flex: 1 1 0;
                    h5{
                        @extend .f-float;
                        color: #170b2b;
                        font-weight: 500;
                        font-size: 0.85rem;
                        line-height: 1;
                        margin: 0;
                    }
                    p{
                        @extend .f-float;
                        color: #53585c;
                        font-size: 0.85rem;
                        line-height: 1.5;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
.f-join-webinar {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: table;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--button);
    color: var(--button);
    font-weight: 700;
    font-size: 1rem;
    max-width: 160px;
    margin: 0 auto;
    &:hover{
        border: 1px solid var(--primary);
        color: var(--primary);
    }
    img{
        height: 30px;
        margin-right: 6px;
    }
}
// Mobile
@media only screen and (max-width:1040px){
    .eventDetails{
        &.f-page{
            .eventDetailsSidebar {
                max-width: 100%;
                .f-sider-block {
                    padding: 0 !important;
                    border: none !important;
                  }
                  .f-sider-menu-incl {
                    display: inline-block;
                    overflow-x: auto;
                    white-space: nowrap;
                  }
                  .f-sider-menu {
                    display: flex;
                    justify-content: flex-start;
                    li {
                      padding: 12px 15px !important;
                      height: unset !important;
                      line-height: unset !important;
                      border: none !important;
                      justify-content: center;
                      img {
                        display: none;
                      }
                      span {
                        float: left;
                        padding: 0 !important;
                        line-height: 1;
                      }
                      &.ant-menu-item-active, &.ant-menu-item-selected {
                        &:after {
                          background-color: var(--green);
                        }
                      }
                      &:after {
                        left: 0;
                        top: unset !important;
                        bottom: 0 !important;
                        border: none;
                        width: 100%;
                        height: 2px;
                      }
                    }
                  }
            }
            .f-events-main{
                max-width: 100%;
                padding: 0;
            }
        }
    }
}
@media only screen and (max-width:1020px){
    .eventDetails {
        .f-events-main {
            max-width: 100%;
            padding-left: 0;
        }
    }
}
@media only screen and (max-width:767px){
    .eventDetails {
        .f-page-overview{
            flex-direction: column;
            .f-head{
                padding: 0;
            }
            .f-right {
                padding: 20px 0 0 !important;
                flex: unset !important;
            }
        }
    }
}
@media only screen and (max-width:680px){
    .eventDetails {
        .f-sect {
            padding-top: 20px;
        }
    }
}
@media only screen and (max-width:640px){
    .eventDetails {
        .f-event-contents {
            .f-head {
                h3 {
                    font-size: 1rem !important;
                    margin: 0 0 2px !important;
                }
            }
            .f-switch-content {
                .f-title h3 {
                    font-size: 0.9rem !important;
                }
            }
            .f-content p {
                font-size: 0.8rem !important;
                line-height: 1.6!important;
            }
        }
    }
}
@media only screen and (max-width:480px){
    .eventDetails {
        .f-member-at-glance {
            .f-member-ow-cards{
                flex-direction: column;
                .f-overview-card{
                    flex-basis: 100%;
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }
    }
}