.albumDetails {
  .f-float {
    float: left;
    width: 100%;
  }
  .hide{
    display: none;
  }
  .f-event-details {
    @extend .f-float;
  }
  .f-head {
    @extend .f-float;
  }
  .f-sect {
    @extend .f-float;
    padding-top: 30px;
  }
  .f-events-main {
    width: 100%;
    float: right;
  }
  .f-poster {
    @extend .f-float;
    position: relative;
    min-height: 200px;
    background-color: #000;
    img {
      width: 100%;
      position: relative;
      z-index: 1;
    }
    .f-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 25px 18px;
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 35%,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 0.4) 100%
      );
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 35%,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 0.4) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 35%,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 0.4) 100%
      );
    }
    .f-edit-poster-pic {
      position: absolute;
      right: 15px;
      z-index: 20;
      bottom: 15px;
      background-color: var(--green);
      height: 30px;
      width: 30px;
      border: none;
      color: #fff;
      font-size: 1.1rem;
      padding: 0;
      box-shadow: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      &:hover {
        background-color: #fff;
        color: var(--primary);
      }
    }
  }
  .f-poster-default {
    display: flex;
    flex-direction: column;
    height: 350px;
    background-color: #000;
    align-items: center;
    justify-content: center;
    @extend .f-float;
    img {
      width: unset;
      max-width: 92px;
    }
    h4,
    p {
      color: #d0d0d0;
    }
    h4 {
      font-size: 1.3rem;
      line-height: 1;
      margin: 20px 0 15px 0;
      font-weight: 500;
    }
    p {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 400;
      margin: 0;
    }
    & + .f-overlay {
      display: none;
    }
  }
  .f-page-overview {
    @extend .f-float;
    padding: 15px;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    position: relative;
    .f-head-title {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.3;
      margin: 0 0 8px;
      color: var(--primary);
      @extend .f-float;
    }
    .f-head {
      display: flex;
      align-items: flex-start;
      h4 {
        @extend .f-float;
        font-weight: 400;
        line-height: 1;
        background-repeat: no-repeat;
        font-size: 0.85rem;
        color: var(--text);
        margin: 5px 0 0;
        strong {
          font-weight: 600;
          color: var(--heading);
        }
      }
      h5 {
        @extend .f-float;
        font-weight: 400;
        line-height: 1;
        background-repeat: no-repeat;
        font-size: 0.85rem;
        color: var(--text);
        margin: 10px 0 0;
      }
      .f-btn-back {
        padding: 0;
        color: var(--text);
        height: unset;
        border: none;
        font-size: 0.85rem;
        margin-top: 20px;
      }
    }
    .f-left {
      flex: 0 0 300px;
    }
    .f-right {
      flex: 1 1 0;
      padding-left: 15px;
      p {
        @extend .f-float;
        margin: 0;
        font-size: 0.85rem;
        line-height: 1.5;
        color: #666666;
        & + p {
          margin-top: 15px;
        }
        strong {
          color: var(--green);
          font-weight: 600;
        }
      }
      .f-split{
        margin-top: 10px;
        display: flex;
        @extend .f-float;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .f-event-contents {
    @extend .f-float;
    border: 1px solid #eaeaea;
    float: left;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    &.f-blanco {
      border: none;
      background-color: transparent;
      padding: 0;
      border-radius: 0;
    }
  }
  .f-album-photos {
    float: left;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    li{
        width: 25%;
        height: 170px;
        padding: 0 7px;
        margin-bottom: 14px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            cursor: pointer;
        }
        &:hover{
            opacity: 0.8;
        }
        position: relative;
        .f-more{
          background-color: rgba(255, 255, 255, 0.5) !important;
          background-image: url(../../../assets/images/icon/ellipse.png) !important;
          background-repeat: no-repeat !important;
          padding: 0;
          border: none;
          line-height: 1;
          width: 32px;
          height: 32px;
          outline: none;
          box-shadow: none;
          background-size: 4px auto;
          background-position: center !important;
          border-radius: 0 0 0 5px !important;
          position: absolute;
          right: 7px;
          top: 0;
        }
    }
  }
}
.f-modal-video{
  margin: 0 !important;
  .f-csl-react-play {
    width: 100% !important;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0 !important;
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        outline: none;
    }
  }
}
// Mobile
@media only screen and (max-width: 767px){
    .albumDetails {
        .f-album-photos {
            li{
                width: 33.33333%;
            }
        }
        .f-page-overview .f-head{
          flex-direction: column;
          .f-left {
            flex: unset;width: 100%;
          }
          .f-right{
            padding: 15px 0 0;width: 100%;
          }
        }
    }
}
@media only screen and (max-width: 620px){
    .albumDetails {
        .f-album-photos {
            li{
                width: 50%;
                height: 140px;
            }
        }
    }
}
@media only screen and (max-width: 420px){
    .albumDetails {
        .f-album-photos {
            flex-direction: column;
            li{
                padding: 0;
                width: 100%;
                height: 150px;
            }
        }
    }
}