.CreateFamilheey{
    .full-width-img{
        width: 100% !important;
        max-width: 100% !important;
        height: 270px;
      }
    .f-float{
        float: left;
        width: 100%;
    }
    .f-boxed {
        max-width: 900px;
        margin: 30px auto;
    }
    .f-steps {
        margin: 20px 0 !important;
    }
    .f-modal-wiz-body{
        float: left;
        width: 100%;
    }
    .f-modal-wiz-step{
        float: left;
        width: 100%;
        h4{
            float: left;
            width: 100%;
            color: #626262;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1;
            margin: 0 0 10px;
        }
        .f-family-card {
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            border-radius: 5px;
            padding: 15px;
            width: calc(50% - 7px);
            box-shadow: 0 1px 25px rgba(40, 53, 86, 0.1);
            margin: 0 7px 15px 7px;
            &:nth-child(odd){
                margin-left: 0;
            }
            &:nth-child(even){
                margin-right: 0;
            }
            .f-start{
                @extend .f-float;
                display: flex;
                .f-left{
                    padding-right: 12px;
                    flex: 0 0 92px;
                    img{
                        border-radius: 5px;
                        width: 100%;
                    }
                }
                .f-right{
                    flex: 1 1 0;
                    h4,h5,h6{
                        @extend .f-float;
                    }
                    h4{
                        color: #202020;
                        font-size: 1rem;
                        margin: 0 0 5px 0;
                        line-height: 1;
                        font-weight: 600;
                    }
                    h5, h6{
                        color: var(--text);
                    }
                    h5{
                        font-weight: 300;
                        margin: 0 0 7px;
                        strong{
                            font-weight: 500;
                        }
                    }
                    h6{
                        font-weight: 400;
                        font-size: 0.8rem;
                        line-height: 1;
                        margin: 0;
                        &+h6{
                            margin: 7px 0 0;
                        }
                        &.f-pin{
                            background-image: url(../../../assets/images/icon/location.png);
                            background-position: left top;
                            background-size: auto 12px;
                            background-repeat: no-repeat;
                            padding-left: 15px;
                        }
                    }
                }
            }
            .f-stop{
                @extend .f-float;
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h5{
                    font-size: 0.85rem;
                    margin: 0;
                    color: var(--text);
                    font-weight: 400;
                    line-height: 1;
                    strong{
                        color: var(--green);
                        font-weight: 500;
                    }
                }
            }
            .ant-checkbox-wrapper{
                float: right;
            }
            .ant-checkbox{
                display: none;
                &+span{
                    background-color: var(--green);
                    border-radius: 3px;
                    color: #FFF;
                    border: 1px solid var(--green);
                    font-size: 0.8rem;
                    padding: 5px 5px;
                    line-height: 1;
                    float: left;
                    min-width: 80px;
                    text-align: center;
                }
                &.ant-checkbox-checked{
                    &+span{
                        background-color: #FFF;
                        border-color: var(--green);
                        color: var(--green);
                    } 
                }
            }
        }
        .f-top-back{
            margin-bottom: 20px;
            .ant-btn{
                border: none;
                padding: 0;
                color: #797979;
                line-height: 1;
                height: 20px;
                box-shadow: none;
            }
        }
        .f-found-fam {
            float: left;
            width: 100%;
            font-weight: 400;
            color: #9a9a9a;
            margin-bottom: 15px;
            strong{
                color: #626262;
                font-weight: 500;
            }
        }
        .f-intro{
            text-align: center;
            margin: 10px 0 30px;
            h4{
                float: left;
                width: 100%;
                color: #9a9a9a;
                font-weight: 400;
                font-size: 1.1rem;
                line-height: 1;
                margin: 0;
                em{
                    color: #626262;
                    font-weight: 500;
                }
                &+h4{
                    margin-top: 10px;
                }
            }
            h5{
                float: left;
                width: 100%;
                color: #9a9a9a;
                font-weight: 400;
                font-size: 0.9rem;
                margin: 10px 0 0;
            }
        }
    }
    .f-modal-wiz-footer{
        float: left;
        width: 100%;
        margin-top: 35px;
        margin-bottom: 10px;
    }
    .f-recommendation-list{
        display: flex;
        flex-wrap: wrap;
        float: left;
        width: 100%;
        max-height: 495px;
        overflow: auto;
        &::-webkit-scrollbar-thumb {
            background: var(--green);
        }
        &::-webkit-scrollbar-track {
            background: #eee;
          }
        &::-webkit-scrollbar {
        width: 5px;
        }
    }
    .f-styled{
        background-color: var(--button);
        color: #FFF;
        height: 45px;
        line-height: 1;
        padding: 0 20px;
        border: 1px solid var(--button);
        font-size: 1rem;
    }
    .f-lined{
        background-color: #FFF;
        color: var(--button);
        height: 45px;
        line-height: 1;
        padding: 0 20px;
        border: 1px solid var(--button);
        font-size: 1rem;
    }
    .ant-btn{
        &+.ant-btn{
            margin-left: 20px;
        }
    }
    .f-more-fam {
        margin: 30px 0 10px;
        text-align: center;
        p{
            float: left;
            width: 100%;
            font-weight: 400;
            color: #9a9a9a;
            font-size: 1rem;
            margin: 0 0 15px;
            strong{
                font-weight: 500;
                color: #626262;
            }
        }
        .ant-btn{
            border: 1px solid var(--button) !important;
            background-color: #FFF !important;
            color: var(--button) !important;
            font-size: 0.85rem;
            padding: 0 20px;
            line-height: 1;
            height: 30px;
        }
    }
    .f-not-selected,.f-if-selected {
        text-align: center;
    }
    .f-upload-poster{
        @extend .f-float;
        margin-top: 15px;
    }
    .f-poster{
        @extend .f-float;
        position: relative;
        min-height: 200px;
        background-color: #000;
        img{
            width: 100%;
            position: relative;
            z-index: 1;
        }
        .f-overlay{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 25px 18px;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.4) 100%);
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.4) 100%);
            background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.4) 100%);
        }
        .f-edit-poster-pic {
            position: absolute;
            right: 15px;
            z-index: 20;
            bottom: 15px;
            background-color: var(--green);
            height: 30px;
            width: 30px;
            border: none;
            color: #FFF;
            font-size: 1.1rem;
            padding: 0;
            box-shadow: none;
            border-radius: 5px;
            &:hover{
                background-color: #FFF;
                color: var(--primary);
            }
        }
        .f-edit-pro-pic {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 20;
            width: 35px;
            height: 35px;
            line-height: 1;
            border-radius: 7px 0 0;
            padding: 0;
            font-size: 1rem;
            background-color: rgba(0, 0, 0, 0.4);
            border: none;
            color: #FFF;
            &:hover{
                background-color: rgba(0, 0, 0, 0.75);
                color: #FFF;
            }
        }
    }
    .f-poster-default {
        display: flex;
        flex-direction: column;
        height: 270px;
        background-color: #eaeaea;
        align-items: center;
        justify-content: center;
        @extend .f-float;
        img{
            width: unset;
            max-width: 92px;
        }
        h4, p{
            color: #9a9a9a;
            padding: 0 15px;
            text-align: center;
        }
        h4{
            font-size: 1.3rem;
            line-height: 1;
            margin: 20px 0 15px 0;
            font-weight: 500;
        }
        p{
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 400;
            margin: 0;
        }
        &+.f-overlay{
            display: none;
        }
    }
    .f-page-overview {
        @extend .f-float;
        padding: 15px;
        border-radius: 0 0 5px 5px;
        background-color: #FFF;
        position: relative;
        display: flex;
        align-items: flex-end;
        .f-error {
            margin-left: auto;
            margin-bottom: auto;
            color: red;
            font-size: 0.85rem;
        }
        .f-edit-family {
            color: #6f6f6f;
            border: 1px solid #d6d6d6;
            padding: 0;
            width: 35px;
            margin: 0 0 2px 10px;
            font-size: 1.1rem;
            height: 35px;
            background-color: #f4f4f4;
        }
        .f-display-pic {
            flex: 0 0 120px;
            height: 120px;
            border-radius: 5px;
            border: 2px solid #ffffff;
            box-shadow: 0 1px 25px rgba(40, 53, 86, 0.1);
            margin-top: -40px;
            z-index: 30;
            background-color: #9a9a9a;
            overflow: hidden;
            margin-left: 5px;
            cursor: pointer;
            &>img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .f-logo-default {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            text-align: center;
            img{
                width: 50px;
            }
            h4{
                margin: 9px 0 3px;
                color: #d0d0d0;
                font-weight: 500;
                font-size: 0.8rem;
                line-height: 1;
            }
            p{
                margin: 0;
                color: #d0d0d0;
                font-size: 0.7rem;
                line-height: 1;
            }
        }
        .f-head{
            padding: 0 15px 0 20px;
            h3, h5{
                @extend .f-float;
            }
            h3{
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 1.3;
                margin: 0 0 5px;
                color: var(--primary);
            }
            h5{
                font-weight: 500;
                line-height: 1.2;
                background-repeat: no-repeat;
                font-size: 0.9rem;
                color: var(--heading);
                margin: 0 0 5px;
                &.f-time{
                    background-image: url(../../../assets/images/icon/timer.png);
                    background-position: left top 4px;
                }
                &.f-location{
                    background-image: url(../../../assets/images/icon/location.png);
                    background-position: left 0px top 1px;
                    padding: 2px 0 2px 23px;
                    margin: 3px 0 0;
                    min-height: 21px;
                }
                em{
                    font-weight: 400;
                    font-style: normal;
                    color: var(--text);
                }
            }
            span{
                @extend .f-float;
                display: flex;
                color: var(--text);
                font-size: 0.85rem;
                line-height: 1;
                margin: 15px 0 5px;
                strong{
                    color: var(--green);
                    padding-right: 5px;
                    &+strong{
                        margin-left: 25px;
                    }
                }
            }
        }
    }
    .f-inactive {
        opacity: 0.75;
    }
    .ant-btn-link {
        color: #666 !important;
    }
    .f-advanced{
        float: left;
        width: 100%;
        &> h4 {
            margin-top: 15px !important;
            margin-bottom: 25px !important;
        }
        .f-wiz-switch,.f-wiz-switch-alt{
            float: none;
            display: table;
            margin-left: auto !important;
            margin-right: auto !important;
            width: 100%;
            max-width: 400px;
            h5{
                float: left;
                width: 100%;
                color: #666;
                padding-left: 26px;
                margin: 10px 0;
                padding-top: 5px;
                padding-bottom: 5px;
                background-image: url(../../../assets/images/icon/qst.png);
                background-position: left center;
                background-size: auto 18px;
                background-repeat: no-repeat;
            }
        }
    }
}
@media only screen and (max-width:680px){
    .CreateFamilheey {
        .f-steps{
            display: none;
        }
    }
}
@media only screen and (max-width:520px){
    .CreateFamilheey {
        .f-boxed {
            flex-direction: column;
            position: relative;
            .f-create-form-head {
                padding-left: 55px !important;
            }
            .f-create-form-back {
                margin: 0;
                padding: 0;
                width: 50px;
                position: absolute;
                top: 5px;
                left: 16px;
                border: none !important;
                background-color: none !important;
            }
        }
    }
}