.eventCard{
    float: left;
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    &.ant-card-loading {
        padding: 20px;
    }
    .f-float{
        float: left;
        width: 100%;
    }
    &+.eventCard{
        margin-top: 25px;
    }
    .ant-card-body{
        @extend .f-float;
        padding: 0;
    }
    .f-head,.f-sect,.f-foot{
        @extend .f-float;
    }
    .f-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
        .f-west{
            display: flex;
            align-items: center;
            float: left;
            cursor: pointer;
            span{
                &:not(.ant-avatar){
                    flex: 1 1 0;
                }
                &.ant-avatar{
                    width: 48px;
                    height: 48px;
                    margin-right: 15px;
                    border-radius: 5px;
                }
            }
            h5,h6{
                @extend .f-float;
                line-height: 1.2;
            }
            h5{
                color: var(--heading);
                font-size: 0.9rem;
                margin: 0 0 6px;
                font-weight: 600;

            }
            h6{
                color: var(--text);
                font-size: 0.775rem;
                margin: 0;
                font-weight: 300;
                strong{
                    font-weight: 500;
                }
                &+h6{
                    margin-top: 5px;
                }
            }
        }
        .f-east{
            float: right;
            .ant-btn{
                float: left;
                margin-left: 10px;
                background-position: center center;
                background-repeat: no-repeat;
                width: 35px;
                height: 35px;
                line-height: 1;
                padding: 0;
                outline: none;
                box-shadow: none;
                border: none;
                &.f-btn-group{
                    background-image: url(../../assets/images/icon/community.png);
                }
                &.f-btn-share{
                    background-image: url(../../assets/images/icon/share.png);
                }
            }
        }
    }
    .f-sect{
        position: relative;
        .f-poster,.f-agenda,.f-meta{
            @extend .f-float;
        }
        .f-poster{
            position: relative;
            min-height: 200px;
            background-color: #000;
            img{
                width: 100%;
                position: relative;
                z-index: 1;
            }
            .f-overlay{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 25px 18px;
                background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.4) 100%);
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.4) 100%);
                background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.4) 100%);
                ul{
                    margin-right: auto;
                    margin-bottom: 0;
                    li{
                        float: left;
                        color: #FFF;
                        font-size: 0.85rem;
                        text-shadow: 0 0 5px 0 0 5px rgba(0, 0, 0, 0.5);
                        position: relative;
                        &+li{
                            padding-left: 15px;
                            margin-left: 15px;
                            &:before{
                                content: "";
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: #FFF;
                                top: 0;
                                bottom: 0;
                                margin: auto 0 auto -4px;
                                left: 0;
                            }
                        }
                    }
                }
                .ant-tag{
                    margin-left: auto;
                    margin-right: 0;
                    padding: 10px 9px;
                    border-radius: 3px;
                    line-height: 1;
                    font-size: 0.82rem;
                    color: var(--heading);
                    font-weight: 400;
                    text-transform: capitalize;
                    opacity: 1 !important;
                }
            }
        }
        .f-agenda {
            display: flex;
            align-items: flex-start;
            padding: 20px;
            position: relative;
            .f-west{
                float: left;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .f-east{
                float: left;
                padding-left: 25px;
                flex: 1 1 0;
                h3, h5{
                    @extend .f-float;
                    color: var(--heading);
                }
                h3{
                    font-weight: 600;
                    font-size: 1.3rem;
                    line-height: 1;
                    margin: 0 0 5px;
                }
                h5{
                    font-weight: 400;
                    margin: 5px 0 0;
                    line-height: 1.2;
                    padding: 5px 0 5px 30px;
                    background-repeat: no-repeat;
                    font-size: 0.9rem;
                    &.f-time{
                        background-image: url(../../assets/images/icon/timer.png);
                        background-position: left top 4px;
                    }
                    &.f-location{
                        background-image: url(../../assets/images/icon/location.png);
                        background-position: left 2px top 4px;
                    }
                    em{
                        font-style: normal;
                        color: var(--text);
                    }
                    &.f-webinar{
                        padding-left: 0;
                        display: flex;
                        align-items: center;
                        img{
                            width: 22px;
                            margin-right: 10px;
                        }
                        em{
                            color: var(--heading);
                        }
                    }
                }
            }
            .f-date {
                width: 85px;
                height: 85px;
                background-color: var(--pagebg);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 10px;
                text-align: center;
                border-radius: 5px;
                strong,i{
                    @extend .f-float;
                }
                strong{
                    color: var(--heading);
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 1;
                }
                i{
                    color: var(--text);
                    font-weight: 400;
                    font-style: normal;
                    font-size: 1.1rem;
                    line-height: 1;
                    margin-top: 3px;
                    text-transform: uppercase;
                }
            }
        }
        .f-meta {
            padding: 20px;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                left: 20px;
                right: 20px;
                background-color: var(--pagebg);
                height: 1px;
                top: 0;
            }
            ul{
                @extend .f-float;
                margin: 0;
                li{
                    float: left;
                    line-height: 1.2;
                    font-size: 0.85rem;
                    color: var(--text);
                    &+li{
                        margin-left: 12px;
                        padding-left: 12px;
                    }
                    &:nth-child(2){
                        border-left: 1px solid #CCC;
                    }
                }
            }
        }
    }
    .f-foot{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            left: 20px;
            right: 20px;
            background-color: var(--pagebg);
            height: 1px;
            top: 0;
        }
        .f-action{
            float: left;
            padding-right: 15px;
            .ant-checkbox-wrapper{
                float: left;
                &+.ant-checkbox-wrapper{
                    margin-left: 20px;
                }
                .ant-checkbox{
                    display: none;
                    &+span{
                        background-color: #FFF;
                        color: var(--text);
                        border: 1px solid #CCC;
                        border-radius: 5px;
                        float: left;
                        padding: 12px 15px;
                        line-height: 1;
                        font-weight: 400;
                        font-size: 0.9rem;
                        min-width: 95px;
                        text-align: center;
                    }
                }
                .ant-checkbox-checked+span{
                    background-color: var(--green);
                    border-color: var(--green);
                    color: #FFF;
                }
                .ant-checkbox-disabled+span{
                    background-color: #efefef;
                    border-color: #e8e8e8;
                    color: #9a9a9a;
                }
            }
        }
        .f-btn-calendar{
            float: right;
            background-image: url(../../assets/images/icon/calendar.png);
            background-position: center center;
            background-repeat: no-repeat;
            border: none;
            padding: 0;
            width: 36px;
            height: 36px;
            color: var(--text);
            font-size: 1.5rem;
            line-height: 1;
            box-shadow: none;
            outline: none;
        }
    }
}
// Mobile
@media only screen and (max-width:640px){
    .eventCard {
        .f-head {
            padding: 10px 15px;
            .f-west {
                h5 {
                    font-size: 0.82rem;
                    margin: 0 0 5px;
                }
                h6 {
                    font-size: 0.65rem;
                }
                span{
                    &.ant-avatar {
                        width: 40px;
                        height: 40px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .f-sect {
            .f-agenda {
                padding: 15px;
                .f-date {
                    width: 65px;
                    height: 65px;
                    strong{
                        font-size: 1.5rem;
                    }
                    i{
                        font-size: 0.9rem;
                    }
                }
                .f-east {
                    padding-left: 15px;
                    h3 {
                        font-size: 1rem;
                        margin: 0 0 2px;
                    }
                }
            }
            .f-poster {
                min-height: 125px;
                .f-overlay {
                    padding: 15px;
                    .ant-tag{
                        padding: 6px 9px;
                    }
                }
            }
            .f-meta {
                padding: 15px;
                ul {
                    flex-wrap: wrap;
                    li {
                        font-size: 0.8rem;
                        &:nth-child(3){
                            width: 100%;
                            padding: 10px 0 0;
                            margin: 0 !important;
                        }
                    }
                }
            }
        }
    }
}