.f-offlinemembership{
    .f-boxed{
        flex-direction: column;
        max-width: 1280px;
    }
}
.f-offline-req-form {
    float: left;
    width: 100%;
    padding: 25px 15px;
}
.f-offline-req-form-in {
    float: left;
    width: 100%;
    padding: 25px 20px;
    background-color: #FFF;
    margin-top: 30px;
    .f-alt {
        position: relative;
        .ant-form-item {
            margin: 0;
        }
    }
    .ant-radio-group{
        float: left;
        width: auto;
        margin: 7px 0 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        .ant-radio-wrapper{
            float: left;
            margin-right: 15px;
            flex: 1 1 0;
            &.ant-radio-wrapper-disabled{
                .ant-radio-checked{
                    .ant-radio-inner{
                        border-color: #aaa !important;
                        &:after{
                            background-color: #CCC !important;
                        }
                    }
                    &+span{
                        color: inherit !important;
                        border-color: inherit !important;
                    }
                }
            }
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                .ant-radio{
                    &+span{
                        font-weight: 500;
                    }
                }
            }
            .ant-radio{
                // display: none;
                &+span{
                    // border: 1px dashed var(--text);
                    // color: var(--text);
                    // font-size: 0.8rem;
                    // text-align: center;
                    // height: 55px;
                    // display: flex;
                    // align-items: center;
                    // flex-direction: column;
                    // padding: 10px;
                    // justify-content: center;
                    // line-height: 1.2;
                    // border-radius: 5px; 
                    // padding: 0;
                    // small{
                    //     font-size: 0.7rem;
                    // }
                }
                &.ant-radio-checked{
                    .ant-radio-inner{
                        border-color: #7e57c2;
                        &:after{
                            background-color: #7e57c2;
                        }
                    }
                    &+span{
                        font-weight: 500;
                        color: #7e57c2;
                        border-color: #7e57c2;
                    }
                }
            }
        }
    }
    .f-phone-combined{
        margin: 0;
        .ant-form-item{
            margin: 0;
            flex: 0 0 200px;
            max-width: 200px;
            &+.ant-form-item{
                flex:1 1 0px;
                max-width:unset;
            }
            input[type="text"] {
                min-height: 42px;
            }
        }
    }
    .f-txt-area {
        margin-bottom: 10px;
        textarea{
            resize: none;
        }
    }
    .f-frm-submit{
        text-align: center;
        .ant-form-item{
            margin: 0;
        }
        .f-button {
            min-width: 200px;
        }
    }
}
.f-offline-req-table{
    float: left;
    width: 100%;
    margin-top: 30px;
}
.f-offline-req-table-in{
    padding: 0 0 15px;
    background-color: #FFF;
    float: left;
    width: 100%;
    position: relative;
    .ant-table-wrapper > tr {
        &>th,&>td{
            padding: 12px;
        }
    }
    .f-no-lrp {
        padding-left: 0 !important;
        padding-right: 10px !important;
    }
}
.f-offline-drop {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 100;
    .f-offline-drop-i {
        background-color: #FFF;
        box-shadow: 3px 7px 11px rgba(0,0,0,0.1);
        border: 1px solid #ddd;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }
    .f-offline-drop-j {
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    .f-offline-drop-k {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding: 10px 15px;
        border-top: 1px solid #f1f1f1;
        cursor: pointer;
        font-size: 14px;
        line-height: 1.5;
        &:hover{
            background-color: var(--primary);
            color: #FFF;
        }
        &:nth-child(1){
            border-top: none;
        }
    }
}
// Mobile
@media only screen and (max-width:800px){
    .f-offline-req-form-in {
        .f-split {
            flex-direction: column;
            &>div{
                margin-right: 0 !important;
            }
        }
        .f-phone-combined .ant-form-item{
            flex: 0 0 140px;
            max-width: 140px;
        }
    }
    .f-offline-req-table-in{
        overflow-y: auto;
        .ant-table-wrapper {
            min-width: 500px;
            tr {
                th, td{
                    padding-top: 6px;
                    padding-bottom: 6px;
                    white-space: nowrap;
                    font-size: 13px;
                }
            }
        }
    }
}