.main-div{
    .f-btn-share{
        background-image: url(../../../../assets/images/icon/share_filled.png);
        height: 18px;
        margin-left: 5px;
        padding-left: 1px;
        border: 0px;
    }
}