.CreatePost{
    .f-boxed {
        max-width: 740px;
        margin: 30px auto;
    }
    .hide{
        display: none;
    }
}
@media only screen and (max-width:520px){
    .CreatePost {
        .f-boxed {
            flex-direction: column;
            position: relative;
            .f-create-form-head {
                padding-left: 55px !important;
            }
            .f-create-form-back {
                margin: 0;
                padding: 0;
                width: 50px;
                position: absolute;
                top: 5px;
                left: 16px;
                border: none !important;
                background-color: none !important;
            }
        }
    }
}