.f-modal-wizard.f-modal-altx .ant-modal-footer{
    display: block !important;
}
.f-modal-altxz {
    .ant-modal-title {
        text-transform: capitalize;
    }
    .f-modal-wiz-footer {
        margin-top: 0 !important;
        .f-fill{
            text-transform: capitalize;
        }
    }
    .f-form-layout{
        margin-top: 15px;
    }
    .f-share-scroll{
        margin-top: 15px;
    }
}
@media only screen and (max-width:620px) {
    .f-modal-altxz{
        .f-member-cardx {
            width: 100% !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }
}