.ResultPage {
  .f-float {
    float: left;
    width: 100%;
  }
  .f-event-details {
    @extend .f-float;
  }
  .f-head {
    @extend .f-float;
  }
  .f-sect {
    @extend .f-float;
    padding-top: 30px;
  }
  .f-events-main {
    width: 100%;
    max-width: 720px;
    float: right;
    padding-left: 25px;
  }
  .f-search-result {
    @extend .f-float;
  }
  .f-family-list {
    @extend .f-float;
    display: flex;
    flex-wrap: wrap;
    .f-family-card {
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      padding: 0;
      width: calc(50% - 7px);
      box-shadow: 0 1px 25px rgba(40, 53, 86, 0.1);
      margin: 0 7px 15px 7px;
      &:nth-child(odd) {
        margin-left: 0;
      }
      &:nth-child(even) {
        margin-right: 0;
      }
      .f-inset {
        @extend .f-float;
        padding: 15px;
      }
      footer {
        @extend .f-float;
        background-color: #f7f7f7;
        border-top: 1px solid #eeeeee;
        .ant-btn {
          border: none;
          width: 100%;
          float: left;
          line-height: 1;
          height: 40px;
          box-shadow: none;
          background-color: transparent !important;
          color: var(--green);
          font-weight: 600;
          &[disabled] {
            color: #999;
          }
        }
      }
      .f-start {
        @extend .f-float;
        display: flex;
        .f-left {
          padding-right: 12px;
          flex: 0 0 92px;
          img {
            border-radius: 5px;
            width: 100%;
          }
        }
        .f-right {
          flex: 1 1 0;
          h4,
          h5,
          h6 {
            @extend .f-float;
          }
          h4 {
            color: #202020;
            font-size: 1rem;
            margin: 0 0 5px 0;
            line-height: 1;
            font-weight: 600;
          }
          h5,
          h6 {
            color: var(--text);
          }
          h5 {
            font-weight: 300;
            margin: 0 0 7px;
            strong {
              font-weight: 500;
            }
          }
          h6 {
            font-weight: 400;
            font-size: 0.8rem;
            // line-height: 1;
            margin: 0;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 190px;
            line-height: 1.2;
            & + h6 {
              margin: 7px 0 0;
            }
            &.f-pin {
              background-image: url(../../assets/images/icon/location.png);
              background-position: left top;
              background-size: auto 12px;
              background-repeat: no-repeat;
              padding-left: 15px;
            }
          }
        }
        min-height: 80px;
        // .f-right h6 {
        //   width: 100%;
        //   overflow: hidden;
        //   text-overflow: ellipsis;
        //   white-space: nowrap;
        //   max-width: 190px;
        //   line-height: 1.2;
        // }
      }
      .f-stop {
        @extend .f-float;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
          font-size: 0.85rem;
          margin: 0;
          color: var(--text);
          font-weight: 400;
          line-height: 1;
          strong {
            color: var(--green);
            font-weight: 500;
          }
        }
      }
      .f-right-combo {
        @extend .f-float;
        display: flex;
        align-items: center;
        margin-top: 3px;
        .ant-btn {
          background-color: var(--green);
          color: #fff;
          border-color: var(--green);
          height: 25px;
          line-height: 1;
          padding: 0 10px;
          font-size: 0.75rem;
          border-radius: 5px;
          &:hover {
            background-color: var(--primary);
            border-color: var(--primary);
          }
          & + .f-line {
            margin-left: 10px;
          }
          &.f-line {
            background-color: #fff;
            color: var(--green);
            &:hover {
              border-color: var(--primary);
              color: var(--primary);
            }
          }
        }
        .pd-l{
          padding-left: 3%;
          img{
            width: 30px;
          }
        }
      }
    }
  }
  .f-results-search-bar {
    @extend .f-float;
    margin-bottom: 20px;
    .ant-input {
      font-size: 0.85rem;
    }
    .ant-btn {
      background-color: var(--green);
      border-color: var(--green);
      font-size: 0.85rem;
    }
  }
  .f-search-bar-header {
    @extend .f-float;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h5 {
      float: left;
      margin: 0;
      padding-right: 15px;
      color: #c7c7cc;
      font-size: 0.9rem;
      line-height: 1;
      font-weight: 400;
    }
  }
  .f-event-card,
  .postsCard {
    .f-sect {
      padding-top: 0;
    }
  }
}

@media only screen and (max-width: 1030px) {
  .ResultPage {
    .SearchSidebar {
      max-width: 100%;
      margin-bottom: 10px;
      position: relative !important;
      top: unset !important;
      height: unset !important;
      overflow: auto !important;
      .f-sider-block {
        padding: 0 !important;
        border: none !important;
      }
      .f-sider-menu-incl {
        display: inline-block;
        overflow-x: auto;
        white-space: nowrap;
      }
      .f-sider-menu {
        display: flex;
        justify-content: flex-start;
        li {
          padding: 12px 15px !important;
          height: unset !important;
          line-height: unset !important;
          border: none !important;
          justify-content: center;
          img {
            display: none;
          }
          span {
            float: left;
            padding: 0 !important;
            line-height: 1;
          }
          &.ant-menu-item-active, &.ant-menu-item-selected {
            &:after {
              background-color: var(--green);
            }
          }
          &:after {
            left: 0;
            top: unset !important;
            bottom: 0 !important;
            border: none;
            width: 100%;
            height: 2px;
          }
        }
      }
    }
    .f-events-main {
      max-width: 100% !important;
      padding: 0 !important;
    }
  }
}
@media only screen and (max-width: 767px) {
    .ResultPage .f-family-list .f-family-card {
        width: 100%;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}