.rone-form-control {
  float: left;
  width: 100%;
  padding: 25px;
  text-align: center;
}

.rone-add-new-vehicle-header {
  float: left;
  width: 100%;
  margin: 5px 0 30px;
}

.rone-add-new-vehicle-header .rone-assignment-right {
  float: right;
  max-width: 200px;
}

.rone-add-new-vehicle-header .rone-assignment-left {
  float: left;
  width: 100%;
  max-width: calc(100% - 245px);
}

.rone-add-new-vehicle-header .rone-assignment-left h3 {
  font-size: 1.563rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: var(--color-for);
  float: left;
  width: 100%;
  margin: 8px 0 0px;
}

.rone-add-new-vehicle-box {
  display: inline-block;
  width: 1100px;
  max-width: 100%;
  vertical-align: top;
  text-align: left;
  padding: 20px 0 50px;
}

.rone-add-new-vehicle-box .rone-accordion-box {
  float: left;
  width: 100%;
  text-align: left;
}

.rone-add-new-vehicle-box .rone-accordion-box .ant-collapse-borderless {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}

.rone-add-new-vehicle-box .rone-accordion-box .ant-collapse {
  border-radius: 10px;
}

.rone-add-new-vehicle-box .rone-accordion-box .ant-collapse > .ant-collapse-item:first-child .ant-collapse-header {
  border-radius: 10px 10px 0 0;
}

.rone-add-new-vehicle-box .rone-accordion-box .ant-collapse > .ant-collapse-item:last-child {
  border-bottom: none;
}

.rone-add-new-vehicle-box .rone-accordion-box .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: var(--color-one);
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.125rem;
  padding: 25px 40px 25px 25px;
}

.rone-add-new-vehicle-box .rone-accordion-box .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
  right: 30px;
  left: unset;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid var(--color-one);
  color: var(--color-one);
}

.rone-add-new-vehicle-box .rone-accordion-box .ant-collapse > .ant-collapse-item.ant-collapse-item-active > .ant-collapse-header {
  background-color: #faf8fb;
}

.rone-add-new-vehicle-box .rone-accordion-box .ant-collapse > .ant-collapse-item.ant-collapse-item-active > .ant-collapse-header .arrow {
  background-color: var(--color-one);
  color: #FFF;
}

.rone-add-new-vehicle-box .rone-accordion-box .ant-collapse > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding: 25px;
}

.rone-add-mpl-txt {
  float: left;
  width: 100%;
  color: #363636;
  font-size: 0.73rem;
  margin: 10px 0 5px;
}
