.RequestDetails {
    .f-boxed {
        // max-width: 740px;
        margin: 30px auto;
    }
    .f-gobck{
        float: left;
        width: 40px;
        height: 40px !important;
    }
    .f-float{
        float: left;
        width: 100%;
    }
    .f-request-details-wrap{
        width: 100%;
        max-width: 720px;
        float: right;
        padding-left: 25px;
    }
    .f-post-listing {
        @extend .f-float;
        position: relative;
    }
    .hide {
        display: none;
    }
    .f-req-details-header{
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 15px;
        .ant-input-search {
            max-width: 215px;
            width: 100%;
            .ant-input {
                border: none;
                background-color: #e9e9e9;
                border-radius: 5px;
                box-shadow: none;
                outline: none;
                height: 40px;
                color: #444;
                font-size: 0.85rem;
            }
        }
        .f-left {
            
            float: left;
            margin-right: 15px;
            .mr-top{
                margin-top:5%
            }
            h4{
                font-size: 1.2rem;
                margin: 0;
                line-height: 1;
                float: left;
                color: #464647;
            }
            h5{
                float: left;
                color: #9a9a9a;
                clear: left;
                margin: 6px 0 0;
                font-weight: 400;
                font-size: 0.9rem;
                em{
                    color: #464647;
                    font-style: normal;
                }
            }
        }
    }
    .f-req-author-card{
        float: left;
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding: 20px;
        .f-left {
            flex: 0 0 120px;
            margin-right: 20px;
            float: left;
            img {
                width: 100%;
                max-width: 120px;
                border-radius: 5px;
            }
        }
        .f-right{
            flex: 1 1 0px;
            float: left;
            h2{
                float: left;
                color: var(--primary);
                width: 100%;
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 1.1;
                margin: 0 0 12px;
            }
            h3{
                float: left;
                width: 100%;
                color: #242424;
                line-height: 1.1;
                font-size: 1rem;
                font-weight: 500;
                margin: 0 0 7px;
            }
            h4{
                float: left;
                width: 100%;
                color: #717579;
                line-height: 1;
                font-size: 0.85rem;
                font-weight: 400;
                margin: 0 0 10px;
            }
            span{
                float: left;
                width: 100%;
                display: flex;
                margin: 4px 0 0;
                em{
                    flex: 0 0 50%;
                    color: #a0a0a0;
                    font-size: 0.85rem;
                    background-repeat: no-repeat;
                    background-position: left top;
                    line-height: 1.5;
                    background-size: auto 19px;
                    font-weight: 400;
                    font-style: normal;
                    &:nth-child(1){
                        background-image: url(../../assets/images/icon/timer.png);
                        padding-left: 27px;
                        padding-right: 10px;
                    }
                    &:nth-child(2){
                        padding-left: 25px;
                        background-image: url(../../assets/images/icon/location.png);
                    }
                }
            }
        }
    }
    .f-req-card-list{
        float: left;
        width: 100%;
        .f-req-card{
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            border-radius: 5px;
            padding: 20px;
            width: 100%;
            float: left;
            &+.f-req-card{
                margin-top: 20px;
            }
            h4 {
                color: #202020;
                font-size: 1rem;
                margin: 0 0 9px 0;
                line-height: 1;
                font-weight: 600;
            }
            p {
                color: #898989;
                font-weight: 300;
                margin: 0 0 6px;
                font-size: 0.9rem;
                line-height: 1.2;
            }
            .f-top{
                float: left;
                width: 100%;
            }
            .f-bottom{
                float: left;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
                .f-left {
                    float: left;
                    padding-right: 15px;
                    strong{
                        color: #202020;
                        float: left;
                        font-size: 0.95rem;
                        font-weight: 500;
                        line-height: 1;
                        em{
                            font-style: normal;
                            font-size: 1.1rem;
                            color: var(--green);
                        }
                    }
                    p{
                        margin: 4px 0 0;
                        line-height: 1;
                        clear: both;
                        font-size: 0.8rem;
                        float: left;
                    }
                }         
            }
        }
    }
    .ant-btn.f-btn-green {
        background-color: var(--green);
        border: 1px solid var(--green);
        height: 32px;
        color: #FFF;
        &:hover{
            border: 1px solid var(--green);
            color: #FFF;
        }
        &.f-line {
            background-color: #fff;
            border: 1px solid var(--green);
            color: var(--green);
            &:hover{
                background-color: var(--green);
                color: #fff;
            }
        }
        &+.f-btn-green{
            margin-left: 15px;
        }
    }
}
@media only screen and (max-width: 520px) {
    .RequestDetails {
        .f-boxed {
            flex-direction: column;
            position: relative;
            .f-create-form-head {
                padding-left: 55px !important;
            }
            .f-create-form-back {
                margin: 0;
                padding: 0;
                width: 50px;
                position: absolute;
                top: 5px;
                left: 16px;
                border: none !important;
                background-color: none !important;
            }
        }
    }
}
